<bc-spinner class="block" *ngIf="loading; else showCandidates"></bc-spinner>
<ng-template #showCandidates>
  <bc-table class="w-full" [dataSource]="dataSource">
    <ng-container columnDef="number">
      <bc-header-cell *headerCellDef>
        <div class="truncate">{{ 'MAJORITY_ELECTION.CANDIDATE.NUMBER_SHORT' | translate }}</div>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element"><div class="truncate">{{ element.number }}</div></bc-data-cell>
    </ng-container>

    <ng-container columnDef="lastName">
      <bc-header-cell *headerCellDef>
        {{ 'MAJORITY_ELECTION.CANDIDATE.LAST_NAME' | translate }}
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element"><div class="truncate">{{ element.lastName }}</div></bc-data-cell>
    </ng-container>

    <ng-container columnDef="firstName">
      <bc-header-cell *headerCellDef>
        {{ 'MAJORITY_ELECTION.CANDIDATE.FIRST_NAME' | translate }}
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element"><div class="truncate">{{ element.firstName }}</div></bc-data-cell>
    </ng-container>

    <ng-container columnDef="dateOfBirth">
      <bc-header-cell *headerCellDef>
        <div class="truncate">{{ 'MAJORITY_ELECTION.CANDIDATE.DATE_OF_BIRTH' | translate }}</div>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element"><div class="truncate">{{ element.dateOfBirth | date }}</div></bc-data-cell>
    </ng-container>

    <ng-container columnDef="sex">
      <bc-header-cell *headerCellDef>
        <div class="truncate">{{ 'MAJORITY_ELECTION.CANDIDATE.SEX' | translate }}</div>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element"><div class="cell-container">{{'SEX_TYPE.' + element.sex | translate}}</div></bc-data-cell>
    </ng-container>

    <ng-container columnDef="title">
      <bc-header-cell *headerCellDef>
        <div class="truncate">{{ 'MAJORITY_ELECTION.CANDIDATE.TITLE' | translate }}</div>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element"><div class="truncate">{{ element.title }}</div></bc-data-cell>
    </ng-container>

    <ng-container columnDef="incumbent">
      <bc-header-cell *headerCellDef>
        <div class="truncate">{{ 'MAJORITY_ELECTION.CANDIDATE.INCUMBENT' | translate }}</div>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element"><bc-icon *ngIf="element.incumbent" icon="checkmark"></bc-icon></bc-data-cell>
    </ng-container>

    <ng-container columnDef="zipCode">
      <bc-header-cell *headerCellDef>
        <div class="truncate">{{ 'MAJORITY_ELECTION.CANDIDATE.ZIP_CODE' | translate }}</div>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element"><div class="truncate">{{ element.zipCode }}</div></bc-data-cell>
    </ng-container>

    <ng-container columnDef="locality">
      <bc-header-cell *headerCellDef>
        <div class="truncate">{{ 'MAJORITY_ELECTION.CANDIDATE.LOCALITY' | translate }}</div>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element"><div class="truncate">{{ element.locality }}</div></bc-data-cell>
    </ng-container>


    <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
    <bc-data-row *dataRowDef="let row; columns: columns; let i = index"></bc-data-row>
  </bc-table>
</ng-template>
<bc-paginator #paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></bc-paginator>
