@if (loading) {
  <bc-spinner class="block"></bc-spinner>
} @else {
  <bc-table class="w-full" [dataSource]="dataSource">

    <ng-container columnDef="politicalBusinessNumber">
      <th bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'POLITICAL_BUSINESS.NUMBER' | translate"></app-truncated-value>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.politicalBusinessNumber"></app-truncated-value>
      </td>
    </ng-container>

    <ng-container columnDef="shortDescription">
      <th bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'POLITICAL_BUSINESS.SHORT_DESCRIPTION' | translate"></app-truncated-value>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.shortDescription | getTranslation"></app-truncated-value>
      </td>
    </ng-container>

    <ng-container columnDef="domainOfInfluenceName">
      <th bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'POLITICAL_BUSINESS.DOMAIN_OF_INFLUENCE' | translate"></app-truncated-value>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.domainOfInfluence.name"></app-truncated-value>
      </td>
    </ng-container>


    <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
    <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>
  </bc-table>
}
<bc-paginator #paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></bc-paginator>
