<vo-lib-dialog [header]="(!isNew ? 'POLITICAL_BUSINESS_UNION.EDIT' : 'POLITICAL_BUSINESS_UNION.NEW') | translate" (dialogClose)="cancel()">
  <div content class="form mr-3">
    <bc-text [label]="'PROPORTIONAL_ELECTION.LIST_UNION.DESCRIPTION' | translate"
             [required]="true"
             [(value)]="data.description"
             [subscriptSizing]="'dynamic'"></bc-text>

    <bc-dropdown class="full-width"
                 [label]="'POLITICAL_BUSINESS_UNION.TYPE' | translate"
                 [items]="politicalBusinessUnionTypes"
                 [readonly]="!isNew || politicalBusinessUnionTypes.length === 1"
                 [required]="true"
                 displayExpr="description"
                 valueExpr="value"
                 [(value)]="data.type"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>
  </div>

  <vo-lib-button-bar footer
                     [canSave]="canSave"
                     [saving]="saving"
                     [sticky]="false"
                     (save)="save()"
                     (cancel)="cancel()"></vo-lib-button-bar>
</vo-lib-dialog>
