<vo-lib-dialog>
  <h1 header>{{(!isNew ? 'POLITICAL_BUSINESS_UNION.EDIT' : 'POLITICAL_BUSINESS_UNION.NEW') | translate}}</h1>

  <div content class="form mr-3">
    <bc-text [label]="'PROPORTIONAL_ELECTION.LIST_UNION.DESCRIPTION' | translate"
             [required]="true"
             [(value)]="data.description"></bc-text>

    <bc-dropdown class="full-width"
                 [label]="'POLITICAL_BUSINESS_UNION.TYPE' | translate"
                 [items]="politicalBusinessUnionTypes"
                 [disabled]="!isNew || politicalBusinessUnionTypes.length === 1"
                 [required]="true"
                 displayExpr="description"
                 valueExpr="value"
                 [(value)]="data.type"></bc-dropdown>
  </div>

  <div footer class="mr-3">
    <vo-lib-button-bar footer
                       [canSave]="canSave"
                       [saving]="saving"
                       [sticky]="false"
                       (save)="save()"
                       (cancel)="cancel()"></vo-lib-button-bar>
  </div>
</vo-lib-dialog>
