@use '@abraxas/voting-lib/style/color' as *;

:host {
  display: grid;
  grid-template-columns: max-content minmax(0, 1fr);
  grid-template-rows: minmax(0, 1fr);
}

[draggable] {
  cursor: move;
}

.available-mappings {
  display: flex;
  flex-direction: column;

  .available-mapping-entries {
    overflow: auto;
    flex-shrink: 1;
    flex-grow: 1;
    border: 2px dashed transparent;
    border-radius: 5px;

    &.drag-over {
      border-color: $color-border-soft;
      background-color: $color-surface-bg-neutral;
    }

    .available-mapping {
      display: flex;
      align-items: center;
      border-radius: 0.3rem;
      border: 1px solid $color-border-soft;
    }
  }
}

.parties {
  border-left: 1px solid $color-border-soft;
  display: flex;
  flex-direction: column;

  .parties-content {
    overflow: auto;

    table {
      border-collapse: collapse;
      width: 100%;

      th {
        text-align: left;
        color: $color-text-primary;
        border-bottom: 1px solid $color-border-secondary;

        &:first-child {
          padding-left: 0.2rem;
        }

        &.no-wrap ::ng-deep label {
          width: 1%;
          white-space: nowrap;
        }
      }

      td {
        border-bottom: 1px solid $color-border-soft;
        padding: 0.75rem 0.75rem 0.75rem 0;
        text-overflow: ellipsis;
        overflow: hidden;

        &:first-child {
          padding-left: 0.2rem;
        }
      }

      .drag-over td {
        background-color: $color-surface-bg-neutral;
      }
    }
  }
}

.chip {
  background-color: $color-surface-bg-neutral-dim;
  border-radius: 0.4rem;
  display: inline-flex;
  align-items: center;

  bc-icon {
    cursor: pointer;
  }
}
