<div *ngIf="plausiConfig">
  <p class="mb-1">{{ translationPrefix + 'COMPARISON_VOTER_PARTICIPATION_CONFIGURATION.TITLE' | translate }}</p>

  <div *ngFor="let item of plausiConfig.comparisonVoterParticipationConfigurationsList"
       class="grid-container voter-participations mb-2">
    <bc-dropdown [label]="translationPrefix + 'COMPARISON_VOTER_PARTICIPATION_CONFIGURATION.MAIN_LEVEL' | translate"
                 [items]="domainOfInfluenceTypeItems"
                 [readonly]="readonly"
                 [required]="true"
                 displayExpr="description"
                 valueExpr="value"
                 [value]="item.mainLevel"
                 (valueChange)="item.mainLevel = $event; contentChanged.emit()"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>

    <bc-dropdown [label]="translationPrefix + 'COMPARISON_VOTER_PARTICIPATION_CONFIGURATION.COMPARISON_LEVEL' | translate"
                 [items]="domainOfInfluenceTypeItems"
                 [readonly]="readonly"
                 [required]="true"
                 displayExpr="description"
                 valueExpr="value"
                 [value]="item.comparisonLevel"
                 (valueChange)="item.comparisonLevel = $event; contentChanged.emit()"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>

    <bc-number [label]="translationPrefix + 'THRESHOLD' | translate"
               [min]="0"
               [readonly]="readonly"
               [value]="item.thresholdPercent"
               (valueChange)="item.thresholdPercent = $event; contentChanged.emit()"
               [subscriptSizing]="'dynamic'"></bc-number>
    <bc-icon *ngIf="!readonly"
             class="pt-3 clickable"
             icon="trash"
             iconColor="error"
             (click)="removeVoterParticipationConfiguration(item); contentChanged.emit()"></bc-icon>
  </div>

  <bc-button *ngIf="!readonly"
             variant="tertiary"
             icon="plus"
             [label]="translationPrefix + 'COMPARISON_VOTER_PARTICIPATION_CONFIGURATION.ADD' | translate"
             (buttonClick)="addVoterParticipationConfiguration(); contentChanged.emit()"></bc-button>

  <p class="mt-3 mb-1">{{ translationPrefix + 'COMPARISON_COUNT_OF_VOTERS_CONFIGURATION.TITLE' | translate }}</p>
  <div class="grid-container count-of-voters mb-2">
    <div *ngFor="let item of plausiConfig.comparisonCountOfVotersConfigurationsList">
      <bc-number [label]="translationPrefix + 'COMPARISON_COUNT_OF_VOTERS_CONFIGURATION.CATEGORIES.' + item.category | translate"
                 [min]="0"
                 [readonly]="readonly"
                 [value]="item.thresholdPercent"
                 (valueChange)="item.thresholdPercent = $event; contentChanged.emit()"
                 [subscriptSizing]="'dynamic'"></bc-number>

      <div *ngIf="countingCirclesByCategory[item.category]">
        <p *ngFor="let countingCircle of countingCirclesByCategory[item.category]" class="mt-1 mb-0">{{ countingCircle.name }}</p>
      </div>
    </div>
  </div>
  <bc-button *ngIf="!readonly && domainOfInfluence.countingCircles && domainOfInfluence.countingCircles.length > 0"
             variant="tertiary"
             icon="plus"
             [label]="translationPrefix + 'COMPARISON_COUNT_OF_VOTERS_CONFIGURATION.ASSIGN' | translate"
             (buttonClick)="openAssignCountOfVoterCountingCirclesDialog()"></bc-button>

  <p class="mt-3 mb-1">{{ translationPrefix + 'COMPARISON_VOTING_CHANNEL_CONFIGURATION.TITLE' | translate }}</p>
  <div class="grid-container voting-channels">
    <bc-number *ngFor="let item of plausiConfig.comparisonVotingChannelConfigurationsList"
               [label]="'VOTING_CHANNELS.' + item.votingChannel | translate"
               [min]="0"
               [readonly]="readonly"
               [value]="item.thresholdPercent"
               (valueChange)="item.thresholdPercent = $event; contentChanged.emit()"
               [subscriptSizing]="'dynamic'"></bc-number>
  </div>

  <bc-number [label]="translationPrefix + 'COMPARISON_VALID_VOTING_CARDS_WITH_ACCOUNTED_BALLOTS_THRESHOLD_PERCENT.TITLE' | translate"
             [min]="0"
             [readonly]="readonly"
             [value]="plausiConfig.comparisonValidVotingCardsWithAccountedBallotsThresholdPercent"
             (valueChange)="plausiConfig.comparisonValidVotingCardsWithAccountedBallotsThresholdPercent = $event; contentChanged.emit()"
             class="mt-3"
             [subscriptSizing]="'dynamic'"></bc-number>
</div>
