@if (loading) {
  <bc-spinner class="block"></bc-spinner>
} @else {
  <h2 translate [translateParams]="{name: (currentMajorityElection?.shortDescription | getTranslation)}">
    MAJORITY_ELECTION.CANDIDATE.TITLE_DESCRIPTION
  </h2>
  <div class="flex">
    <bc-button variant="tertiary"
      icon="plus"
      [label]="'MAJORITY_ELECTION.CANDIDATE.NEW' | translate"
      [disabled]="locked || eVotingApproved || readonly"
    (buttonClick)="createCandidate()"></bc-button>
    @if (currentMajorityElection) {
      <bc-button
        variant="tertiary"
        icon="download"
        [label]="'IMPORT.IMPORT_MAJORITY_ELECTION_CANDIDATES.TITLE' | translate"
        [disabled]="testingPhaseEnded || locked || eVotingApproved || readonly"
        (buttonClick)="importCandidates()"
      class="ml-2"></bc-button>
    }
  </div>

  <app-majority-election-candidate-list [candidates]="expandedCandidates"
                                        [testingPhaseEnded]="testingPhaseEnded"
                                        [locked]="locked || eVotingApproved"
                                        [readonly]="readonly"
                                        [eVotingEverApproved]="eVotingEverApproved"
                                        [reordering]="reordering"
                                        (candidatesReordered)="reorderCandidates($event)"
                                        (edit)="editCandidate($event)"
                                        (delete)="deleteCandidate($event)"
                                        class="mb-2">
  </app-majority-election-candidate-list>
  @for (secondaryMajorityElection of secondaryElections; track secondaryMajorityElection) {
    <app-secondary-majority-election-candidates
      [testingPhaseEnded]="testingPhaseEnded"
      [locked]="locked"
      [eVotingApproved]="secondaryMajorityElection.eVotingApproved"
      [eVotingEverApproved]="secondaryMajorityElection.eVotingEverApproved"
      [readonly]="readonly"
      [secondaryMajorityElection]="secondaryMajorityElection"
      [candidateLocalityRequired]="candidateLocalityRequired"
      [candidateOriginRequired]="candidateOriginRequired"
      [hideOccupationTitle]="hideOccupationTitle"
      [enableAdditionalCandidateFields]="enableAdditionalCandidateFields"
      [domainOfInfluenceType]="currentDomainOfInfluence?.type"
      [parties]="parties">
    </app-secondary-majority-election-candidates>
  }
  @if (currentMajorityElection) {
    <app-majority-election-ballot-group-overview
      [testingPhaseEnded]="testingPhaseEnded"
      [locked]="locked"
      [readonly]="readonly"
      [loadBallotGroupsInitially]="loadDependencies"
      [majorityElection]="currentMajorityElection"
      [secondaryMajorityElections]="secondaryElections">
    </app-majority-election-ballot-group-overview>
  }
}
