<bc-table selection class="w-full" [dataSource]="dataSource">

  <ng-container columnDef="select">
    <bc-header-cell *headerCellDef></bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <bc-checkbox class="ml-2" (checkedChange)="setSelected(element, $event)"
        [checked]="selection.isSelected(element)">
      </bc-checkbox>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="filename">
    <bc-header-cell *headerCellDef>
      <app-truncated-value [value]="'IMPORT.FILENAME' | translate"></app-truncated-value>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.fileName"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="date">
    <bc-header-cell *headerCellDef>
      <app-truncated-value [value]="'CONTEST.CONTEST_DATE' | translate"></app-truncated-value>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.contestDate | date"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="description">
    <bc-header-cell *headerCellDef>
      <app-truncated-value [value]="'CONTEST.DESCRIPTION' | translate"></app-truncated-value>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.description | getTranslation"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="eVotingFrom">
    <bc-header-cell *headerCellDef>
      <app-truncated-value [value]="'CONTEST.E_VOTING_FROM' | translate"></app-truncated-value>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.eVotingFrom | date:'short'"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="eVotingTo">
    <bc-header-cell *headerCellDef>
      <app-truncated-value [value]="'CONTEST.E_VOTING_FROM' | translate"></app-truncated-value>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.eVotingTo | date:'short'"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
  <bc-data-row *dataRowDef="let row; columns: columns; let i = index" selectionToggle [selectionToggleValue]="row"
    selectionRow [selectionRowValue]="row" (click)="setSelected(row, true)"></bc-data-row>
</bc-table>

<div class="mt-4">
  <bc-dropdown *ngIf="domainOfInfluences.length !== 1" [items]="domainOfInfluences" class="full-width"
    displayExpr="name" valueExpr="id" [required]="true" [(value)]="domainOfInfluenceId"
    (valueChange)="emitContestImport()" [label]="'CONTEST.DOMAIN_OF_INFLUENCE' | translate"></bc-dropdown>

  <bc-date [label]="'CONTEST.END_OF_TESTING_PHASE' | translate" [required]="true"
    (valueChange)="endOfTestingPhaseString = $event; emitContestImport()" [value]="endOfTestingPhaseString"></bc-date>
</div>
