@use '@abraxas/voting-lib/style/color' as *;

.error {
  color: $color-error;
}

.warn {
  color: $color-warning;
}

.hidden {
  display: none !important;
}

h4 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4rem 1fr;
}

.bc-column-actions {
  width: 4rem;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
