<div class="mt-5 grid">
  <div class="ml-1 mr-4 mb-5">
    <h2 translate>MAJORITY_ELECTION.BALLOT_GROUP.TITLE</h2>
    <bc-spinner class="block" *ngIf="loading; else ballotGroupList"></bc-spinner>
    <ng-template #ballotGroupList>
      <div class="flex-end">
        <bc-button variant="tertiary" icon="plus" class="my-2" *ngIf="!forSecondaryElection" [disabled]="locked"
          [label]="'MAJORITY_ELECTION.BALLOT_GROUP.NEW' | translate" (buttonClick)="create()"></bc-button>
        <bc-button variant="tertiary" class="my-2" *ngIf="!!forSecondaryElection"
          [disabled]="!selectedBallotGroup || testingPhaseEnded"
          [label]="'MAJORITY_ELECTION.BALLOT_GROUP.FILL_BLANK_ROWS' | translate"
          (buttonClick)="fillBlankRows()"></bc-button>
      </div>

      <bc-table selection class="w-full" [dataSource]="ballotGroups">
        <ng-container columnDef="position">
          <bc-header-cell *headerCellDef>{{ 'MAJORITY_ELECTION.BALLOT_GROUP.POSITION' | translate }}</bc-header-cell>
          <bc-data-cell *dataCellDef="let element">{{ element.position }}</bc-data-cell>
        </ng-container>

        <ng-container columnDef="shortDescription">
          <bc-header-cell *headerCellDef>{{ 'MAJORITY_ELECTION.BALLOT_GROUP.SHORT_DESCRIPTION' | translate
            }}</bc-header-cell>
          <bc-data-cell *dataCellDef="let element">{{ element.shortDescription }}</bc-data-cell>
        </ng-container>

        <ng-container columnDef="description">
          <bc-header-cell *headerCellDef>{{ 'MAJORITY_ELECTION.BALLOT_GROUP.DESCRIPTION' | translate }}</bc-header-cell>
          <bc-data-cell *dataCellDef="let element">{{ element.description }}</bc-data-cell>
        </ng-container>

        <ng-container columnDef="actions">
          <bc-header-cell *headerCellDef class="actions-header"></bc-header-cell>
          <bc-data-cell *dataCellDef="let element">
            <div *ngIf="!forSecondaryElection && !locked" class="flex">
              <bc-icon *ngIf="element | canEditBallotGroup:testingPhaseEnded" class="clickable"
                (click)="edit(element); $event.stopPropagation()" icon="edit"></bc-icon>
              <bc-icon *ngIf="!testingPhaseEnded" class="clickable ml-2"
                (click)="delete(element); $event.stopPropagation()" icon="trash" iconColor="error"></bc-icon>
            </div>
          </bc-data-cell>
        </ng-container>

        <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
        <bc-data-row *dataRowDef="let row; columns: columns; let i = index" selectionToggle [selectionToggleValue]="row"
          selectionRow [selectionRowValue]="row" (click)="selectedBallotGroup = row"></bc-data-row>
      </bc-table>

      <p class="warn mt-2" *ngIf="ballotGroupsWithMissingSecondaryElection.length > 0">
        {{
        'MAJORITY_ELECTION.BALLOT_GROUP.BALLOT_GROUP_WITHOUT_ELECTION_WARNING'
        | translate: { ballotGroups: ballotGroupsWithMissingSecondaryElectionDescription }
        }}
      </p>
    </ng-template>
  </div>
  <bc-divider orientation="vertical" class="ml-4"></bc-divider>
  <div class="ml-4">
    <app-majority-election-ballot-group-detail [majorityElection]="majorityElection"
      [secondaryMajorityElections]="secondaryMajorityElections" [ballotGroup]="selectedBallotGroup"
      [forSecondaryElection]="forSecondaryElection"
      [readonly]="!(selectedBallotGroup | canEditBallotGroup:testingPhaseEnded)"
      (candidatesAssigned)="updateCanSave()"></app-majority-election-ballot-group-detail>
  </div>
</div>