<vo-lib-dialog>
  <h1 header>{{!isNew ? ('DOMAIN_OF_INFLUENCE.EDIT' | translate) : ('DOMAIN_OF_INFLUENCE.NEW' | translate)}}</h1>

  <div content class="form mr-3 my-2">
    <span *ngIf="!isNew" class="modified">
      {{ ('HISTORIZATION.DOMAIN_OF_INFLUENCE.SUFFIX.ACTIVE' | translate: { modifiedOn: data.modifiedOn | date: 'yyyy-MM-dd / HH:mm' }) }}
    </span>
    <bc-text [label]="'DOMAIN_OF_INFLUENCE.NAME' | translate"
             [required]="true"
             [maxlength]="100"
             [disabled]="readonly || !canEditEverything"
             [value]="data.name"
             (valueChange)="data.name = $event; contentChanged()"
             [subscriptSizing]="'dynamic'"></bc-text>

    <bc-text [label]="'DOMAIN_OF_INFLUENCE.SHORT_NAME' | translate"
             [maxlength]="5"
             [disabled]="readonly || !canEditEverything"
             [value]="data.shortName"
             (valueChange)="data.shortName = $event; contentChanged()"
             [subscriptSizing]="'dynamic'"></bc-text>

    <bc-text [label]="'DOMAIN_OF_INFLUENCE.NAME_FOR_PROTOCOL' | translate"
             [maxlength]="100"
             [disabled]="readonly || !canEditEverything"
             [value]="data.nameForProtocol"
             (valueChange)="data.nameForProtocol = $event; contentChanged()"
             [subscriptSizing]="'dynamic'"></bc-text>

    <bc-text [label]="'DOMAIN_OF_INFLUENCE.BFS' | translate"
             [disabled]="readonly || !canEditEverything"
             [required]="data.type === knownDomainOfInfluenceTypes.DOMAIN_OF_INFLUENCE_TYPE_MU"
             [value]="data.bfs"
             (valueChange)="data.bfs = $event; contentChanged()"
             [subscriptSizing]="'dynamic'"></bc-text>

    <bc-text [label]="'DOMAIN_OF_INFLUENCE.CODE' | translate"
             [maxlength]="20"
             [disabled]="readonly || !canEditEverything"
             [value]="data.code"
             (valueChange)="data.code = $event; contentChanged()"
             [subscriptSizing]="'dynamic'"></bc-text>

    <bc-number [label]="'DOMAIN_OF_INFLUENCE.SORT_NUMBER' | translate"
               [max]="999999999"
               [min]="0"
               [error]="data.sortNumber < 0 || data.sortNumber > 999999999"
               [disabled]="readonly || !canEditEverything"
               [value]="data.sortNumber"
               (valueChange)="data.sortNumber = $event; contentChanged()"
               [subscriptSizing]="'dynamic'"></bc-number>

    <vo-lib-tenant-selection label="DOMAIN_OF_INFLUENCE.AUTHORITY"
                             [disabled]="readonly || !canEditEverything"
                             [selectedTenant]="selectedTenant"
                             (selectedTenantChange)="selectedTenant = $event; contentChanged()"></vo-lib-tenant-selection>

    <bc-checkbox [disabled]="readonly || !canEditEverything"
                 [label]="'DOMAIN_OF_INFLUENCE.HAS_OTHER_SUPERIOR_AUTHORITY_DOMAIN_OF_INFLUENCE' | translate"
                 [checked]="hasOtherSuperiorAuthorityDomainOfInfluence"
                 (checkedChange)="updateHasOtherSuperiorAuthorityDomainOfInfluence($event); contentChanged()"></bc-checkbox>

    <app-domain-of-influence-selection
      *ngIf="hasOtherSuperiorAuthorityDomainOfInfluence"
      [domainOfInfluences]="availableSuperiorAuthorityDomainOfInfluences"
      [disabled]="readonly || !canEditEverything"
      [selectedDomainOfInfluence]="data.superiorAuthorityDomainOfInfluence"
      (selectedDomainOfInfluenceChange)="data.superiorAuthorityDomainOfInfluence = $event; contentChanged()"
    ></app-domain-of-influence-selection>

    <bc-dropdown *ngIf="domainOfInfluenceCantons.length"
                 class="full-width"
                 [label]="'DOMAIN_OF_INFLUENCE.CANTON' | translate"
                 [items]="domainOfInfluenceCantons"
                 displayExpr="description"
                 valueExpr="value"
                 [required]="true"
                 [disabled]="readonly || !canEditEverything"
                 [value]="data.canton"
                 (valueChange)="data.canton = $event; contentChanged()"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>

    <bc-dropdown class="full-width"
                 [label]="'DOMAIN_OF_INFLUENCE.TYPE' | translate"
                 [items]="domainOfInfluenceTypes"
                 [disabled]="!!data.id || readonly || !canEditEverything"
                 displayExpr="description"
                 valueExpr="value"
                 [required]="true"
                 [value]="data.type"
                 (valueChange)="data.type = $event; contentChanged()"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>

    <bc-checkbox
      [disabled]="readonly || !canEditEverything"
      [label]="'DOMAIN_OF_INFLUENCE.VIRTUAL_TOP_LEVEL' | translate"
      [checked]="data.virtualTopLevel"
      (checkedChange)="data.virtualTopLevel = $event; contentChanged()"></bc-checkbox>

    <h2 class="mb-1" translate>CONTACT_PERSON.TITLE</h2>
    <app-contact-person-edit class="form"
                             [disabled]="readonly"
                             [contactPerson]="data.contactPerson!"
                             (contentChanged)="contentChanged()"></app-contact-person-edit>

    <h2 class="mb-1" translate>DOMAIN_OF_INFLUENCE.PARTY.TITLE</h2>
    <app-domain-of-influence-parties [parties]="data.parties"
                                     [disabled]="readonly"
                                     (partiesChange)="data.parties = $event; contentChanged()"></app-domain-of-influence-parties>

    <h2 class="mb-1" translate>DOMAIN_OF_INFLUENCE.AUSMITTLUNG.TITLE</h2>

    <bc-checkbox
      class="ml-0"
      [disabled]="readonly || !canEditEverything"
      [label]="'DOMAIN_OF_INFLUENCE.VIEW_COUNTING_CIRCLE_PARTIAL_RESULTS' | translate"
      [checked]="data.viewCountingCirclePartialResults"
      (checkedChange)="data.viewCountingCirclePartialResults = $event; contentChanged()"></bc-checkbox>

    <h3 class="mb-1" translate>DOMAIN_OF_INFLUENCE.AUSMITTLUNG.VOTER_TYPES.TITLE</h3>
    <bc-checkbox
      class="full-width"
      [disabled]="readonly || !canEditEverything"
      [label]="'DOMAIN_OF_INFLUENCE.AUSMITTLUNG.VOTER_TYPES.FOREIGNER' | translate"
      [checked]="data.hasForeignerVoters"
      (checkedChange)="data.hasForeignerVoters = $event; contentChanged()"></bc-checkbox>

    <bc-checkbox
      class="full-width"
      [disabled]="readonly || !canEditEverything"
      [label]="'DOMAIN_OF_INFLUENCE.AUSMITTLUNG.VOTER_TYPES.MINOR' | translate"
      [checked]="data.hasMinorVoters"
      (checkedChange)="data.hasMinorVoters = $event; contentChanged()"></bc-checkbox>

    <h3 class="mb-1" translate>DOMAIN_OF_INFLUENCE.AUSMITTLUNG.EXPORT_CONFIGURATION.TITLE</h3>
    <app-export-configurations [disabled]="readonly || !canEditEverything"
                               [configurations]="data.exportConfigurationsList"
                               (configurationsChange)="data.exportConfigurationsList = $event; contentChanged()"
                               class="mb-4"></app-export-configurations>

    <ng-container *ngIf="showInternalPlausibilisation">
      <h3 class="mb-1" translate>DOMAIN_OF_INFLUENCE.AUSMITTLUNG.PLAUSIBILISATION_CONFIGURATION.TITLE</h3>
      <app-plausibilisation-configuration [disabled]="readonly"
                                          [domainOfInfluence]="data"
                                          [domainOfInfluenceType]="data.type"
                                          (contentChanged)="contentChanged()"></app-plausibilisation-configuration>
    </ng-container>

    <h2 class="mb-1" translate>DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.TITLE</h2>
    <bc-checkbox
      [disabled]="readonly || !canEditEverything"
      [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.RESPONSIBLE_FOR_VOTING_CARDS' | translate"
      [checked]="data.responsibleForVotingCards"
      (checkedChange)="data.responsibleForVotingCards = $event; contentChanged()"
      class="full-width"></bc-checkbox>
    <bc-checkbox
      [disabled]="readonly || !canEditEverything || !data.responsibleForVotingCards"
      [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.ELECTORAL_REGISTRATION_ENABLED' | translate"
      [checked]="data.electoralRegistrationEnabled"
      (checkedChange)="data.electoralRegistrationEnabled = $event; contentChanged()"
      class="full-width"></bc-checkbox>
    <app-domain-of-influence-voting-card-data-edit *ngIf="data.responsibleForVotingCards"
                                                   [disabled]="readonly"
                                                   [domainOfInfluence]="data"
                                                   (logoChanged)="logoChanged = true; updatedLogo = $event; contentChanged()"
                                                   (contentChanged)="contentChanged()">
    </app-domain-of-influence-voting-card-data-edit>
  </div>

  <div footer class="mr-3">
    <vo-lib-button-bar footer
                       [canSave]="canSave"
                       [saving]="saving"
                       [sticky]="false"
                       [hasSaveButton]="!readonly"
                       (save)="save()"
                       (cancel)="closeWithUnsavedChangesCheck()"></vo-lib-button-bar>
  </div>
</vo-lib-dialog>
