@use '@abraxas/voting-lib/style/color' as *;

.modified {
  color: $color-text-secondary;
  font-style: italic;
}

.flex.split-row {
  align-items: center;

  > * {
    flex: 1 1 0;
  }
}

.stistat-export-container {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  bc-checkbox {
    width: fit-content;
    white-space: nowrap;
  }

  bc-text {
    max-width: 20rem;
  }
}
