<vo-lib-dialog>
  <h1 header>{{('MAJORITY_ELECTION.BALLOT_GROUP.EDIT_DIALOG.' + (isNew ? 'NEW' : 'EDIT' )) | translate }}</h1>

  <div content>
    <bc-simple-stepper #stepper
                       content
                       labelPosition="bottom"
                       (selectItem)="handleStepperIndexUpdate($event)"
                       linear>

      <bc-simple-step [label]="'MAJORITY_ELECTION.BALLOT_GROUP.EDIT_DIALOG.STEP_1.LABEL' | translate">
        <ng-container>
          <app-majority-election-ballot-group-general-informations
            [elections]="elections"
            [ballotGroup]="ballotGroup"
            (contentChange)="contentChanged()"
          ></app-majority-election-ballot-group-general-informations>
        </ng-container>
      </bc-simple-step>

      <bc-simple-step [label]="'MAJORITY_ELECTION.BALLOT_GROUP.EDIT_DIALOG.STEP_2.LABEL' | translate" [disabled]="step === 1 && !canSave">
        <ng-container>
          <app-majority-election-ballot-group-assign-candidates
            [ballotGroup]="ballotGroup"
            [ballotGroupEntries]="ballotGroupEntries"
            (contentChange)="contentChanged()"
          ></app-majority-election-ballot-group-assign-candidates>
        </ng-container>
      </bc-simple-step>

    </bc-simple-stepper>
  </div>

  <div footer class="mr-3">
    <vo-lib-button-bar footer
                       [canSave]="canSave"
                       (save)="save()"
                       [saving]="saving"
                       [saveLabel]="(step === 1 ? 'APP.NEXT' : 'ACTIONS.SAVE') | translate"
                       (cancel)="closeWithUnsavedChangesCheck()"></vo-lib-button-bar>
  </div>
</vo-lib-dialog>
