@for (electorate of electorates; track electorate; let index = $index) {
  <div class="electorates">
    <bc-text
      [label]="'COUNTING_CIRCLE.ELECTORATE.DOMAIN_OF_INFLUENCE_TYPES' | translate"
      [readonly]="true"
      [required]="true"
      [value]="electorateLabelByIndex.get(index) ?? ''"
      [subscriptSizing]="'dynamic'"
    ></bc-text>
    @if (!disabled) {
      <bc-button
        variant="tertiary"
        icon="plus"
        [label]="'COUNTING_CIRCLE.ELECTORATE.ASSIGN_OPEN' | translate"
        (buttonClick)="assign(electorate)"
      ></bc-button>
    } @else {
      <div></div>
    }
    @if (!disabled) {
      <bc-icon icon="trash" iconColor="error" class="clickable" (click)="remove(index)"></bc-icon>
    } @else {
      <div></div>
    }
  </div>
}

@if (electorates.length === 0) {
  <p class="no-data my-2">{{ 'COUNTING_CIRCLE.ELECTORATE.NO_DATA' | translate }}</p>
}

@if (!disabled) {
  <bc-button
    class="mt-2"
    variant="tertiary"
    icon="plus"
    [label]="'COUNTING_CIRCLE.ELECTORATE.ADD' | translate"
    (buttonClick)="add()"
  ></bc-button>
}

