<vo-lib-dialog [contentLoading]="false">
  <h1 header translate>DOMAIN_OF_INFLUENCE.AUSMITTLUNG.EXPORT_CONFIGURATION.ASSIGN</h1>

  <div content>
    <bc-spinner *ngIf="loading" class="block"></bc-spinner>

    <div class="grid">
      <div>
        <bc-advanced-table class="w-full" [dataSource]="dataSource">
          <ng-container bcColumnDef="select">
            <th bc-header-cell *bcHeaderCellDef>
              <bc-checkbox
                class="ml-2 mb-0"
                (checkedChange)="toggleAllRows($event)"
                [checked]="selection.hasValue() && isAllSelected"
                [indeterminate]="selection.hasValue() && !isAllSelected"
              >
              </bc-checkbox>
            </th>
            <td bc-cell *bcCellDef="let element">
              <bc-checkbox
                class="ml-2"
                (checkedChange)="toggleRow(element, $event)"
                [checked]="selection.isSelected(element)"
              >
              </bc-checkbox>
            </td>
          </ng-container>
          <ng-container bcColumnDef="description">
            <th bc-header-cell *bcHeaderCellDef>{{ 'EXPORTS.DESCRIPTION' | translate }}</th>
            <td bc-cell *bcCellDef="let element">
              <span>{{ 'EXPORTS.ENTITY_TYPES.' + element.entityType | translate }}: </span>
              <span>{{ element.description }}</span>
            </td>
          </ng-container>
          <ng-container bcColumnDef="format">
            <th bc-header-cell *bcHeaderCellDef>{{ 'EXPORTS.FILE_FORMAT' | translate }}</th>
            <td bc-cell *bcCellDef="let element">
              <span>{{'EXPORTS.FILE_FORMATS.' + element.format | translate}}</span>
            </td>
          </ng-container>
          <ng-container bcColumnDef="authority">
            <th bc-header-cell *bcHeaderCellDef>{{ 'COUNTING_CIRCLE.AUTHORITY' | translate }}</th>
            <td bc-cell *bcCellDef="let element">{{ element.responsibleAuthority.name }}</td>
          </ng-container>

          <tr bc-header-row *bcHeaderRowDef="columns"></tr>
          <tr bc-advanced-table-row *bcRowDef="let row; columns: columns"
              [selectable]="true"
              (rowSelected)="selection.toggle(row); updateIsAllSelected()"></tr>
        </bc-advanced-table>
        <bc-table-paginator [pageSize]="10" [showFirstLastButtons]="true" [tooltips]="false"></bc-table-paginator>
      </div>
      <bc-divider class="ml-4" orientation="vertical"></bc-divider>
      <div>
        <h2 translate class="mb-0">{{'EXPORTS.SELECTED' | translate}}</h2>
        <bc-advanced-table class="w-full" [dataSource]="selection.selected">
          <ng-container bcColumnDef="description">
            <th bc-header-cell *bcHeaderCellDef>{{ 'EXPORTS.DESCRIPTION' | translate }}</th>
            <td bc-cell *bcCellDef="let element">{{ element.description }}</td>
          </ng-container>
          <ng-container bcColumnDef="actions">
            <th bc-header-cell class="actions-header" *bcHeaderCellDef></th>
            <td bc-cell *bcCellDef="let element">
              <bc-icon class="clickable" (click)="selection.deselect(element)" icon="remove"></bc-icon>
            </td>
          </ng-container>

          <tr bc-header-row *bcHeaderRowDef="columnsSelected"></tr>
          <tr bc-advanced-table-row *bcRowDef="let row; columns: columnsSelected"></tr>
        </bc-advanced-table>
      </div>
    </div>
  </div>

  <vo-lib-button-bar footer
                     (save)="save()"
                     [sticky]="true"
                     [saveLabel]="'ACTIONS.ASSIGN' | translate"
                     (cancel)="close()">
  </vo-lib-button-bar>
</vo-lib-dialog>
