:host {
  min-width: 80vw; // workaround for firefox
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4rem 1fr;
}

.bc-colum-description {
  width: 82%;
}

.bc-column-format {
  width: 10%;
}

.bc-column-select {
  width: 4rem;
}

.bc-column-actions {
  width: 2rem;
}
