<h2 translate>MAJORITY_ELECTION.BALLOT_GROUP.BALLOT_GROUP_CANDIDATES</h2>

@if (loading) {
  <bc-spinner class="block"></bc-spinner>
} @else {
  @if (ballotGroupValue && !!primaryBallotGroupEntry) {
    <div>
      <h3>{{ majorityElection.shortDescription | getTranslation }}</h3>
      <app-majority-election-ballot-group-candidates
        [majorityElection]="majorityElection"
        [candidateEntry]="primaryBallotGroupEntry.candidates"
        >
      </app-majority-election-ballot-group-candidates>
      @for (secondaryGroup of secondaryBallotGroupEntries; track secondaryGroup) {
        <h3>{{ secondaryGroup.election.shortDescription | getTranslation }}</h3>
        <app-majority-election-ballot-group-candidates
          [secondaryMajorityElection]="secondaryGroup.election"
          [candidateEntry]="secondaryGroup.candidates"
          >
        </app-majority-election-ballot-group-candidates>
      }
      @if (invalidBallotGroupEntriesError) {
        <p class="error my-2">
          {{ 'MAJORITY_ELECTION.BALLOT_GROUP.WRONG_CANDIDATE_COUNT_WARNING' | translate: { elections: invalidBallotGroupEntriesError } }}
        </p>
      }
    </div>
  } @else {
    <span class="no-items-message" translate>MAJORITY_ELECTION.BALLOT_GROUP.NO_BALLOT_GROUP_SELECTED</span>
  }
}
