<bc-label [optional]="optional" [optionalText]="'APP.OPTIONAL' | translate" [label]="label"></bc-label>

<div class="formfield-container">
  @if (singleLanguageInput) {
    <div class="field">
      <ng-container *ngTemplateOutlet="formInput; context: { $implicit: currentLanguage }"></ng-container>
    </div>
  } @else {
    @for (lang of languages; track lang) {
      <div class="field">
        <bc-label [label]="lang"></bc-label>
        <ng-container *ngTemplateOutlet="formInput; context: { $implicit: lang }"></ng-container>
      </div>
    }
  }

  <ng-template #formInput let-language>
    <bc-text
      [value]="translations.get(language)"
      (valueChange)="translationChanged(language, $event)"
      [placeholder]="placeholder"
      [readonly]="readonly"
      [maxlength]="maxlength"
      [subscriptSizing]="'dynamic'"
    ></bc-text>
  </ng-template>
</div>
