<vo-lib-dialog [header]="'PROPORTIONAL_ELECTION.LIST_UNION.TITLE' | translate" (dialogClose)="close()">
  <div class="grid" content>
    <div class="pt-5">
      @if (loading) {
        <bc-spinner class="block"></bc-spinner>
      } @else {
        <div class="buttons">
          <bc-button
            variant="tertiary"
            icon="plus"
            [label]="'PROPORTIONAL_ELECTION.LIST_UNION.ADD' | translate"
            (buttonClick)="createListUnion()"
          ></bc-button>
          @if (selectedListUnion && lists.length && selectedListUnion.proportionalElectionListIds.length) {
            <bc-button
              [label]="'PROPORTIONAL_ELECTION.LIST_UNION.MAIN_LIST.SET' | translate"
              variant="tertiary"
              (buttonClick)="updateMainList(selectedListUnion)"
            ></bc-button>
          }
          @if (selectedListUnion && lists.length) {
            <bc-button
              variant="tertiary"
              [label]="'PROPORTIONAL_ELECTION.LIST_UNION.LISTS.ASSIGN' | translate"
              (buttonClick)="updateAssignedLists(selectedListUnion)"
            ></bc-button>
          }
        </div>
        <bc-table
          selection
          class="w-full"
          [dataSource]="dataSource"
          cdkDropList
          [cdkDropListData]="dataSource"
          (cdkDropListDropped)="moveListUnion($event.previousIndex, $event.currentIndex)"
          [sticky]="true"
          [height]="'30rem'"
          >
          <ng-container columnDef="number">
            <th bc-header-cell *headerCellDef>
              <app-truncated-value [value]="'PROPORTIONAL_ELECTION.LIST_UNION.NUMBER' | translate"></app-truncated-value>
            </th>
            <td bc-data-cell *dataCellDef="let element">
              <app-truncated-value [value]="element.number"></app-truncated-value>
            </td>
          </ng-container>

          <ng-container columnDef="description">
            <th bc-header-cell *headerCellDef>
              <app-truncated-value [value]="'PROPORTIONAL_ELECTION.LIST_UNION.DESCRIPTION' | translate"></app-truncated-value>
            </th>
            <td bc-data-cell *dataCellDef="let element">
              <app-truncated-value [value]="element.description | getTranslation"></app-truncated-value>
            </td>
          </ng-container>

          <ng-container columnDef="listEnumeration">
            <th bc-header-cell *headerCellDef>
              <app-truncated-value [value]="'PROPORTIONAL_ELECTION.LIST_UNION.LIST_ENUMERATION' | translate"></app-truncated-value>
            </th>
            <td bc-data-cell *dataCellDef="let element">
              <app-truncated-value [value]="element.proportionalElectionListEnumeration"></app-truncated-value>
            </td>
          </ng-container>

          <ng-container columnDef="subListUnionEnumeration">
            <th bc-header-cell *headerCellDef>
              <app-truncated-value
                [value]="'PROPORTIONAL_ELECTION.LIST_UNION.SUB_LIST_UNION_ENUMERATION' | translate"
              ></app-truncated-value>
            </th>
            <td bc-data-cell *dataCellDef="let element">
              <app-truncated-value [value]="element.proportionalElectionSubListUnionEnumeration"></app-truncated-value>
            </td>
          </ng-container>

          <ng-container columnDef="mainListNumber">
            <th bc-header-cell *headerCellDef>
              <app-truncated-value [value]="'PROPORTIONAL_ELECTION.LIST_UNION.MAIN_LIST.TITLE' | translate"></app-truncated-value>
            </th>
            <td bc-data-cell *dataCellDef="let element">
              <app-truncated-value [value]="element.proportionalElectionMainListNumber"></app-truncated-value>
            </td>
          </ng-container>

          <ng-container columnDef="actions">
            <th bc-header-cell *headerCellDef></th>
            <td bc-data-cell *dataCellDef="let element">
              <div class="flex">
                <bc-icon (click)="editListUnion(element); $event.stopPropagation()" icon="edit"></bc-icon>
                <bc-icon class="ml-2" (click)="deleteListUnion(element); $event.stopPropagation()" icon="trash" iconColor="error"></bc-icon>
              </div>
            </td>
          </ng-container>

          <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
          <tr bc-data-row
            *dataRowDef="let row; columns: columns; let i = index"
            #rowSelection="selectionToggle"
            selectionToggle
            [selectionToggleValue]="row"
            selectionRow
            [selectionRowValue]="row"
            (click)="rowSelection.toggle(); selectListUnion(row)"
            cdkDrag
            [cdkDragData]="row"
          ></tr>
        </bc-table>
      }
    </div>

    <bc-divider orientation="vertical" class="ml-4"></bc-divider>

    <div>
      @if (selectedListUnion) {
        <h2>{{ 'PROPORTIONAL_ELECTION.SUB_LIST_UNION.TITLE' | translate }} {{ selectedListUnion.position }}</h2>
        <div class="buttons">
          <bc-button
            variant="tertiary"
            icon="plus"
            [label]="'PROPORTIONAL_ELECTION.SUB_LIST_UNION.ADD' | translate"
            (buttonClick)="createListUnion(selectedListUnion)"
          ></bc-button>
          @if (selectedSubListUnion && lists.length && selectedSubListUnion.proportionalElectionListIds.length) {
            <bc-button
              variant="tertiary"
              [label]="'PROPORTIONAL_ELECTION.SUB_LIST_UNION.MAIN_LIST.SET' | translate"
              (buttonClick)="updateMainList(selectedSubListUnion)"
            ></bc-button>
          }
          @if (selectedSubListUnion && lists.length) {
            <bc-button
              variant="tertiary"
              [label]="'PROPORTIONAL_ELECTION.SUB_LIST_UNION.LISTS.ASSIGN' | translate"
              (buttonClick)="updateAssignedLists(selectedSubListUnion)"
            ></bc-button>
          }
        </div>
        <bc-table
          selection
          class="w-full"
          [dataSource]="dataSourceSubLists"
          cdkDropList
          [cdkDropListData]="dataSourceSubLists"
          (cdkDropListDropped)="moveListUnion($event.previousIndex, $event.currentIndex, selectedListUnion)"
          >
          <ng-container columnDef="number">
            <th bc-header-cell *headerCellDef>
              <app-truncated-value [value]="'PROPORTIONAL_ELECTION.SUB_LIST_UNION.NUMBER' | translate"></app-truncated-value>
            </th>
            <td bc-data-cell *dataCellDef="let element">
              <app-truncated-value [value]="element.number"></app-truncated-value>
            </td>
          </ng-container>

          <ng-container columnDef="description">
            <th bc-header-cell *headerCellDef>
              <app-truncated-value [value]="'PROPORTIONAL_ELECTION.SUB_LIST_UNION.DESCRIPTION' | translate"></app-truncated-value>
            </th>
            <td bc-data-cell *dataCellDef="let element">
              <app-truncated-value [value]="element.description | getTranslation"></app-truncated-value>
            </td>
          </ng-container>

          <ng-container columnDef="listEnumeration">
            <th bc-header-cell *headerCellDef>
              <app-truncated-value [value]="'PROPORTIONAL_ELECTION.SUB_LIST_UNION.LIST_ENUMERATION' | translate"></app-truncated-value>
            </th>
            <td bc-data-cell *dataCellDef="let element">
              <app-truncated-value [value]="element.proportionalElectionListEnumeration"></app-truncated-value>
            </td>
          </ng-container>

          <ng-container columnDef="mainListNumber">
            <th bc-header-cell *headerCellDef>
              <app-truncated-value [value]="'PROPORTIONAL_ELECTION.SUB_LIST_UNION.MAIN_LIST.TITLE' | translate"></app-truncated-value>
            </th>
            <td bc-data-cell *dataCellDef="let element">
              <app-truncated-value [value]="element.proportionalElectionMainListNumber"></app-truncated-value>
            </td>
          </ng-container>

          <ng-container columnDef="actions">
            <th bc-header-cell *headerCellDef></th>
            <td bc-data-cell *dataCellDef="let element">
              <div class="flex">
                <bc-icon (click)="editListUnion(element); $event.stopPropagation()" icon="edit"></bc-icon>
                <bc-icon class="ml-2" (click)="deleteListUnion(element); $event.stopPropagation()" icon="trash" iconColor="error"></bc-icon>
              </div>
            </td>
          </ng-container>

          <tr bc-header-row *headerRowDef="let row; columns: columnsSubList"></tr>
          <tr bc-data-row
            *dataRowDef="let row; columns: columnsSubList; let i = index"
            #rowSelection="selectionToggle"
            selectionToggle
            [selectionToggleValue]="row"
            selectionRow
            [selectionRowValue]="row"
            (click)="rowSelection.toggle(); selectSubListUnion(row)"
            cdkDrag
            [cdkDragData]="row"
          ></tr>
        </bc-table>
      }
    </div>
  </div>

  <vo-lib-button-bar footer [sticky]="false" [saveLabel]="'APP.FINISH' | translate" (cancel)="close()" (save)="close()"></vo-lib-button-bar>
</vo-lib-dialog>
