@for (vote of votes; track vote) {
  <app-import-vote-edit
    #editComponent
    (applied)="checkAllValid()"
    [vote]="vote"
    [contestDomainOfInfluenceId]="contestDomainOfInfluenceId">
  </app-import-vote-edit>
}

@for (proportionalElection of proportionalElections; track proportionalElection) {
  <app-import-proportional-election-edit
    #editComponent
    (applied)="checkAllValid()"
    [proportionalElection]="proportionalElection"
    [contestDomainOfInfluenceId]="contestDomainOfInfluenceId">
  </app-import-proportional-election-edit>
}


@for (majorityElection of majorityElections; track majorityElection) {
  <app-import-majority-election-edit
    #editComponent
    (applied)="checkAllValid()"
    [majorityElection]="majorityElection"
    [secondaryMajorityElections]="secondaryMajorityElectionsByPrimaryElectionId[majorityElection.getElection()!.getId()] ?? []"
    [contestDomainOfInfluenceId]="contestDomainOfInfluenceId">
  </app-import-majority-election-edit>
}
