<h3 class="mb-1" translate>DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.LOGO.TITLE</h3>

@if (!disabled || domainOfInfluence.hasLogo) {
  <div class="logo-container"
    [class.disabled]="disabled"
    [class.has-logo]="domainOfInfluence.hasLogo"
    [class.dragging]="draggingLogo">
    @if (domainOfInfluence.hasLogo) {
      <img
        [src]="uploadedLogoPreviewSrc || (domainOfInfluence.id | domainOfInfluenceLogoUrl | async)"
        [alt]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.LOGO.PREVIEW.ALT' | translate: domainOfInfluence"/>
    }
    @if (!disabled) {
      <div class="upload-info">
        <input #fileInput
          type="file"
          (change)="setLogo(fileInput.files); fileInput.value = null;"
          [accept]="allowedContentTypesCommaSeparated">
        <p translate>DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.LOGO.UPLOAD.DRAG</p>
        <p translate>DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.LOGO.UPLOAD.OR</p>
        <bc-button (buttonClick)="fileInput.click()"
          [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.LOGO.UPLOAD.CHOOSE_FILE' | translate"
        variant="primary"></bc-button>
        @if (domainOfInfluence.hasLogo) {
          <bc-button
            (buttonClick)="removeLogo()"
            [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.LOGO.UPLOAD.REMOVE' | translate"
            variant="secondary"></bc-button>
        }
      </div>
    }
  </div>
} @else {
  <p translate class="no-data">DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.LOGO.NO_LOGO</p>
}
