<vo-lib-page [contentLoading]="false" header="ACTIVITY.TITLE">
  <bc-table class="w-full" [dataSource]="dataSource" [sticky]="true">

    <ng-container columnDef="eventName">
      <th bc-header-cell *headerCellDef>
        <span>{{ 'ACTIVITY.EVENT_NAME' | translate }}</span>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="'ACTIVITY.EVENT.' + element.eventName | translate"></app-truncated-value>
      </td>
    </ng-container>

    <ng-container columnDef="timestamp">
      <th bc-header-cell *headerCellDef>
        <span>{{ 'ACTIVITY.TIMESTAMP' | translate }}</span>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <span>{{ element.timestamp | date:'short' }}</span>
      </td>
    </ng-container>

    <ng-container columnDef="user">
      <th bc-header-cell *headerCellDef>
        <span>{{ 'ACTIVITY.USER' | translate }}</span>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <span>{{ element.eventUser.firstName + ' ' + element.eventUser.lastName }}</span>
      </td>
    </ng-container>

    <ng-container columnDef="tenantName">
      <th bc-header-cell *headerCellDef>
        <span>{{ 'ACTIVITY.TENANT' | translate }}</span>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <span>{{ element.eventTenant.tenantName }}</span>
      </td>
    </ng-container>

    <tr bc-header-row *headerRowDef="let row; columns: ['eventName', 'timestamp', 'user', 'tenantName']"></tr>
    <tr bc-data-row *dataRowDef="let row; columns: ['eventName', 'timestamp', 'user', 'tenantName']; let i = index"></tr>
  </bc-table>

  <bc-paginator #paginator showFirstLastButtons [pageSize]="100" [pageSizeOptions]="[5, 10, 15, 20, 100]"></bc-paginator>

  @if (dataSource.loading) {
    <bc-spinner></bc-spinner>
  }
</vo-lib-page>
