<vo-lib-page [contentLoading]="false" header="ACTIVITY.TITLE">
  <bc-table class="w-full" [dataSource]="dataSource">

    <ng-container columnDef="eventName">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'ACTIVITY.EVENT_NAME' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="'ACTIVITY.EVENT.' + element.eventName | translate"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="timestamp">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'ACTIVITY.TIMESTAMP' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.timestamp | date:'short'"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="user">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'ACTIVITY.USER' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.eventUser.firstName + ' ' + element.eventUser.lastName"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="tenantName">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'ACTIVITY.TENANT' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.eventTenant.tenantName"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <bc-header-row *headerRowDef="let row; columns: ['eventName', 'timestamp', 'user', 'tenantName']"></bc-header-row>
    <bc-data-row *dataRowDef="let row; columns: ['eventName', 'timestamp', 'user', 'tenantName']; let i = index"></bc-data-row>
  </bc-table>

  <bc-paginator #paginator showFirstLastButtons [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20]"></bc-paginator>

  <bc-spinner *ngIf="dataSource.loading"></bc-spinner>
</vo-lib-page>
