<div class="form">
  <bc-number [label]="'PROPORTIONAL_ELECTION.BALLOT_BUNDLE_SIZE' | translate"
             [disabled]="testingPhaseEnded"
             [min]="0"
             [value]="ballotBundleSize"
             (valueChange)="ballotBundleSize = $event; contentChanged.emit()"
             [subscriptSizing]="'dynamic'"></bc-number>
  <bc-number [label]="'PROPORTIONAL_ELECTION.BALLOT_BUNDLE_SAMPLE_SIZE' | translate"
             [disabled]="testingPhaseEnded"
             [max]="data.ballotBundleSize"
             [min]="0"
             [value]="ballotBundleSampleSize"
             (valueChange)="ballotBundleSampleSize = $event; contentChanged.emit()"
             [subscriptSizing]="'dynamic'"></bc-number>

  <div class="flex-grid">
    <bc-label class="full-width" [label]="'PROPORTIONAL_ELECTION.BALLOT_BUNDLE_NUMBER_GENERATION.TITLE' | translate"></bc-label>
    <bc-label class="full-width" [label]="'PROPORTIONAL_ELECTION.BALLOT_NUMBER_GENERATION.TITLE' | translate"></bc-label>
    <bc-checkbox class="ml-2"
                 [(checked)]="data.automaticBallotBundleNumberGeneration"
                 [disabled]="testingPhaseEnded"
                 [label]="'PROPORTIONAL_ELECTION.BALLOT_BUNDLE_NUMBER_GENERATION.AUTOMATIC' | translate"
                 (checkedChange)="refreshBallotNumberGenerationChoices(); contentChanged.emit()"></bc-checkbox>
    <bc-radio-button-group class="ml-2"
                           orientation="vertical"
                           [items]="ballotNumberGenerationChoices"
                           [value]="data.ballotNumberGeneration"
                           (valueChange)="data.ballotNumberGeneration = $event; contentChanged.emit()">
    </bc-radio-button-group>
  </div>

  <div class="flex-grid">
    <bc-label class="full-width col-span-2" [label]="'PROPORTIONAL_ELECTION.AUTOMATIC_EMPTY_VOTE_COUNTING.TITLE' | translate"></bc-label>
    <bc-radio-button-group class="ml-2"
                           orientation="vertical"
                           [items]="automaticEmptyVoteCountingChoices"
                           [value]="data.automaticEmptyVoteCounting"
                           (valueChange)="data.automaticEmptyVoteCounting = $event; contentChanged.emit()"
                           [disabled]="testingPhaseEnded">
    </bc-radio-button-group>
    <bc-checkbox class="ml-2"
                 [checked]="data.enforceEmptyVoteCountingForCountingCircles"
                 (checkedChange)="data.enforceEmptyVoteCountingForCountingCircles = $event; contentChanged.emit()"
                 [label]="'PROPORTIONAL_ELECTION.ENFORCE_EMPTY_VOTE_COUNTING_FOR_COUNTING_CIRCLES' | translate"
                 [disabled]="locked"></bc-checkbox>
  </div>

  <div class="flex-grid">
    <bc-label class="full-width col-span-2" [label]="'PROPORTIONAL_ELECTION.REVIEW_PROCEDURE.TITLE' | translate"></bc-label>
    <bc-radio-button-group class="ml-2"
                           [items]="reviewProcedureChoices"
                           orientation="vertical"
                           [value]="data.reviewProcedure"
                           (valueChange)="data.reviewProcedure = $event; contentChanged.emit()"
                           [disabled]="testingPhaseEnded">
    </bc-radio-button-group>
    <bc-checkbox class="ml-2"
                 [checked]="data.enforceReviewProcedureForCountingCircles"
                 (checkedChange)="data.enforceReviewProcedureForCountingCircles = $event; contentChanged.emit()"
                 [label]="'PROPORTIONAL_ELECTION.ENFORCE_REVIEW_PROCEDURE_FOR_COUNTING_CIRCLES' | translate"
                 [disabled]="testingPhaseEnded"></bc-checkbox>
  </div>

  <div *ngIf="useCandidateCheckDigit" class="flex-grid">
    <bc-label class="full-width col-span-2" [label]="'PROPORTIONAL_ELECTION.CANDIDATE_CHECK_DIGIT.TITLE' | translate"></bc-label>
    <bc-checkbox class="ml-2"
                 [checked]="data.candidateCheckDigit"
                 (checkedChange)="data.candidateCheckDigit = $event; contentChanged.emit()"
                 [disabled]="testingPhaseEnded"
                 [label]="'PROPORTIONAL_ELECTION.CANDIDATE_CHECK_DIGIT.USE' | translate"></bc-checkbox>
    <bc-checkbox class="ml-2"
                 [checked]="data.enforceCandidateCheckDigitForCountingCircles"
                 (checkedChange)="data.enforceCandidateCheckDigitForCountingCircles = $event; contentChanged.emit()"
                 [label]="'PROPORTIONAL_ELECTION.CANDIDATE_CHECK_DIGIT.ENFORCE_FOR_COUNTING_CIRCLES' | translate"
                 [disabled]="testingPhaseEnded"></bc-checkbox>
  </div>
</div>
