.flex-grid {
  display: grid;
  grid-template-columns: 16rem 1fr;
  align-items: baseline;

  .col-span-2 {
    grid-column: span 2 / span 2;
  }
}

bc-checkbox {
  margin-left: -10px;
}

bc-radio-button-group {
  margin-left: -10px;
}
