<div class="form">
  <bc-number [label]="'PROPORTIONAL_ELECTION.BALLOT_BUNDLE_SIZE' | translate"
             [disabled]="testingPhaseEnded"
             [min]="0"
             [(value)]="ballotBundleSize"></bc-number>
  <bc-number [label]="'PROPORTIONAL_ELECTION.BALLOT_BUNDLE_SAMPLE_SIZE' | translate"
             [disabled]="testingPhaseEnded"
             [max]="data.ballotBundleSize"
             [min]="0"
             [(value)]="ballotBundleSampleSize"></bc-number>

  <div class="flex-container">
    <div>
      <bc-label class="full-width" [label]="'PROPORTIONAL_ELECTION.BALLOT_BUNDLE_NUMBER_GENERATION.TITLE' | translate"></bc-label>
      <bc-checkbox class="mt-2 ml-2"
                   [(checked)]="data.automaticBallotBundleNumberGeneration"
                   [disabled]="testingPhaseEnded"
                   [label]="'PROPORTIONAL_ELECTION.BALLOT_BUNDLE_NUMBER_GENERATION.AUTOMATIC' | translate"
                   (checkedChange)="refreshBallotNumberGenerationChoices()"></bc-checkbox>
    </div>

    <div>
      <bc-label class="full-width" [label]="'PROPORTIONAL_ELECTION.BALLOT_NUMBER_GENERATION.TITLE' | translate"></bc-label>
      <bc-radio-button-group class="mt-2 ml-2"
                             orientation="vertical"
                             [items]="ballotNumberGenerationChoices"
                             [(value)]="data.ballotNumberGeneration">
      </bc-radio-button-group>
    </div>
  </div>

  <div class="flex-container">
    <div>
      <bc-label class="full-width" [label]="'PROPORTIONAL_ELECTION.AUTOMATIC_EMPTY_VOTE_COUNTING.TITLE' | translate"></bc-label>
      <bc-radio-button-group class="mt-2 ml-2"
                             orientation="vertical"
                             [items]="automaticEmptyVoteCountingChoices"
                             [(value)]="data.automaticEmptyVoteCounting"
                             [disabled]="testingPhaseEnded">
      </bc-radio-button-group>
    </div>
    <bc-checkbox class="mt-4 ml-2"
                 [(checked)]="data.enforceEmptyVoteCountingForCountingCircles"
                 [label]="'PROPORTIONAL_ELECTION.ENFORCE_EMPTY_VOTE_COUNTING_FOR_COUNTING_CIRCLES' | translate"
                 [disabled]="locked"></bc-checkbox>
  </div>

  <div class="flex-container">
    <div>
      <bc-label class="full-width" [label]="'PROPORTIONAL_ELECTION.REVIEW_PROCEDURE.TITLE' | translate"></bc-label>
      <bc-radio-button-group class="mt-2 ml-2"
                             [items]="reviewProcedureChoices"
                             orientation="vertical"
                             [(value)]="data.reviewProcedure"
                             [disabled]="testingPhaseEnded">
      </bc-radio-button-group>
    </div>
    <bc-checkbox class="mt-4 ml-2"
                 [(checked)]="data.enforceReviewProcedureForCountingCircles"
                 [label]="'PROPORTIONAL_ELECTION.ENFORCE_REVIEW_PROCEDURE_FOR_COUNTING_CIRCLES' | translate"
                 [disabled]="testingPhaseEnded"></bc-checkbox>
  </div>
</div>
