<vo-lib-dialog [contentLoading]="loading" [header]="'EXPORTS.TITLE' | translate" (dialogClose)="cancel()">
  <div content class="export-container">
    @for (exportTemplate of exportTemplates; track exportTemplate) {
      <bc-button
        variant="primary"
        (buttonClick)="downloadExport(exportTemplate)"
               [label]="'EXPORTS.TEMPLATE_TITLE' | translate: {
        format: ('EXPORTS.FILE_FORMATS.' + exportTemplate.format | translate),
        description: exportTemplate.description
      }">
      </bc-button>
    }
  </div>

  <vo-lib-button-bar footer [hasSaveButton]="false" (cancel)="cancel()"></vo-lib-button-bar>
</vo-lib-dialog>
