<vo-lib-dialog [contentLoading]="loading">
  <h1 header translate>EXPORTS.TITLE</h1>

  <div content class="form mr-3 my-3">
    <bc-button *ngFor="let exportTemplate of exportTemplates"
               variant="primary"
               (buttonClick)="downloadExport(exportTemplate)">
      {{'EXPORTS.TEMPLATE_TITLE' | translate: {
        entity: ('EXPORTS.ENTITY_TYPES.' + exportTemplate.entityType | translate),
        format: ('EXPORTS.FILE_FORMATS.' + exportTemplate.format | translate),
        description: exportTemplate.description
      } }}
    </bc-button>
  </div>

  <div footer class="mr-3">
    <vo-lib-button-bar footer
                       [hasSaveButton]="false"
                       (cancel)="cancel()"></vo-lib-button-bar>
  </div>
</vo-lib-dialog>
