<vo-lib-dialog [contentLoading]="loading">
  <h1 header translate>MAJORITY_ELECTION.BALLOT_GROUP.ASSIGN_CANDIDATES</h1>

  <div content class="mr-3">
    <h2>{{ballotGroup.description}}</h2>

    <div *ngFor="let entry of ballotGroupEntries; let last = last">
      <h3>{{entry.election.shortDescription | getTranslation}}</h3>

      <app-majority-election-ballot-group-assign-candidates-entry
        [entry]="entry"
        [candidates]="entry.candidates"></app-majority-election-ballot-group-assign-candidates-entry>

      <hr *ngIf="!last" class="my-4" />
    </div>
  </div>

  <div footer class="mr-3">
    <vo-lib-button-bar footer
                       (save)="save()"
                       [saving]="saving"
                       [saveLabel]="'ACTIONS.ASSIGN' | translate"
                       (cancel)="cancel()"></vo-lib-button-bar>
  </div>
</vo-lib-dialog>
