<vo-lib-dialog [header]="'DOMAIN_OF_INFLUENCE.COUNTING_CIRCLE.ASSIGN' | translate" (dialogClose)="closeWithUnsavedChangesCheck()">
  <div content class="grid">
    <div left>
      <bc-table
        filter
        sort
        [sortActive]="[{ id: nameColumn, direction: 'asc' }]"
        selection
        class="w-full"
        [dataSource]="dataSource"
        [sticky]="true"
      >
        <ng-container [columnDef]="selectColumn">
          <th bc-header-cell *headerCellDef>
            <bc-checkbox
              class="ml-2 mb-0"
              (checkedChange)="toggleAllRows($event); contentChanged()"
              [checked]="selection.hasValue() && isAllSelected"
              [indeterminate]="selection.hasValue() && !isAllSelected"
            >
            </bc-checkbox>
          </th>
          <td bc-data-cell *dataCellDef="let element">
            <bc-checkbox
              class="ml-2"
              (checkedChange)="toggleRow(element, $event); contentChanged()"
              [checked]="selection.isSelected(element)"
            >
            </bc-checkbox>
          </td>
        </ng-container>

        <ng-container [columnDef]="nameColumn">
          <th bc-header-cell filter sort *headerCellDef>
            <span truncateWithTooltip tooltip>
              {{ 'COUNTING_CIRCLE.NAME' | translate }}
            </span>
          </th>
          <td bc-data-cell *dataCellDef="let element">
            <app-truncated-value [value]="element.name"></app-truncated-value>
          </td>
        </ng-container>

        <ng-container [columnDef]="bfsColumn">
          <th bc-header-cell filter sort *headerCellDef>
            <span truncateWithTooltip tooltip>
              {{ 'COUNTING_CIRCLE.BFS' | translate }}
            </span>
          </th>
          <td bc-data-cell *dataCellDef="let element">
            <app-truncated-value [value]="element.bfs"></app-truncated-value>
          </td>
        </ng-container>

        <ng-container [columnDef]="authorityColumn">
          <th bc-header-cell filter sort *headerCellDef>
            <span truncateWithTooltip tooltip>
              {{ 'COUNTING_CIRCLE.AUTHORITY' | translate }}
            </span>
          </th>
          <td bc-data-cell *dataCellDef="let element">
            <app-truncated-value [value]="element.responsibleAuthority.name"></app-truncated-value>
          </td>
        </ng-container>

        <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
        <tr bc-data-row
          *dataRowDef="let row; columns: columns; let i = index"
          selectionToggle
          [selectionToggleValue]="row"
          selectionRow
          [selectionRowValue]="row"
          (click)="selection.toggle(row); updateIsAllSelected(); contentChanged()"
        ></tr>
      </bc-table>
      <bc-paginator #paginator showFirstLastButtons [pageSize]="100" [pageSizeOptions]="[5, 10, 15, 100]"></bc-paginator>
    </div>
    <bc-divider class="ml-3" orientation="vertical"></bc-divider>
    <div right>
      <h2 translate class="mb-0">DOMAIN_OF_INFLUENCE.COUNTING_CIRCLE.ASSIGN_SELECTED_OVERVIEW</h2>
      <bc-table class="w-full" [dataSource]="selection.selected">
        <ng-container [columnDef]="nameColumnSelected">
          <th bc-header-cell *headerCellDef>
            <app-truncated-value [value]="'COUNTING_CIRCLE.NAME' | translate"></app-truncated-value>
          </th>
          <td bc-data-cell *dataCellDef="let element">
            <app-truncated-value [value]="element.name"></app-truncated-value>
          </td>
        </ng-container>

        <ng-container [columnDef]="actionsColumnSelected">
          <th bc-header-cell *headerCellDef></th>
          <td bc-data-cell *dataCellDef="let element">
            <bc-icon class="clickable" (click)="selection.deselect(element); contentChanged()" icon="remove"></bc-icon>
          </td>
        </ng-container>

        <tr bc-header-row *headerRowDef="let row; columns: columnsSelected"></tr>
        <tr bc-data-row *dataRowDef="let row; columns: columnsSelected; let i = index"></tr>
      </bc-table>
      @if (inheritedCountingCirclesDatasource.data.length) {
        <h2 translate class="mb-0 mt-3">DOMAIN_OF_INFLUENCE.COUNTING_CIRCLE.INHERITED_OVERVIEW</h2>
        <bc-table class="w-full" [dataSource]="inheritedCountingCirclesDatasource" [sticky]="true" [height]="'32rem'">
          <ng-container [columnDef]="nameColumnInherited">
            <th bc-header-cell *headerCellDef>
              <app-truncated-value [value]="'COUNTING_CIRCLE.NAME' | translate"></app-truncated-value>
            </th>
            <td bc-data-cell *dataCellDef="let element">
              <app-truncated-value [value]="element.name"></app-truncated-value>
            </td>
          </ng-container>

          <tr bc-header-row *headerRowDef="let row; columns: columnsInherited"></tr>
          <tr bc-data-row *dataRowDef="let row; columns: columnsInherited; let i = index"></tr>
        </bc-table>
      }
    </div>
  </div>

  <vo-lib-button-bar
    footer
    (save)="save()"
    [saving]="saving"
    [sticky]="true"
    [saveLabel]="'ACTIONS.ASSIGN' | translate"
    (cancel)="closeWithUnsavedChangesCheck()"
  >
  </vo-lib-button-bar>
</vo-lib-dialog>
