@use '@abraxas/voting-lib/style/table' as table;

::ng-deep .bc-column-name {
  @include table.truncate-long-sortable-table-header();
}

::ng-deep .bc-column-bfs {
  @include table.truncate-long-sortable-table-header();
}

::ng-deep .bc-column-authority {
  @include table.truncate-long-sortable-table-header();
}

:host {
  min-width: 80vw; // workaround for firefox
}

div[left] {
  padding-right: 1rem;
  height: 41rem;
  overflow-y: auto;
}

div[right] {
  padding-right: 1rem;
  height: 41rem;
  overflow-y: auto;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4rem 1fr;
}

.bc-column-actions {
  width: 2rem;
}

.bc-column-select {
  width: 4rem;
}
