<vo-lib-dialog [contentLoading]="false">
  <h1 header translate>DOMAIN_OF_INFLUENCE.COUNTING_CIRCLE.ASSIGN</h1>

  <div content class="grid">
    <div left>
      <bc-advanced-table class="w-full" [dataSource]="dataSource">
        <ng-container bcColumnDef="select">
          <th bc-header-cell *bcHeaderCellDef>
            <bc-checkbox
              class="ml-2 mb-0"
              (checkedChange)="toggleAllRows($event)"
              [checked]="selection.hasValue() && isAllSelected"
              [indeterminate]="selection.hasValue() && !isAllSelected"
            >
            </bc-checkbox>
          </th>
          <td bc-cell *bcCellDef="let element">
            <bc-checkbox
              class="ml-2"
              (checkedChange)="toggleRow(element, $event)"
              [checked]="selection.isSelected(element)"
            >
            </bc-checkbox>
          </td>
        </ng-container>
        <ng-container bcColumnDef="name">
          <th bc-header-cell *bcHeaderCellDef>{{ 'COUNTING_CIRCLE.NAME' | translate }}</th>
          <td bc-cell *bcCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container bcColumnDef="bfs">
          <th bc-header-cell *bcHeaderCellDef>{{ 'COUNTING_CIRCLE.BFS' | translate }}</th>
          <td bc-cell *bcCellDef="let element">{{ element.bfs }}</td>
        </ng-container>
        <ng-container bcColumnDef="authority">
          <th bc-header-cell *bcHeaderCellDef>{{ 'COUNTING_CIRCLE.AUTHORITY' | translate }}</th>
          <td bc-cell *bcCellDef="let element">{{ element.responsibleAuthority.name }}</td>
        </ng-container>

        <tr bc-header-row *bcHeaderRowDef="columns"></tr>
        <tr bc-advanced-table-row *bcRowDef="let row; columns: columns"
            [selectable]="true"
            (rowSelected)="selection.toggle(row); updateIsAllSelected()"></tr>
      </bc-advanced-table>
      <bc-table-paginator [pageSize]="10" [showFirstLastButtons]="true" [tooltips]="false"></bc-table-paginator>
    </div>
    <bc-divider class="ml-4" orientation="vertical"></bc-divider>
    <div right>
      <h2 translate class="mb-0">DOMAIN_OF_INFLUENCE.COUNTING_CIRCLE.ASSIGN_SELECTED_OVERVIEW</h2>
      <bc-advanced-table class="w-full" [dataSource]="selection.selected">
        <ng-container bcColumnDef="name">
          <th bc-header-cell *bcHeaderCellDef>{{ 'COUNTING_CIRCLE.NAME' | translate }}</th>
          <td bc-cell *bcCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container bcColumnDef="actions">
          <th bc-header-cell class="actions-header" *bcHeaderCellDef></th>
          <td bc-cell *bcCellDef="let element">
            <bc-icon class="clickable" (click)="selection.deselect(element)" icon="remove"></bc-icon>
          </td>
        </ng-container>

        <tr bc-header-row *bcHeaderRowDef="columnsSelected"></tr>
        <tr bc-advanced-table-row *bcRowDef="let row; columns: columnsSelected"></tr>
      </bc-advanced-table>
      <ng-container *ngIf="inheritedCountingCircles.length">
        <h2 translate class="mb-0 mt-3">DOMAIN_OF_INFLUENCE.COUNTING_CIRCLE.INHERITED_OVERVIEW</h2>

        <bc-advanced-table class="w-full" [dataSource]="inheritedCountingCircles">
          <ng-container bcColumnDef="name">
            <th bc-header-cell *bcHeaderCellDef>{{ 'COUNTING_CIRCLE.NAME' | translate }}</th>
            <td bc-cell *bcCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <tr bc-header-row *bcHeaderRowDef="columnsInherited"></tr>
          <tr bc-advanced-table-row *bcRowDef="let row; columns: columnsInherited"></tr>
        </bc-advanced-table>
      </ng-container>
    </div>
  </div>

  <vo-lib-button-bar footer
                     (save)="save()"
                     [saving]="saving"
                     [sticky]="true"
                     [saveLabel]="'ACTIONS.ASSIGN' | translate"
                     (cancel)="cancel()">
  </vo-lib-button-bar>
</vo-lib-dialog>
