<div class="mr-3 my-2" *ngIf="!!domainOfInfluence.returnAddress && !!domainOfInfluence.printData">
  <app-domain-of-influence-logo-edit [disabled]="disabled"
                                     [domainOfInfluence]="domainOfInfluence"
                                     (logoChanged)="logoChanged.emit($event)"></app-domain-of-influence-logo-edit>
  <div>
    <h3 class="mb-1 mt-3" translate>DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_RETURN_ADDRESS.TITLE</h3>

    <bc-text [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_RETURN_ADDRESS.ADDRESS_LINE_1' | translate"
             [required]="true"
             [disabled]="disabled"
             [(value)]="domainOfInfluence.returnAddress.addressLine1"></bc-text>

    <bc-text [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_RETURN_ADDRESS.ADDRESS_LINE_2' | translate"
             [disabled]="disabled"
             [(value)]="domainOfInfluence.returnAddress.addressLine2"></bc-text>

    <bc-text [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_RETURN_ADDRESS.STREET' | translate"
             [required]="true"
             [disabled]="disabled"
             [(value)]="domainOfInfluence.returnAddress.street"></bc-text>

    <bc-text [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_RETURN_ADDRESS.ADDRESS_ADDITION' | translate"
             [disabled]="disabled"
             [(value)]="domainOfInfluence.returnAddress.addressAddition"></bc-text>

    <bc-text [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_RETURN_ADDRESS.ZIP_CODE' | translate"
             [required]="true"
             [disabled]="disabled"
             [(value)]="domainOfInfluence.returnAddress.zipCode"></bc-text>


    <bc-text [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_RETURN_ADDRESS.CITY' | translate"
             [required]="true"
             [disabled]="disabled"
             [(value)]="domainOfInfluence.returnAddress.city"></bc-text>


    <bc-text [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_RETURN_ADDRESS.COUNTRY' | translate"
             [required]="true"
             [disabled]="disabled"
             [(value)]="domainOfInfluence.returnAddress.country"></bc-text>
  </div>

  <div>
    <h3 class="mb-1 mt-3" translate>DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_PRINT_DATA.TITLE</h3>

    <bc-dropdown class="full-width"
                 [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_PRINT_DATA.SHIPPING_AWAY' | translate"
                 [items]="shippingAwayItems"
                 displayExpr="description"
                 valueExpr="value"
                 [required]="true"
                 [disabled]="disabled"
                 [(value)]="domainOfInfluence.printData.shippingAway"></bc-dropdown>

    <bc-dropdown class="full-width"
                 [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_PRINT_DATA.SHIPPING_RETURN' | translate"
                 [items]="shippingReturnItems"
                 displayExpr="description"
                 valueExpr="value"
                 [required]="true"
                 [disabled]="disabled"
                 [(value)]="domainOfInfluence.printData.shippingReturn"></bc-dropdown>

    <bc-dropdown class="full-width"
                 [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.VOTING_CARD_PRINT_DATA.SHIPPING_METHOD' | translate"
                 [items]="shippingMethodItems"
                 displayExpr="description"
                 valueExpr="value"
                 [required]="true"
                 [disabled]="disabled"
                 [(value)]="domainOfInfluence.printData.shippingMethod"></bc-dropdown>
  </div>

  <div>
    <h5 class="mb-1 mt-3" translate>DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.PRINTING_CENTER.TITLE</h5>

    <bc-checkbox  [disabled]="disabled"
                  [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.PRINTING_CENTER.EXTERNAL' | translate"
                  [(checked)]="domainOfInfluence.externalPrintingCenter"></bc-checkbox>

    <bc-text *ngIf="domainOfInfluence.externalPrintingCenter"
             [label]="'DOMAIN_OF_INFLUENCE.STIMMUNTERLAGEN.PRINTING_CENTER.EXTERNAL_EAI_MESSAGE_TYPE' | translate"
             [disabled]="disabled"
             [(value)]="domainOfInfluence.externalPrintingCenterEaiMessageType"></bc-text>
  </div>
</div>
