<bc-dialog>
  <div header>
    <bc-icon-button mat-dialog-close variant="tertiary" icon="cancel"></bc-icon-button>
    <h2 class="mb-0">{{ 'POLITICAL_BUSINESS.ASSIGNED_COUNTING_CIRCLES' | translate }}</h2>
  </div>
  <div>
    @if (loading) {
      <bc-spinner></bc-spinner>
    }
    <bc-table filter sort [sortActive]="[{ id: nameColumn, direction: 'asc' }]" class="w-full" [dataSource]="dataSource">
      <ng-container columnDef="name">
        <th bc-header-cell *headerCellDef filter sort>
          <app-truncated-value [value]="'COUNTING_CIRCLE.NAME' | translate"></app-truncated-value>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="element.name"></app-truncated-value>
        </td>
      </ng-container>

      <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
      <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>
    </bc-table>

    <bc-paginator #paginator [pageSize]="15" [pageSizeOptions]="[5, 10, 15]"></bc-paginator>
  </div>
</bc-dialog>
