<vo-lib-page [contentLoading]="loading" header="COUNTING_CIRCLE.TITLE">
  <div class="ml-3">
    <app-historization-filter-bar
      [includeDeletedLabel]="'HISTORIZATION.INCLUDE_DELETED.COUNTING_CIRCLE'"
      (filterChange)="historizationFilterChange($event)"
    ></app-historization-filter-bar>

    <div class="flex buttons" *ngIf="!historizationFilter.date && (canCreate || canMerge)">
      <bc-button
        variant="tertiary"
        *ngIf="canCreate"
        [label]="'COUNTING_CIRCLE.NEW' | translate"
        icon="plus"
        (buttonClick)="create()"
      ></bc-button>
      <bc-button
        variant="tertiary"
        *ngIf="canMerge"
        (buttonClick)="openMergers()"
        [label]="'COUNTING_CIRCLE.MERGE.TITLE' | translate"
      ></bc-button>
    </div>

    <bc-table selection filter sort [sortActive]="[{ id: nameColumn, direction: 'asc' }]" class="w-full" [dataSource]="dataSource">
      <ng-container [columnDef]="nameColumn">
        <bc-header-cell filter sort *headerCellDef>
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.NAME' | translate }}
          </span>
        </bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="element.name"></app-truncated-value>
        </bc-data-cell>
      </ng-container>

      <ng-container [columnDef]="bfsColumn">
        <bc-header-cell filter sort *headerCellDef>
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.BFS' | translate }}
          </span>
        </bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="element.bfs"></app-truncated-value>
        </bc-data-cell>
      </ng-container>

      <ng-container [columnDef]="codeColumn">
        <bc-header-cell filter sort *headerCellDef>
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.CODE' | translate }}
          </span>
        </bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="element.code"></app-truncated-value>
        </bc-data-cell>
      </ng-container>

      <ng-container [columnDef]="authorityColumn">
        <bc-header-cell filter sort *headerCellDef>
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.AUTHORITY' | translate }}
          </span>
        </bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="element.responsibleAuthority.name"></app-truncated-value>
        </bc-data-cell>
      </ng-container>

      <ng-container [columnDef]="modifiedOnColumn">
        <bc-header-cell filter filterType="date-extended" sort *headerCellDef>
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.MODIFIED_ON' | translate }}
          </span>
        </bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="element.modifiedOn | date: 'short'"></app-truncated-value>
        </bc-data-cell>
      </ng-container>

      <ng-container [columnDef]="stateColumn">
        <bc-header-cell
          filter
          filterType="list"
          [filterItems]="stateList"
          filterDisplayExpr="description"
          filterValueExpr="value"
          sort
          *headerCellDef
        >
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.STATE' | translate }}
          </span>
        </bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="'COUNTING_CIRCLE.STATES.' + element.state | translate"></app-truncated-value>
        </bc-data-cell>
      </ng-container>

      <ng-container [columnDef]="actionsColumn">
        <bc-header-cell *headerCellDef></bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <bc-icon
            *ngIf="!element.deletedOn && canDelete"
            (click)="delete(element); $event.stopPropagation()"
            icon="trash"
            iconColor="error"
          >
          </bc-icon>
        </bc-data-cell>
      </ng-container>

      <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
      <bc-data-row
        *dataRowDef="let row; columns: columns; let i = index"
        selectionToggle
        [selectionToggleValue]="row"
        selectionRow
        [selectionRowValue]="row"
        (click)="show(row)"
      ></bc-data-row>
    </bc-table>

    <bc-paginator #paginator showFirstLastButtons [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20]"></bc-paginator>
  </div>
</vo-lib-page>
