<vo-lib-page [contentLoading]="loading" header="COUNTING_CIRCLE.TITLE">
  <div class="ml-3">
    <app-historization-filter-bar
      [includeDeletedLabel]="'HISTORIZATION.INCLUDE_DELETED.COUNTING_CIRCLE'"
      (filterChange)="historizationFilterChange($event)"
    ></app-historization-filter-bar>

    @if (!historizationFilter.date && (canCreate || canMerge)) {
      <div class="flex buttons">
        @if (canCreate) {
          <bc-button variant="tertiary" [label]="'COUNTING_CIRCLE.NEW' | translate" icon="plus" (buttonClick)="create()"></bc-button>
        }
        @if (canMerge) {
          <bc-button variant="tertiary" (buttonClick)="openMergers()" [label]="'COUNTING_CIRCLE.MERGE.TITLE' | translate"></bc-button>
        }
      </div>
    }

    <bc-table
      selection
      filter
      sort
      [sortActive]="[{ id: nameColumn, direction: 'asc' }]"
      class="w-full"
      [dataSource]="dataSource"
      [sticky]="true"
    >
      <ng-container [columnDef]="nameColumn">
        <th bc-header-cell filter sort *headerCellDef>
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.NAME' | translate }}
          </span>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <span>{{ element.name }}</span>
        </td>
      </ng-container>

      <ng-container [columnDef]="bfsColumn">
        <th bc-header-cell filter sort *headerCellDef>
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.BFS' | translate }}
          </span>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <span>{{ element.bfs }}</span>
        </td>
      </ng-container>

      <ng-container [columnDef]="codeColumn">
        <th bc-header-cell filter sort *headerCellDef>
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.CODE' | translate }}
          </span>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <span>{{ element.code }}</span>
        </td>
      </ng-container>

      <ng-container [columnDef]="authorityColumn">
        <th bc-header-cell filter sort *headerCellDef>
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.AUTHORITY' | translate }}
          </span>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <span>{{ element.responsibleAuthority.name }}</span>
        </td>
      </ng-container>

      <ng-container [columnDef]="modifiedOnColumn">
        <th bc-header-cell filter filterType="date-extended" sort *headerCellDef>
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.MODIFIED_ON' | translate }}
          </span>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <span>{{ element.modifiedOn | date: 'short' }}</span>
        </td>
      </ng-container>

      <ng-container [columnDef]="stateColumn">
        <th bc-header-cell
          filter
          filterType="list"
          [filterItems]="stateList"
          filterDisplayExpr="description"
          filterValueExpr="value"
          sort
          *headerCellDef
        >
          <span truncateWithTooltip tooltip>
            {{ 'COUNTING_CIRCLE.STATE' | translate }}
          </span>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <span>{{ 'COUNTING_CIRCLE.STATES.' + element.state | translate }}</span>
        </td>
      </ng-container>

      <ng-container [columnDef]="actionsColumn">
        <th bc-header-cell *headerCellDef></th>
        <td bc-data-cell *dataCellDef="let element">
          @if (!element.deletedOn && canDelete) {
            <bc-icon (click)="delete(element); $event.stopPropagation()" icon="trash" iconColor="error"></bc-icon>
          }
        </td>
      </ng-container>

      <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
      <tr bc-data-row
        *dataRowDef="let row; columns: columns; let i = index"
        selectionToggle
        [selectionToggleValue]="row"
        selectionRow
        [selectionRowValue]="row"
        (click)="show(row)"
      ></tr>
    </bc-table>

    <bc-paginator #paginator showFirstLastButtons [pageSize]="100" [pageSizeOptions]="[5, 10, 15, 20, 100]"></bc-paginator>
  </div>
</vo-lib-page>
