@use '@abraxas/voting-lib/style/table' as table;

::ng-deep [class*='bc-column-'] {
  @include table.truncate-long-simple-sortable-table-header();
}

.bc-column-actions {
  width: 2rem;
}

bc-paginator {
  overflow: hidden;

  // unset width so that it does not overlap the scroll bar
  ::ng-deep .bc-paginator-container {
    width: unset;
  }
}

.buttons {
  margin-top: -1.5rem;
}
