<div class="form" *ngIf="data">
  <bc-text [label]="'POLITICAL_BUSINESS.NUMBER' | translate"
           [readonly]="locked || readonly"
           [required]="true"
           [(value)]="data.politicalBusinessNumber"
           [subscriptSizing]="'dynamic'"></bc-text>

  <app-translated-formfield [label]="'POLITICAL_BUSINESS.SHORT_DESCRIPTION' | translate"
                [readonly]="locked || readonly"
                [maxlength]="100"
                [(value)]="data.shortDescription"
                [singleLanguageInput]="true"></app-translated-formfield>

  <div class="form-group">
    <app-translated-textarea [label]="'POLITICAL_BUSINESS.OFFICIAL_DESCRIPTION' | translate"
                             [readonly]="locked || readonly"
                             [maxlength]="500"
                             class="full-width"
                             [(value)]="data.officialDescription"
                             [singleLanguageInput]="!eVoting"></app-translated-textarea>
  </div>

  <bc-number [label]="'MAJORITY_ELECTION.NUMBER_OF_MANDATES' | translate"
             [readonly]="testingPhaseEnded || locked || data.active || readonly"
             [required]="true"
             [value]="data.numberOfMandates"
             (valueChange)="data.numberOfMandates = +$event"
             [subscriptSizing]="'dynamic'"></bc-number>

  <bc-checkbox [checked]="!data.individualCandidatesDisabled"
               (checkedChange)="data.individualCandidatesDisabled = !$event;"
               [label]="'SECONDARY_ELECTION.MAJORITY.INDIVIDUAL_CANDIDATES' | translate"
               [disabled]="testingPhaseEnded || locked || readonly"
               [subscriptSizing]="'dynamic'"></bc-checkbox>
</div>
