@use '@abraxas/voting-lib/style/color' as *;

.content {
  max-width: 31rem;
}

.subtitle {
  color: $color-grey-3;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

bc-checkbox {
  margin-left: -10px;
}
