@use '@abraxas/voting-lib/style/color' as *;

.subtitle {
  color: $color-grey-3;
}

.grid {
  display: grid;
  grid-template-columns: minmax(min-content, 31rem) minmax(min-content, 31rem) 20rem;
  column-gap: 3rem;
}

bc-checkbox {
  margin-left: -10px;
}
