<vo-lib-page [contentLoading]="loading" header="CONTEST.TITLE">
  <div *ngIf="canCreate" class="flex">
    <bc-button
      *ngIf="canAddPoliticalAssembly"
      variant="tertiary"
      icon="plus"
      label="{{ 'POLITICAL_ASSEMBLY.NEW' | translate }}"
      (buttonClick)="createPoliticalAssembly()"
    ></bc-button>
    <bc-button variant="tertiary" icon="plus" label="{{ 'CONTEST.NEW' | translate }}" (buttonClick)="create()"></bc-button>
    <bc-button
      class="ml-2"
      variant="tertiary"
      icon="download"
      label="{{ 'IMPORT.IMPORT_CONTEST' | translate }}"
      (click)="import()"
    ></bc-button>
  </div>
  <app-contest-list
    (create)="create($event.date)"
    (edit)="edit($event)"
    (delete)="delete($event)"
    (view)="view($event.id)"
    (export)="export($event.id)"
    [contests]="contests"
    [showEndOfTestingPhase]="true"
    [showType]="canAddPoliticalAssembly"
    [canCreate]="canCreate"
    [canEdit]="canEdit"
    [canDelete]="canDelete"
    [politicalAssemblies]="politicalAssemblies"
    [showPaginator]="true"
  >
  </app-contest-list>

  <h2 translate>CONTEST.PAST_CONTESTS</h2>
  <app-contest-list
    (archive)="archive($event)"
    (pastUnlock)="pastUnlock($event)"
    (edit)="edit($event)"
    (view)="view($event.id)"
    (export)="export($event.id)"
    [showArchivePer]="true"
    [contests]="pastContests"
    [canCreate]="canCreate"
    [canEdit]="canEdit"
    [canDelete]="canDelete"
    [showType]="false"
    [showPaginator]="true"
  ></app-contest-list>

  <h2 translate>CONTEST.ARCHIVED_CONTESTS</h2>
  <app-contest-list
    class="mb-4 block"
    (view)="view($event.id)"
    (export)="export($event.id)"
    [showPaginator]="true"
    [contests]="archivedContests"
    [canCreate]="canCreate"
    [canEdit]="canEdit"
    [canDelete]="canDelete"
    [showType]="false"
    [showState]="false"
  ></app-contest-list>
</vo-lib-page>
