vo-lib-dialog {
  max-height: 800px;
}

div[content] {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 50rem));
  column-gap: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
}

.column-span-2 {
  grid-column: span 2;
}
