<div class="form mr-3" *ngIf="candidate">
  <bc-text
    [label]="'MAJORITY_ELECTION.CANDIDATE.NUMBER' | translate"
    [required]="true"
    [disabled]="testingPhaseEnded || isCandidateReference"
    [value]="candidate.number"
    (valueChange)="candidate.number = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-text>

  <bc-text
    [label]="'MAJORITY_ELECTION.CANDIDATE.FIRST_NAME' | translate"
    [required]="true"
    [maxlength]="100"
    [disabled]="isCandidateReference"
    [value]="candidate.firstName"
    (valueChange)="candidate.firstName = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-text>

  <bc-text
    [label]="'MAJORITY_ELECTION.CANDIDATE.LAST_NAME' | translate"
    [required]="true"
    [maxlength]="100"
    [disabled]="isCandidateReference"
    [value]="candidate.lastName"
    (valueChange)="candidate.lastName = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-text>

  <bc-text
    [label]="'MAJORITY_ELECTION.CANDIDATE.POLITICAL_FIRST_NAME' | translate"
    [maxlength]="100"
    [disabled]="isCandidateReference"
    [placeholder]="candidate.firstName"
    [value]="candidate.politicalFirstName"
    (valueChange)="candidate.politicalFirstName = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-text>

  <bc-text
    [label]="'MAJORITY_ELECTION.CANDIDATE.POLITICAL_LAST_NAME' | translate"
    [maxlength]="100"
    [disabled]="isCandidateReference"
    [placeholder]="candidate.lastName"
    [value]="candidate.politicalLastName"
    (valueChange)="candidate.politicalLastName = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-text>

  <bc-date
    [label]="'MAJORITY_ELECTION.CANDIDATE.DATE_OF_BIRTH' | translate"
    [required]="true"
    [disabled]="isCandidateReference"
    [error]="candidate.dateOfBirth !== undefined && !isDateOfBirthValid()"
    [value]="candidate.dateOfBirth | date: 'yyyy-MM-dd'"
    (valueChange)="dateOfBirth = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-date>

  <bc-text
    [label]="'MAJORITY_ELECTION.CANDIDATE.DATE_OF_BIRTH_YEAR' | translate"
    [disabled]="true"
    [required]="true"
    [value]="'' + (candidate.dateOfBirth?.getFullYear() || '')"
    subscriptSizing="dynamic"
  ></bc-text>

  <bc-dropdown
    class="full-width"
    [label]="'SEX_TYPE.TITLE' | translate"
    [items]="sexTypes"
    [clearable]="false"
    [disabled]="isCandidateReference"
    displayExpr="description"
    valueExpr="value"
    [required]="true"
    [value]="candidate.sex"
    (valueChange)="candidate.sex = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-dropdown>

  <app-translated-formfield
    [label]="'MAJORITY_ELECTION.CANDIDATE.OCCUPATION' | translate"
    [optional]="true"
    [maxlength]="250"
    [disabled]="isCandidateReference"
    [singleLanguageInput]="true"
    [value]="candidate.occupation"
    (valueChange)="candidate.occupation = $event; contentChanged.emit()"
  ></app-translated-formfield>

  <bc-text
    [label]="'MAJORITY_ELECTION.CANDIDATE.TITLE' | translate"
    [maxlength]="50"
    [disabled]="isCandidateReference"
    [value]="candidate.title"
    (valueChange)="candidate.title = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-text>

  <app-translated-formfield
    [label]="'MAJORITY_ELECTION.CANDIDATE.OCCUPATION_TITLE' | translate"
    [optional]="true"
    [maxlength]="250"
    [disabled]="isCandidateReference"
    [singleLanguageInput]="true"
    [value]="candidate.occupationTitle"
    (valueChange)="candidate.occupationTitle = $event; contentChanged.emit()"
  ></app-translated-formfield>

  <app-translated-formfield
    [label]="'MAJORITY_ELECTION.CANDIDATE.PARTY' | translate"
    [maxlength]="12"
    [disabled]="isCandidateReference"
    [singleLanguageInput]="true"
    [value]="candidate.party"
    (valueChange)="candidate.party = $event; contentChanged.emit()"
  ></app-translated-formfield>

  <!-- incumbent may be edited even if this is a candidate reference -->
  <bc-checkbox
    [checked]="candidate.incumbent"
    (checkedChange)="candidate.incumbent = $event; contentChanged.emit()"
    [label]="'MAJORITY_ELECTION.CANDIDATE.INCUMBENT' | translate"
  ></bc-checkbox>

  <bc-text
    [label]="'MAJORITY_ELECTION.CANDIDATE.ZIP_CODE' | translate"
    [disabled]="isCandidateReference"
    [value]="candidate.zipCode"
    (valueChange)="candidate.zipCode = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-text>

  <bc-text
    [label]="'MAJORITY_ELECTION.CANDIDATE.LOCALITY' | translate"
    [required]="isCandidateLocalityRequired"
    [disabled]="isCandidateReference"
    [value]="candidate.locality"
    (valueChange)="candidate.locality = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-text>

  <bc-text
    [label]="'MAJORITY_ELECTION.CANDIDATE.ORIGIN' | translate"
    [required]="isCandidateOriginRequired"
    [disabled]="isCandidateReference"
    [value]="candidate.origin"
    (valueChange)="candidate.origin = $event; contentChanged.emit()"
    subscriptSizing="dynamic"
  ></bc-text>
</div>
