<vo-lib-dialog>
  <h1 header>{{!isNew ? ('CANTON_SETTINGS.EDIT' | translate) : ('CANTON_SETTINGS.NEW' | translate)}}</h1>

  <div content class="form mr-3 my-2">
    <bc-dropdown class="full-width"
                 [label]="'DOMAIN_OF_INFLUENCE.CANTON' | translate"
                 [items]="cantons"
                 displayExpr="description"
                 valueExpr="value"
                 [required]="true"
                 [disabled]="readonly || !isNew"
                 [value]="data.canton"
                 (valueChange)="data.canton = $event; contentChanged()"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>

    <vo-lib-tenant-selection label="CANTON_SETTINGS.AUTHORITY"
                             [disabled]="readonly"
                             [selectedTenant]="selectedTenant"
                             (selectedTenantChange)="selectedTenant = $event; contentChanged()"></vo-lib-tenant-selection>

    <h2 class="mb-1" translate>CANTON_SETTINGS.COUNTING_CIRCLE.TITLE</h2>
    <bc-checkbox [checked]="data.countingMachineEnabled"
                 (checkedChange)="data.countingMachineEnabled = $event; contentChanged()"
                 [disabled]="readonly"
                 [label]="'CANTON_SETTINGS.COUNTING_CIRCLE.COUNTING_MACHINE' | translate"
                 class="full-width">
    </bc-checkbox>

    <bc-label class="full-width" [label]="'CANTON_SETTINGS.COUNTING_CIRCLE.PROTOCOL_SORT.TITLE' | translate"></bc-label>
    <bc-radio-button-group class="mb-3"
                           orientation="vertical"
                           [disabled]="readonly"
                           [items]="protocolCountingCircleSortTypeChoices"
                           [value]="data.protocolCountingCircleSortType"
                           (valueChange)="data.protocolCountingCircleSortType = $event; contentChanged()"></bc-radio-button-group>

    <h2 class="mb-1" translate>CANTON_SETTINGS.DOMAIN_OF_INFLUENCE.TITLE</h2>
    <bc-label class="full-width" [label]="'CANTON_SETTINGS.DOMAIN_OF_INFLUENCE.PROTOCOL_SORT.TITLE' | translate"></bc-label>
    <bc-radio-button-group class="mb-3"
                           orientation="vertical"
                           [disabled]="readonly"
                           [items]="protocolDomainOfInfluenceSortTypeChoices"
                           [value]="data.protocolDomainOfInfluenceSortType"
                           (valueChange)="data.protocolDomainOfInfluenceSortType = $event; contentChanged()"></bc-radio-button-group>

    <h2 class="mb-1" translate>CANTON_SETTINGS.VOTE.TITLE</h2>
    <div class="full-width">
      <bc-checkbox [checked]="data.multipleVoteBallotsEnabled"
                   (checkedChange)="data.multipleVoteBallotsEnabled = $event; contentChanged()"
                   [disabled]="readonly"
                   [label]="'CANTON_SETTINGS.VOTE.MULTIPLE_VOTE_BALLOTS_ENABLED.TITLE' | translate"></bc-checkbox>
      <bc-icon icon="question-circle-o"
               class="ml-2"
               [tooltip]="'CANTON_SETTINGS.VOTE.MULTIPLE_VOTE_BALLOTS_ENABLED.INFO' | translate"></bc-icon>
    </div>

    <h2 class="mb-1" translate>CANTON_SETTINGS.PROPORTIONAL_ELECTION.TITLE</h2>

    <bc-checkbox [checked]="data.proportionalElectionUseCandidateCheckDigit"
                 (checkedChange)="data.proportionalElectionUseCandidateCheckDigit = $event; contentChanged()"
                 [disabled]="readonly"
                 [label]="'CANTON_SETTINGS.PROPORTIONAL_ELECTION.USE_CANDIDATE_CHECK_DIGIT' | translate"
                 class="full-width">
    </bc-checkbox>

    <bc-label class="full-width" [label]="'CANTON_SETTINGS.PROPORTIONAL_ELECTION.MANDATE_ALGORITHM' | translate"></bc-label>
    <bc-checkbox *ngFor="let proportionalElectionMandateAlgorithm of proportionalElectionMandateAlgorithms.items"
                 [checked]="proportionalElectionMandateAlgorithm.checked"
                 (checkedChange)="
                  proportionalElectionMandateAlgorithms.updateChecked(proportionalElectionMandateAlgorithm, $event);
                  contentChanged()
                 "
                 [label]="proportionalElectionMandateAlgorithm.item.description"
                 class="full-width"
                 [disabled]="readonly">
    </bc-checkbox>

    <h2 class="mb-1" translate>CANTON_SETTINGS.MAJORITY_ELECTION.TITLE</h2>

    <bc-label class="full-width" [label]="'CANTON_SETTINGS.MAJORITY_ELECTION.ABSOLUTE_MAJORITY_ALGORITHM' | translate"></bc-label>
    <bc-dropdown class="full-width"
                 [items]="majorityElectionAbsoluteMajorityAlgorithms"
                 displayExpr="description"
                 valueExpr="value"
                 [required]="true"
                 [disabled]="readonly"
                 [value]="data.majorityElectionAbsoluteMajorityAlgorithm"
                 (valueChange)="data.majorityElectionAbsoluteMajorityAlgorithm = $event; contentChanged()"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>

    <bc-checkbox [checked]="data.majorityElectionInvalidVotes"
                 (checkedChange)="data.majorityElectionInvalidVotes = $event; contentChanged()"
                 [disabled]="readonly"
                 [label]="'CANTON_SETTINGS.MAJORITY_ELECTION.INVALID_VOTES' | translate"></bc-checkbox>

    <bc-checkbox [checked]="data.majorityElectionUseCandidateCheckDigit"
                 (checkedChange)="data.majorityElectionUseCandidateCheckDigit = $event; contentChanged()"
                 [disabled]="readonly"
                 [label]="'CANTON_SETTINGS.MAJORITY_ELECTION.USE_CANDIDATE_CHECK_DIGIT' | translate"
                 class="full-width">
    </bc-checkbox>

    <bc-checkbox [checked]="data.candidateLocalityRequired && data.candidateOriginRequired"
                 (checkedChange)="data.candidateLocalityRequired = $event; data.candidateOriginRequired = $event; contentChanged()"
                 [disabled]="readonly"
                 [label]="'CANTON_SETTINGS.MAJORITY_ELECTION.CANDIDATE_LOCALITY_AND_ORIGIN_REQUIRED' | translate"
                 class="full-width">
    </bc-checkbox>

    <h2 class="mb-1" translate>CANTON_SETTINGS.GENERAL</h2>

    <bc-checkbox [checked]="data.publishResultsEnabled"
                 (checkedChange)="data.publishResultsEnabled = $event; contentChanged()"
                 [disabled]="readonly"
                 [label]="'CANTON_SETTINGS.PUBLISH_RESULTS' | translate"
                 class="full-width">
    </bc-checkbox>

    <bc-checkbox [checked]="data.publishResultsBeforeAuditedTentatively"
                 (checkedChange)="data.publishResultsBeforeAuditedTentatively = $event; contentChanged()"
                 [disabled]="readonly"
                 [label]="'CANTON_SETTINGS.PUBLISH_RESULTS_BEFORE_AUDITED_TENTATIVELY' | translate">
    </bc-checkbox>


    <bc-checkbox [checked]="!data.endResultFinalizeDisabled"
                 (checkedChange)="data.endResultFinalizeDisabled = !$event; contentChanged()"
                 [disabled]="readonly"
                 [label]="'CANTON_SETTINGS.END_RESULT_FINALIZE' | translate"
                 class="full-width">
    </bc-checkbox>

    <bc-checkbox [checked]="data.createContestOnHighestHierarchicalLevelEnabled"
                 (checkedChange)="data.createContestOnHighestHierarchicalLevelEnabled = $event; contentChanged()"
                 [disabled]="readonly"
                 [label]="'CANTON_SETTINGS.CREATE_CONTEST_ON_HIGHEST_HIERARCHICAL_LEVEL' | translate"
                 class="full-width">
    </bc-checkbox>

    <bc-checkbox [checked]="!data.internalPlausibilisationDisabled"
                 (checkedChange)="data.internalPlausibilisationDisabled = !$event; contentChanged()"
                 [disabled]="readonly"
                 [label]="'CANTON_SETTINGS.INTERNAL_PLAUSIBILISATION' | translate"
                 class="full-width">
    </bc-checkbox>

    <bc-label class="mt-2 full-width" [label]="'CANTON_SETTINGS.COUNTING_CIRCLE_RESULT_STATE.TITLE' | translate"></bc-label>
    <div *ngFor="let countingCircleResultStateDescription of data.countingCircleResultStateDescriptionsList">
      <div class="counting-circle-result-state-descriptions">
        <div class="state-colorbox" [ngClass]="'result-state-' + countingCircleResultStateDescription.state"></div>
        <div class="text-checkbox-container full-width">
          <bc-text
            [placeholder]="'COUNTING_CIRCLE_RESULT_STATE.' + countingCircleResultStateDescription.state | translate"
            [disabled]="readonly"
            [required]="true"
            [value]="countingCircleResultStateDescription.description"
            (valueChange)="countingCircleResultStateDescription.description = $event; contentChanged()"
            [subscriptSizing]="'dynamic'"></bc-text>
          <bc-checkbox *ngIf="countingCircleResultStateDescription.state === states.COUNTING_CIRCLE_RESULT_STATE_PLAUSIBILISED"
                       class="mt-1"
                       [checked]="!data.statePlausibilisedDisabled"
                       (checkedChange)="data.statePlausibilisedDisabled = !$event; contentChanged()"
                       [disabled]="readonly"
                       [label]="'CANTON_SETTINGS.COUNTING_CIRCLE_RESULT_STATE.USE_STATE' | translate">
          </bc-checkbox>
        </div>

      </div>

    </div>

    <bc-label class="mt-2 full-width" [label]="'CANTON_SETTINGS.POLITICAL_BUSINESS_UNIONS.TITLE' | translate"></bc-label>
    <bc-checkbox *ngFor="let unionType of politicalBusinessUnionTypes.items"
                 [checked]="unionType.checked"
                 (checkedChange)="politicalBusinessUnionTypes.updateChecked(unionType, $event); contentChanged()"
                 [disabled]="readonly"
                 [label]="unionType.item.description"
                 class="full-width">
    </bc-checkbox>

    <bc-dropdown class="full-width"
                 [label]="'CANTON_SETTINGS.SWISS_ABROAD_VOTING_RIGHT.TITLE' | translate"
                 [items]="swissAbroadVotingRights"
                 displayExpr="description"
                 valueExpr="value"
                 [required]="true"
                 [disabled]="readonly"
                 [value]="data.swissAbroadVotingRight"
                 (valueChange)="data.swissAbroadVotingRight = $event; contentChanged()"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>

    <bc-label class="mt-2 full-width"
              [label]="'CANTON_SETTINGS.SWISS_ABROAD_VOTING_RIGHT.DOMAIN_OF_INFLUENCE_TYPES' | translate"></bc-label>
    <bc-checkbox *ngFor="let swissAbroadVotingRightDomainOfInfluenceType of swissAbroadVotingRightDomainOfInfluenceTypes.items"
                 [checked]="swissAbroadVotingRightDomainOfInfluenceType.checked"
                 (checkedChange)="
                  swissAbroadVotingRightDomainOfInfluenceTypes.updateChecked(swissAbroadVotingRightDomainOfInfluenceType, $event);
                  contentChanged()
                 "
                 [disabled]="readonly"
                 [label]="swissAbroadVotingRightDomainOfInfluenceType.item.description"
                 class="full-width">
    </bc-checkbox>

    <h2 class="mb-1" translate>CANTON_SETTINGS.VOTING_CARDS.TITLE</h2>
    <p *ngIf="!votingCardChannels.atLeastOneChecked"
       class="error mb-1 mt-0">{{'CANTON_SETTINGS.VOTING_CARDS.NONE_SELECTED' | translate}}</p>
    <bc-checkbox *ngFor="let votingCardChannel of votingCardChannels.items"
                 [checked]="votingCardChannel.checked"
                 (checkedChange)="votingCardChannels.updateChecked(votingCardChannel, $event); contentChanged()"
                 [disabled]="readonly"
                 [label]="votingCardChannel.item.description"
                 class="full-width">
    </bc-checkbox>

    <h2 class="mb-1" translate>CANTON_SETTINGS.VOTING_DOCUMENTS.TITLE</h2>
    <bc-text [label]="'CANTON_SETTINGS.VOTING_DOCUMENTS.E_VOTING_EAI_MESSAGE_TYPE' | translate"
             [disabled]="readonly"
             [required]="true"
             [value]="data.votingDocumentsEVotingEaiMessageType"
             (valueChange)="data.votingDocumentsEVotingEaiMessageType = $event; contentChanged()"
             [subscriptSizing]="'dynamic'"></bc-text>
  </div>

  <div footer class="mr-3">
    <vo-lib-button-bar footer
                       [canSave]="canSave"
                       [saving]="saving"
                       [sticky]="false"
                       [hasSaveButton]="!readonly"
                       (save)="save()"
                       (cancel)="closeWithUnsavedChangesCheck()"></vo-lib-button-bar>
  </div>
</vo-lib-dialog>
