<vo-lib-page [contentLoading]="loading" [showBackButton]="true" header="COUNTING_CIRCLE.MERGE.DETAIL.TITLE">
  <div class="mb-3 flex">
    <bc-button
      variant="tertiary"
      [label]="'COUNTING_CIRCLE.MERGE.DETAIL.NEW' | translate"
      [icon]="'plus'"
      (buttonClick)="create()"
    ></bc-button>
  </div>

  <bc-table *ngIf="mergers.length > 0; else noData" class="w-full" [dataSource]="mergers">
    <ng-container columnDef="name">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'COUNTING_CIRCLE.MERGE.DETAIL.NAME' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.newCountingCircle.name"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="bfs">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'COUNTING_CIRCLE.MERGE.DETAIL.BFS' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.newCountingCircle.bfs"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="code">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'COUNTING_CIRCLE.MERGE.DETAIL.CODE' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.newCountingCircle.code"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="activeFrom">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'COUNTING_CIRCLE.MERGE.DETAIL.ACTIVE_FROM' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.activeFrom | date"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="mergedCountingCircles">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'COUNTING_CIRCLE.MERGE.DETAIL.MERGED_COUNTING_CIRCLES' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <div class="py-2">
          <div *ngFor="let cc of element.mergedCountingCircles">
            <span>{{ cc.name }}</span>
          </div>
        </div>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="actions">
      <bc-header-cell *headerCellDef></bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <div class="flex">
          <bc-icon *ngIf="!element.merged" class="clickable" (click)="edit(element)" icon="edit"></bc-icon>
          <bc-icon *ngIf="!element.merged" class="clickable ml-2" (click)="delete(element)" icon="trash" iconColor="error"></bc-icon>
        </div>
      </bc-data-cell>
    </ng-container>

    <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
    <bc-data-row *dataRowDef="let row; columns: columns; let i = index"></bc-data-row>
  </bc-table>
</vo-lib-page>

<ng-template #noData>
  <p class="no-data" translate>COUNTING_CIRCLE.MERGE.DETAIL.NO_DATA</p>
</ng-template>
