<div class="form" *ngIf="contest && data">
  <bc-text [label]="'POLITICAL_BUSINESS.NUMBER' | translate"
           [readonly]="contest.locked || readonly"
           [required]="true"
           [value]="data.politicalBusinessNumber"
           (valueChange)="data.politicalBusinessNumber = $event; contentChanged.emit()"
           [subscriptSizing]="'dynamic'"></bc-text>

  <app-translated-formfield [label]="'POLITICAL_BUSINESS.SHORT_DESCRIPTION' | translate"
                            [readonly]="contest.locked || readonly"
                            [maxlength]="100"
                            [value]="data.shortDescription"
                            (valueChange)="data.shortDescription = $event; contentChanged.emit()"
                            [singleLanguageInput]="true"></app-translated-formfield>

  <div class="form-group">
    <app-translated-textarea [label]="'POLITICAL_BUSINESS.OFFICIAL_DESCRIPTION' | translate"
                             [readonly]="contest.locked || readonly"
                             [maxlength]="500"
                             class="full-width"
                             [value]="data.officialDescription"
                             (valueChange)="data.officialDescription = $event; contentChanged.emit()"
                             [singleLanguageInput]="!contest.eVoting"></app-translated-textarea>
  </div>

  <bc-number [label]="'PROPORTIONAL_ELECTION.NUMBER_OF_MANDATES' | translate"
             [readonly]="contest.testingPhaseEnded || readonly"
             [required]="true"
             [value]="data.numberOfMandates"
             (valueChange)="data.numberOfMandates = +$event; contentChanged.emit()"
             [subscriptSizing]="'dynamic'"></bc-number>

  <bc-dropdown class="full-width"
               *ngIf="domainOfInfluenceTypeItems.length > 1"
               [label]="'DOMAIN_OF_INFLUENCE.TYPE' | translate"
               [items]="domainOfInfluenceTypeItems"
               [readonly]="contest.testingPhaseEnded || readonly"
               [clearable]="false"
               [required]="true"
               displayExpr="description"
               valueExpr="value"
               [value]="selectedDomainOfInfluenceType"
               (valueChange)="selectedDomainOfInfluenceType = $event; contentChanged.emit()"
               [subscriptSizing]="'dynamic'"></bc-dropdown>

  <bc-number *ngIf="selectedDomainOfInfluenceType === domainOfInfluenceTypes.DOMAIN_OF_INFLUENCE_TYPE_CH"
             [label]="'POLITICAL_BUSINESS.FEDERAL_IDENTIFICATION' | translate"
             [readonly]="contest.testingPhaseEnded || readonly"
             [value]="data.federalIdentification"
             (valueChange)="data.federalIdentification = $event; contentChanged.emit()"
             [max]="federalIdentificationMaxValue"
             [subscriptSizing]="'dynamic'"></bc-number>

  <div class="container">
    <bc-dropdown class="full-width"
                 *ngIf="selectedDomainOfInfluenceType"
                 [items]="domainOfInfluencesByType[selectedDomainOfInfluenceType]"
                 [readonly]="contest.testingPhaseEnded || readonly"
                 displayExpr="name"
                 [required]="true"
                 [value]="selectedDomainOfInfluence"
                 (valueChange)="selectedDomainOfInfluence = $event; contentChanged.emit()"
                 [label]="'POLITICAL_BUSINESS.DOMAIN_OF_INFLUENCE' | translate"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>
    <bc-button *ngIf="!!selectedDomainOfInfluence"
               class="nowrap"
               variant="tertiary"
               [label]="'POLITICAL_BUSINESS.COUNTING_CIRCLES' | translate"
               (buttonClick)="openAssignedCountingCirclesDialog()"></bc-button>
  </div>


  <bc-dropdown class="full-width"
               [label]="'PROPORTIONAL_ELECTION.MANDATE_ALGORITHM.TITLE' | translate"
               [items]="mandateAlgorithms"
               [readonly]="contest.testingPhaseEnded || readonly"
               displayExpr="description"
               valueExpr="value"
               [required]="true"
               [(value)]="data.mandateAlgorithm"
               (valueChange)="data.mandateAlgorithm = $event; contentChanged.emit()"
               [subscriptSizing]="'dynamic'"></bc-dropdown>
</div>
