<vo-lib-dialog>
  <h1 header translate>PROPORTIONAL_ELECTION.LIST_UNION.MAIN_LIST.EDIT</h1>

  <div content class="form mr-3">
    <bc-dropdown class="full-width"
                 [label]="'PROPORTIONAL_ELECTION.LIST_UNION.MAIN_LIST.TITLE' | translate"
                 [items]="lists"
                 displayExpr="orderNumberAndDescription"
                 valueExpr="id"
                 [value]="data.proportionalElectionMainListId"
                 (valueChange)="setMainListId($event)"
                 subscriptSizing="dynamic"></bc-dropdown>

    <bc-checkbox [label]="'PROPORTIONAL_ELECTION.LIST_UNION.MAIN_LIST.NO_LIST' | translate"
                 [checked]="noMainList"
                 (checkedChange)="setNoMainList($event)"></bc-checkbox>
  </div>
  <vo-lib-button-bar footer
                     [saving]="saving"
                     [sticky]="false"
                     (save)="save()"
                     [canSave]="!!data.proportionalElectionMainListId || noMainList"
                     (cancel)="cancel()"></vo-lib-button-bar>
</vo-lib-dialog>
