<vo-lib-dialog [header]="'POLITICAL_BUSINESS_UNION.POLITICAL_BUSINESSES.ASSIGN' | translate" (dialogClose)="cancel()">
  <div content class="grid">
    <div>
      <bc-table selection class="w-full" [dataSource]="dataSource">
        <ng-container columnDef="select">
          <th bc-header-cell *headerCellDef>
            <bc-checkbox
              class="ml-2 mb-0"
              (checkedChange)="toggleAllRows($event)"
              [checked]="selection.hasValue() && isAllSelected"
              [indeterminate]="selection.hasValue() && !isAllSelected"
            >
            </bc-checkbox>
          </th>
          <td bc-data-cell *dataCellDef="let element">
            <bc-checkbox class="ml-2" (checkedChange)="toggleRowWithValue(element, $event)" [checked]="selection.isSelected(element)">
            </bc-checkbox>
          </td>
        </ng-container>

        <ng-container columnDef="politicalBusinessNumber">
          <th bc-header-cell *headerCellDef>
            <app-truncated-value [value]="'POLITICAL_BUSINESS_UNION.POLITICAL_BUSINESSES.NUMBER' | translate"></app-truncated-value>
          </th>
          <td bc-data-cell *dataCellDef="let element">
            <app-truncated-value [value]="element.politicalBusinessNumber"></app-truncated-value>
          </td>
        </ng-container>

        <ng-container columnDef="shortDescription">
          <th bc-header-cell *headerCellDef>
            <app-truncated-value
              [value]="'POLITICAL_BUSINESS_UNION.POLITICAL_BUSINESSES.SHORT_DESCRIPTION' | translate"
            ></app-truncated-value>
          </th>
          <td bc-data-cell *dataCellDef="let element">
            <app-truncated-value [value]="element.shortDescription | getTranslation"></app-truncated-value>
          </td>
        </ng-container>

        <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
        <tr bc-data-row
          *dataRowDef="let row; columns: columns; let i = index"
          selectionToggle
          [selectionToggleValue]="row"
          selectionRow
          [selectionRowValue]="row"
          (click)="toggleRow(row)"
        ></tr>
      </bc-table>
      <bc-paginator #paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></bc-paginator>
    </div>
    <bc-divider orientation="vertical" class="ml-4"></bc-divider>
    <div right>
      <h2 translate class="mb-0">{{ 'POLITICAL_BUSINESS_UNION.POLITICAL_BUSINESSES.SELECTED' | translate }}</h2>
      <bc-table class="w-full" [dataSource]="selection.selected">
        <ng-container columnDef="politicalBusinessNumber">
          <th bc-header-cell *headerCellDef>
            <app-truncated-value [value]="'POLITICAL_BUSINESS_UNION.POLITICAL_BUSINESSES.NUMBER' | translate"></app-truncated-value>
          </th>
          <td bc-data-cell *dataCellDef="let element">
            <app-truncated-value [value]="element.politicalBusinessNumber"></app-truncated-value>
          </td>
        </ng-container>

        <ng-container columnDef="actions">
          <th bc-header-cell *headerCellDef></th>
          <td bc-data-cell *dataCellDef="let element">
            <bc-icon class="clickable" (click)="toggleRow(element)" icon="remove"></bc-icon>
          </td>
        </ng-container>

        <tr bc-header-row *headerRowDef="let row; columns: columnsSelected"></tr>
        <tr bc-data-row *dataRowDef="let row; columns: columnsSelected; let i = index"></tr>
      </bc-table>
    </div>
  </div>

  <vo-lib-button-bar
    footer
    (save)="save()"
    [saving]="saving"
    [sticky]="true"
    [saveLabel]="'ACTIONS.ASSIGN' | translate"
    (cancel)="cancel()"
  >
  </vo-lib-button-bar>
</vo-lib-dialog>
