<vo-lib-dialog>
  <h1 header>{{!isNew ? ('PROPORTIONAL_ELECTION.CANDIDATE.EDIT' | translate) : ('PROPORTIONAL_ELECTION.CANDIDATE.NEW' | translate)}}</h1>

  <div content class="form mr-3">
    <bc-text [label]="'PROPORTIONAL_ELECTION.CANDIDATE.NUMBER' | translate"
             [required]="true"
             [disabled]="testingPhaseEnded"
             [value]="data.number"
             (valueChange)="data.number = $event; contentChanged()"
             subscriptSizing="dynamic"></bc-text>

    <bc-text [label]="'PROPORTIONAL_ELECTION.CANDIDATE.FIRST_NAME' | translate"
             [required]="true"
             [maxlength]="100"
             [value]="data.firstName"
             (valueChange)="data.firstName = $event; contentChanged()"
             subscriptSizing="dynamic"></bc-text>

    <bc-text [label]="'PROPORTIONAL_ELECTION.CANDIDATE.LAST_NAME' | translate"
             [required]="true"
             [maxlength]="100"
             [value]="data.lastName"
             (valueChange)="data.lastName = $event; contentChanged()"
             subscriptSizing="dynamic"></bc-text>

    <bc-text [label]="'PROPORTIONAL_ELECTION.CANDIDATE.POLITICAL_FIRST_NAME' | translate"
             [placeholder]="data.firstName"
             [maxlength]="100"
             [value]="data.politicalFirstName"
             (valueChange)="data.politicalFirstName = $event; contentChanged()"
             subscriptSizing="dynamic"></bc-text>

    <bc-text [label]="'PROPORTIONAL_ELECTION.CANDIDATE.POLITICAL_LAST_NAME' | translate"
             [placeholder]="data.lastName"
             [maxlength]="100"
             [value]="data.politicalLastName"
             (valueChange)="data.politicalLastName = $event; contentChanged()"
             subscriptSizing="dynamic"></bc-text>

    <bc-date [label]="'PROPORTIONAL_ELECTION.CANDIDATE.DATE_OF_BIRTH' | translate"
             [required]="true"
             [error]="data.dateOfBirth !== undefined && !isDateOfBirthValid()"
             [value]="data.dateOfBirth | date: 'yyyy-MM-dd'"
             (valueChange)="dateOfBirth = $event; contentChanged()"
             subscriptSizing="dynamic"></bc-date>

    <bc-text [label]="'PROPORTIONAL_ELECTION.CANDIDATE.DATE_OF_BIRTH_YEAR' | translate"
             [disabled]="true"
             [required]="true"
             [value]="'' + (data.dateOfBirth?.getFullYear() || '')"
             subscriptSizing="dynamic"></bc-text>

    <bc-dropdown class="full-width"
                 [label]="'SEX_TYPE.TITLE' | translate"
                 [items]="sexTypes"
                 [clearable]="false"
                 displayExpr="description"
                 valueExpr="value"
                 [required]="true"
                 [value]="data.sex"
                 (valueChange)="data.sex = $event; contentChanged()"
                 subscriptSizing="dynamic"></bc-dropdown>

    <app-translated-formfield [label]="'PROPORTIONAL_ELECTION.CANDIDATE.OCCUPATION' | translate"
                              [optional]="true"
                              [maxlength]="250"
                              [value]="data.occupation"
                              (valueChange)="data.occupation = $event; contentChanged()"
                              [singleLanguageInput]="true"></app-translated-formfield>

    <bc-text [label]="'PROPORTIONAL_ELECTION.CANDIDATE.TITLE' | translate"
             [maxlength]="50"
             [value]="data.title"
             (valueChange)="data.title = $event; contentChanged()"
             subscriptSizing="dynamic"></bc-text>

    <app-translated-formfield [label]="'PROPORTIONAL_ELECTION.CANDIDATE.OCCUPATION_TITLE' | translate"
                              [optional]="true"
                              [maxlength]="250"
                              [value]="data.occupationTitle"
                              (valueChange)="data.occupationTitle = $event; contentChanged()"
                              [singleLanguageInput]="true"></app-translated-formfield>

    <bc-checkbox [checked]="data.incumbent"
                 (checkedChange)="data.incumbent = $event; contentChanged()"
                 [label]="'PROPORTIONAL_ELECTION.CANDIDATE.INCUMBENT' | translate"></bc-checkbox>

    <bc-text [label]="'PROPORTIONAL_ELECTION.CANDIDATE.ZIP_CODE' | translate"
             [value]="data.zipCode"
             (valueChange)="data.zipCode = $event; contentChanged()"
             subscriptSizing="dynamic"></bc-text>

    <bc-text [label]="'PROPORTIONAL_ELECTION.CANDIDATE.LOCALITY' | translate"
             [required]="!isCommunalDoiType"
             [value]="data.locality"
             (valueChange)="data.locality = $event; contentChanged()"
             subscriptSizing="dynamic"></bc-text>

    <bc-text [label]="'PROPORTIONAL_ELECTION.CANDIDATE.ORIGIN' | translate"
             [required]="!isCommunalDoiType"
             [value]="data.origin"
             (valueChange)="data.origin = $event; contentChanged()"
             subscriptSizing="dynamic"></bc-text>

    <bc-dropdown class="full-width"
                 [label]="'PROPORTIONAL_ELECTION.CANDIDATE.PARTY' | translate"
                 [items]="parties"
                 [clearable]="false"
                 [required]="true"
                 displayExpr="shortDescriptionTranslated"
                 valueExpr="id"
                 [disabled]="testingPhaseEnded"
                 [value]="selectedPartyId"
                 (valueChange)="selectedPartyId = $event; contentChanged()"
                 subscriptSizing="dynamic"></bc-dropdown>
  </div>

  <div footer class="mr-3">
    <vo-lib-button-bar footer
                       [canSave]="canSave"
                       [saving]="saving"
                       [sticky]="false"
                       (save)="save()"
                       (cancel)="closeWithUnsavedChangesCheck()"></vo-lib-button-bar>
  </div>
</vo-lib-dialog>
