<div class="form">

  <div class="dropdown-checkbox-container">
    <bc-dropdown [label]="'MAJORITY_ELECTION.RESULT_ENTRY.TITLE' | translate"
                 [readonly]="testingPhaseEnded || locked || readonly"
                 [items]="resultEntryChoices"
                 displayExpr="description"
                 valueExpr="value"
                 [required]="true"
                 [value]="data.resultEntry"
                 (valueChange)="data.resultEntry = $event; contentChanged.emit()"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>
    <bc-checkbox [checked]="data.enforceResultEntryForCountingCircles"
                 (checkedChange)="data.enforceResultEntryForCountingCircles = $event; contentChanged.emit()"
                 [label]="'MAJORITY_ELECTION.ENFORCE_RESULT_ENTRY_FOR_COUNTING_CIRCLES' | translate"
                 [disabled]="locked || readonly"
                 [subscriptSizing]="'dynamic'"></bc-checkbox>
  </div>

  <ng-container *ngIf="data.resultEntry === resultEntryType.MAJORITY_ELECTION_RESULT_ENTRY_DETAILED">
    <bc-number [label]="'MAJORITY_ELECTION.BALLOT_BUNDLE_SIZE' | translate"
               [readonly]="testingPhaseEnded || locked || readonly"
               [value]="ballotBundleSize"
               (valueChange)="ballotBundleSize = $event; contentChanged.emit()"
               [subscriptSizing]="'dynamic'"></bc-number>
    <bc-number [label]="'MAJORITY_ELECTION.BALLOT_BUNDLE_SAMPLE_SIZE' | translate"
               [readonly]="testingPhaseEnded || locked || readonly"
               [max]="data.ballotBundleSize"
               [value]="ballotBundleSampleSize"
               (valueChange)="ballotBundleSampleSize = $event; contentChanged.emit()"
               [subscriptSizing]="'dynamic'"></bc-number>

    <div class="flex-grid">
      <bc-label class="full-width" [label]="'MAJORITY_ELECTION.BALLOT_BUNDLE_NUMBER_GENERATION.TITLE' | translate"></bc-label>
      <bc-label class="full-width" [label]="'MAJORITY_ELECTION.BALLOT_NUMBER_GENERATION.TITLE' | translate"></bc-label>
      <bc-checkbox [(checked)]="data.automaticBallotBundleNumberGeneration"
                   [disabled]="testingPhaseEnded || locked || readonly"
                   [label]="'MAJORITY_ELECTION.BALLOT_BUNDLE_NUMBER_GENERATION.AUTOMATIC' | translate"
                   (checkedChange)="refreshBallotNumberGenerationChoices(); contentChanged.emit()"
                   [subscriptSizing]="'dynamic'"></bc-checkbox>
      <bc-radio-button-group orientation="vertical"
                             [items]="ballotNumberGenerationChoices"
                             [value]="data.ballotNumberGeneration"
                             [disabled]="testingPhaseEnded || locked || readonly"
                             (valueChange)="data.ballotNumberGeneration = $event; contentChanged.emit()"
                             [subscriptSizing]="'dynamic'">
      </bc-radio-button-group>
    </div>

    <div class="flex-grid">
      <bc-label class="full-width col-span-2" [label]="'MAJORITY_ELECTION.AUTOMATIC_EMPTY_VOTE_COUNTING.TITLE' | translate"></bc-label>
      <bc-radio-button-group orientation="vertical"
                             [items]="automaticEmptyVoteCountingChoices"
                             [value]="data.automaticEmptyVoteCounting"
                             (valueChange)="data.automaticEmptyVoteCounting = $event; contentChanged.emit()"
                             [disabled]="testingPhaseEnded || locked || readonly"
                             [subscriptSizing]="'dynamic'">
      </bc-radio-button-group>
      <bc-checkbox [checked]="data.enforceEmptyVoteCountingForCountingCircles"
                   (checkedChange)="data.enforceEmptyVoteCountingForCountingCircles = $event; contentChanged.emit()"
                   [label]="'MAJORITY_ELECTION.ENFORCE_EMPTY_VOTE_COUNTING_FOR_COUNTING_CIRCLES' | translate"
                   [disabled]="locked || readonly"
                   [subscriptSizing]="'dynamic'"></bc-checkbox>
    </div>

    <div class="flex-grid">
      <bc-label class="full-width col-span-2" [label]="'MAJORITY_ELECTION.REVIEW_PROCEDURE.TITLE' | translate"></bc-label>
      <bc-radio-button-group [items]="reviewProcedureChoices"
                             orientation="vertical"
                             [value]="data.reviewProcedure"
                             (valueChange)="data.reviewProcedure = $event; contentChanged.emit()"
                             [disabled]="testingPhaseEnded || locked || readonly"
                             [subscriptSizing]="'dynamic'">
      </bc-radio-button-group>
      <bc-checkbox [checked]="data.enforceReviewProcedureForCountingCircles"
                   (checkedChange)="data.enforceReviewProcedureForCountingCircles = $event; contentChanged.emit()"
                   [label]="'MAJORITY_ELECTION.ENFORCE_REVIEW_PROCEDURE_FOR_COUNTING_CIRCLES' | translate"
                   [disabled]="testingPhaseEnded || locked || readonly"
                   [subscriptSizing]="'dynamic'"></bc-checkbox>
    </div>

    <div *ngIf="useCandidateCheckDigit" class="flex-grid">
      <bc-label class="full-width col-span-2" [label]="'MAJORITY_ELECTION.CANDIDATE_CHECK_DIGIT.TITLE' | translate"></bc-label>
      <bc-checkbox [checked]="data.candidateCheckDigit"
                   (checkedChange)="data.candidateCheckDigit = $event; contentChanged.emit()"
                   [disabled]="testingPhaseEnded || locked || readonly"
                   [label]="'MAJORITY_ELECTION.CANDIDATE_CHECK_DIGIT.USE' | translate"
                   [subscriptSizing]="'dynamic'"></bc-checkbox>
      <bc-checkbox [checked]="data.enforceCandidateCheckDigitForCountingCircles"
                   (checkedChange)="data.enforceCandidateCheckDigitForCountingCircles = $event; contentChanged.emit()"
                   [label]="'MAJORITY_ELECTION.CANDIDATE_CHECK_DIGIT.ENFORCE_FOR_COUNTING_CIRCLES' | translate"
                   [disabled]="testingPhaseEnded || locked || readonly"
                   [subscriptSizing]="'dynamic'"></bc-checkbox>
    </div>
  </ng-container>
</div>
