<bc-spinner class="block" *ngIf="loading; else candidateOverview"></bc-spinner>
<ng-template #candidateOverview>
  <div class="buttons">
    <bc-button
      variant="tertiary"
      icon="plus"
      [disabled]="expandedCandidates.length >= maxCandidateCount || testingPhaseEnded || locked || readonly"
      [label]="'PROPORTIONAL_ELECTION.CANDIDATE.NEW' | translate"
      (buttonClick)="createCandidate()"
    ></bc-button>
    <div>
      <bc-spinner *ngIf="savingAccumulation"></bc-spinner>

      <bc-button
        *ngIf="selectedCandidate && selectedCandidate.accumulated"
        variant="tertiary"
        [disabled]="testingPhaseEnded || locked || readonly"
        [label]="'PROPORTIONAL_ELECTION.CANDIDATE.REMOVE_ACCUMULATION' | translate"
        (buttonClick)="removeAccumulation(selectedCandidate!)"
      ></bc-button>
      <bc-button
        *ngIf="!selectedCandidate?.accumulated"
        variant="tertiary"
        [disabled]="!selectedCandidate || expandedCandidates.length >= maxCandidateCount || testingPhaseEnded || locked || readonly"
        [label]="'PROPORTIONAL_ELECTION.CANDIDATE.ACCUMULATE' | translate"
        (buttonClick)="accumulate(selectedCandidate!)"
      ></bc-button>
    </div>
  </div>

  <bc-table
    selection
    class="w-full mb-2"
    [dataSource]="expandedCandidates"
    cdkDropList
    [cdkDropListData]="expandedCandidates"
    [cdkDropListDisabled]="testingPhaseEnded || locked || readonly"
    (cdkDropListDropped)="moveCandidate($event.previousIndex, $event.currentIndex)"
  >
    <ng-container columnDef="position">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION.CANDIDATE.POSITION' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.position"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="number">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION.CANDIDATE.NUMBER_SHORT' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.number"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="lastName">
      <bc-header-cell *headerCellDef>
        {{ 'PROPORTIONAL_ELECTION.CANDIDATE.LAST_NAME' | translate }}
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.lastName"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="firstName">
      <bc-header-cell *headerCellDef>
        {{ 'PROPORTIONAL_ELECTION.CANDIDATE.FIRST_NAME' | translate }}
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.firstName"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="dateOfBirth">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION.CANDIDATE.DATE_OF_BIRTH' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.dateOfBirth | date"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="sex">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION.CANDIDATE.SEX' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="'SEX_TYPE.' + element.sex | translate"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="title">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION.CANDIDATE.TITLE' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.title"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="incumbent">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION.CANDIDATE.INCUMBENT' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <bc-icon *ngIf="element.incumbent" icon="checkmark"></bc-icon>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="zipCode">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION.CANDIDATE.ZIP_CODE' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.zipCode"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="locality">
      <bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION.CANDIDATE.LOCALITY' | translate"></app-truncated-value>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.locality"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="actions">
      <bc-header-cell *headerCellDef></bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <div *ngIf="!locked && !readonly" class="flex">
          <bc-icon (click)="editCandidate(element); $event.stopPropagation()" icon="edit"></bc-icon>
          <bc-icon
            *ngIf="!testingPhaseEnded && !locked && !readonly"
            class="ml-2"
            (click)="deleteCandidate(element); $event.stopPropagation()"
            icon="trash"
            iconColor="error"
          ></bc-icon>
        </div>
      </bc-data-cell>
    </ng-container>

    <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
    <bc-data-row
      *dataRowDef="let row; columns: columns; let i = index"
      #rowSelection="selectionToggle"
      selectionToggle
      [selectionToggleValue]="row"
      selectionRow
      [selectionRowValue]="row"
      (click)="rowSelection.toggle(); selectCandidate(row)"
      cdkDrag
      [cdkDragDisabled]="testingPhaseEnded || locked || readonly"
      [cdkDragData]="row"
    ></bc-data-row>
  </bc-table>

  <p *ngIf="expandedCandidates.length === maxCandidateCount; else candidateCount" translate>
    PROPORTIONAL_ELECTION.CANDIDATE.SAME_CANDIDATE_COUNT_AS_ALLOWED
  </p>
  <ng-template #candidateCount>
    <p class="error">
      <span>
        {{
          'PROPORTIONAL_ELECTION.CANDIDATE.COUNT_OF_CANDIDATES_' + (expandedCandidates.length === 1 ? 'SINGLE' : 'PLURAL')
            | translate: { current: expandedCandidates.length }
        }}
      </span>

      <span *ngIf="expandedCandidates.length > maxCandidateCount">
        {{
          'PROPORTIONAL_ELECTION.CANDIDATE.MORE_CANDIDATES_THAN_ALLOWED_' + (maxCandidateCount === 1 ? 'SINGLE' : 'PLURAL')
            | translate: { max: maxCandidateCount }
        }}
      </span>

      <span *ngIf="expandedCandidates.length < maxCandidateCount">
        {{
          'PROPORTIONAL_ELECTION.CANDIDATE.LESS_CANDIDATES_THAN_ALLOWED_' +
            (maxCandidateCount - expandedCandidates.length === 1 ? 'SINGLE' : 'PLURAL')
            | translate: { diff: maxCandidateCount - expandedCandidates.length }
        }}
      </span>
    </p>
  </ng-template>
</ng-template>
