<div *ngIf="!!ballotQuestion">
  <bc-number
    *ngIf="domainOfInfluenceType === domainOfInfluenceTypes.DOMAIN_OF_INFLUENCE_TYPE_CH"
    [label]="'POLITICAL_BUSINESS.FEDERAL_IDENTIFICATION' | translate"
    [readonly]="testingPhaseEnded || readonly || locked"
    [value]="ballotQuestion.federalIdentification"
    (valueChange)="ballotQuestion.federalIdentification = $event; contentChanged.emit()"
    [max]="federalIdentificationMaxValue"
    [subscriptSizing]="'dynamic'"
  ></bc-number>
  <div class="form-group" *ngIf="eVoting">
    <bc-label [label]="'VOTE.QUESTION.TITLE_STANDARD' | translate: ballotQuestion"></bc-label>
    <app-translated-textarea
      [readonly]="locked || readonly"
      [maxlength]="700"
      [value]="ballotQuestion.question"
      (valueChange)="ballotQuestion.question = $event; contentChanged.emit()"
      class="full-width"
    >
    </app-translated-textarea>
  </div>
</div>
