<div class="flex">
  <bc-radio-button-group
    [items]="statusChoices"
    [value]="isCurrentStatus"
    (valueChange)="setCurrentStatus($event)"
    [subscriptSizing]="'dynamic'"
  ></bc-radio-button-group>
  <bc-date
    class="px-1"
    [value]="date"
    [disabled]="isCurrentStatus"
    (valueChange)="dateString = $event"
    [subscriptSizing]="'dynamic'"
  ></bc-date>
  <bc-checkbox
    [checked]="includeDeleted"
    (checkedChange)="includeDeleted = $event; emitFilterChange()"
    [label]="includeDeletedLabel | translate"
    [subscriptSizing]="'dynamic'"
  ></bc-checkbox>
</div>
