<vo-lib-page
  [contentLoading]="loading"
  [header]="('CONTEST.DETAIL.FROM' | translate) + (contest?.date || '' | date: 'dd.MM.yyyy')"
  [showBackButton]="true"
  [backButtonNavigateCommands]="['../']"
>
  <div class="flex">
    <bc-button
      [matMenuTriggerFor]="contest.testingPhaseEnded || !hasSameTenantWritePermissions ? null : menu"
      variant="tertiary"
      icon="plus"
      [disabled]="contest.testingPhaseEnded || !hasSameTenantWritePermissions"
      [label]="'POLITICAL_BUSINESS.NEW' | translate"
    ></bc-button>

    <mat-menu #menu="matMenu">
      <vo-lib-action-menu-item (click)="createVote()" text="POLITICAL_BUSINESS.VOTE"></vo-lib-action-menu-item>
      <vo-lib-action-menu-item (click)="createMajorityElection()" text="POLITICAL_BUSINESS.MAJORITY_ELECTION"></vo-lib-action-menu-item>
      <vo-lib-action-menu-item
        (click)="createProportionalElection()"
        text="POLITICAL_BUSINESS.PROPORTIONAL_ELECTION"
      ></vo-lib-action-menu-item>
    </mat-menu>

    <bc-button
      [disabled]="contest.testingPhaseEnded || !hasSameTenantWritePermissions"
      variant="tertiary"
      icon="download"
      (buttonClick)="importPoliticalBusinesses()"
      [label]="'IMPORT.IMPORT_POLITICAL_BUSINESS' | translate"
      class="ml-2"
    ></bc-button>

    <bc-button
      *ngIf="cantonDefaults?.enabledPoliticalBusinessUnionTypesList.length > 0"
      variant="tertiary"
      icon="building"
      (buttonClick)="managePoliticalBusinessUnions()"
      [label]="'CONTEST.POLITICAL_BUSINESS_UNION_MANAGE' | translate"
      [disabled]="contest.testingPhaseEnded || !hasSameTenantWritePermissions"
    ></bc-button>
  </div>

  <bc-table
    selection
    sort
    [sortMultiple]="true"
    [sortActive]="[
      { id: 'domainOfInfluenceType', direction: 'asc' },
      { id: 'number', direction: 'asc' },
    ]"
    filter
    class="w-full"
    [dataSource]="dataSource"
  >
    <ng-container columnDef="number">
      <bc-header-cell filter sort *headerCellDef class="small-filter-component">
        <span [tooltip]="'POLITICAL_BUSINESS.NUMBER' | translate">
          {{ 'POLITICAL_BUSINESS.NUMBER_SHORT' | translate }}
        </span>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.number"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="politicalBusinessUnionDescription">
      <bc-header-cell filter sort *headerCellDef class="small-filter-component">
        <span [tooltip]="'POLITICAL_BUSINESS.POLITICAL_BUSINESS_UNION_DESCRIPTION.LONG' | translate">
          {{ 'POLITICAL_BUSINESS.POLITICAL_BUSINESS_UNION_DESCRIPTION.SHORT' | translate }}
        </span>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.politicalBusinessUnionDescription"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="electionGroupNumber">
      <bc-header-cell filter sort *headerCellDef class="small-filter-component">
        <span [tooltip]="'POLITICAL_BUSINESS.ELECTION_GROUP_NUMBER.LONG' | translate">
          {{ 'POLITICAL_BUSINESS.ELECTION_GROUP_NUMBER.SHORT' | translate }}
        </span>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.electionGroupNumber"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="shortDescription">
      <bc-header-cell filter sort *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'POLITICAL_BUSINESS.SHORT_DESCRIPTION' | translate }}
        </span>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.shortDescription"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="domainOfInfluenceType">
      <bc-header-cell
        filter
        filterType="list"
        [filterItems]="domainOfInfluenceTypeList"
        filterDisplayExpr="description"
        filterValueExpr="value"
        sort
        *headerCellDef
      >
        <span truncateWithTooltip tooltip>
          {{ 'POLITICAL_BUSINESS.DOMAIN_OF_INFLUENCE_TYPE' | translate }}
        </span>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="'DOMAIN_OF_INFLUENCE.TYPES.' + element.domainOfInfluenceType | translate"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="domainOfInfluenceName">
      <bc-header-cell filter sort *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'POLITICAL_BUSINESS.DOMAIN_OF_INFLUENCE' | translate }}
        </span>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.domainOfInfluenceName"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="type">
      <bc-header-cell
        filter
        filterType="list"
        [filterItems]="politicalBusinessTypeList"
        filterDisplayExpr="description"
        filterValueExpr="value"
        sort
        *headerCellDef
      >
        <span truncateWithTooltip tooltip>
          {{ 'POLITICAL_BUSINESS.TYPE.TITLE' | translate }}
        </span>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value
          [value]="
            (element.type === politicalBusinessTypes.POLITICAL_BUSINESS_TYPE_VOTE
              ? 'POLITICAL_BUSINESS.TYPE.1_SUB_TYPE.' + element.subType
              : 'POLITICAL_BUSINESS.TYPE.' + element.type
            ) | translate
          "
        ></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="active">
      <bc-header-cell filter filterType="bool" sort *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'POLITICAL_BUSINESS.ENABLE_TITLE' | translate }}
        </span>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <bc-switch
          class="ml-2"
          [(checked)]="element.active"
          (checkedChange)="activeStateChange(element, $event)"
          [disabled]="(element.ownerId !== tenantId && !hasAdminWritePermissions)
            || !hasSameTenantWritePermissions || contest.testingPhaseEnded"
          [subscriptSizing]="'dynamic'"
        >
        </bc-switch>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="owner">
      <bc-header-cell filter sort *headerCellDef>
        <span truncateWithTooltip tooltip>
          {{ 'POLITICAL_BUSINESS.OWNER' | translate }}
        </span>
      </bc-header-cell>
      <bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.owner"></app-truncated-value>
      </bc-data-cell>
    </ng-container>

    <ng-container columnDef="actions">
      <bc-header-cell *headerCellDef></bc-header-cell>
      <bc-data-cell *dataCellDef="let element; let i = index">
        <vo-lib-action-menu *ngIf="(element.ownerId === tenantId && hasSameTenantReadPermissions) || hasAdminReadPermissions">
          <vo-lib-action-menu-item
            icon="edit"
            text="ACTIONS.EDIT"
            *ngIf="!contest.locked; else viewMenuItem"
            (click)="open(element)"
          ></vo-lib-action-menu-item>
          <ng-template #viewMenuItem>
            <vo-lib-action-menu-item icon="eye" text="ACTIONS.OPEN" (click)="open(element)"></vo-lib-action-menu-item>
          </ng-template>
          <vo-lib-action-menu-item
            icon="trash"
            text="ACTIONS.DELETE"
            *ngIf="!contest.testingPhaseEnded && hasSameTenantWritePermissions
              && (element.ownerId === tenantId || hasAdminWritePermissions)"
            (click)="delete(element)"
          ></vo-lib-action-menu-item>
          <vo-lib-action-menu-item
            icon="download"
            text="ACTIONS.EXPORT"
            *ngIf="element.type !== politicalBusinessTypes.POLITICAL_BUSINESS_TYPE_SECONDARY_MAJORITY_ELECTION"
            (click)="export(element)"
          ></vo-lib-action-menu-item>
          <vo-lib-action-menu-item
            icon="plus"
            text="POLITICAL_BUSINESS.ADD_SECONDARY_ELECTION"
            *ngIf="element.type === politicalBusinessTypes.POLITICAL_BUSINESS_TYPE_MAJORITY_ELECTION
              && (hasAdminWritePermissions || (element.ownerId === tenantId && hasSameTenantWritePermissions))"
            (click)="createSecondaryElection(element.id)"
          ></vo-lib-action-menu-item>
          <vo-lib-action-menu-item
            icon="info-circle-o"
            text="POLITICAL_BUSINESS.COUNTING_CIRCLES"
            (click)="openAssignedCountingCircles(element)"
          ></vo-lib-action-menu-item>
        </vo-lib-action-menu>
      </bc-data-cell>
    </ng-container>

    <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
    <bc-data-row
      *dataRowDef="let row; columns: columns; let i = index"
      selectionToggle
      [selectionToggleValue]="row"
      [selectionDisabled]="isSelectionDisabled"
      selectionRow
      [selectionRowValue]="row"
      (click)="open(row)"
    ></bc-data-row>
  </bc-table>
  <bc-paginator #paginator showFirstLastButtons [pageSize]="15" [pageSizeOptions]="[5, 10, 15, 20]"></bc-paginator>
</vo-lib-page>
