@use '@abraxas/voting-lib/style/table' as table;

::ng-deep [class*='bc-column-'] {
  @include table.truncate-long-sortable-table-header();
}

::ng-deep .bc-column-number {
  width: 5rem;
}

::ng-deep .bc-column-political-business-union-description {
  width: 4.5rem;
}

::ng-deep .bc-column-election-group-number {
  width: 4.5rem;
}

::ng-deep .bc-column-domain-of-influence-type {
  width: 10rem;
}

::ng-deep .bc-column-type {
  width: 11rem;
}

::ng-deep .bc-column-active {
  width: 7rem;
}

.bc-column-actions {
  width: 2rem;
}

bc-paginator {
  overflow: hidden;

  // unset width so that it does not overlap the scroll bar
  ::ng-deep .bc-paginator-container {
    width: unset;
  }
}

::ng-deep .small-filter-component {
  .mat-mdc-form-field-icon-suffix {
    display: none;
  }

  .mat-mdc-form-field-icon-prefix {
    display: none;
  }
}

::ng-deep bc-header-cell {
  z-index: 100; // without this, the switch component would be visible inside the header during scrolling
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
