<div class="grid">
  <div>
    <h2 translate>IMPORT.FILE</h2>

    <bc-dropdown [label]="'IMPORT.E_CH_STANDARD' | translate"
                 [items]="importTypeItemDescriptions"
                 [(value)]="selectedEchType"
                 [required]="true"
                 displayExpr="description"
                 valueExpr="value"
                 class="mb-2">
    </bc-dropdown>

    <div class="file-container" [class.dragging]="draggingFiles">
      <div>
        <p translate>IMPORT.DRAG_FILE</p>
        <p translate>IMPORT.OR</p>
        <input #fileInput
               type="file"
               (change)="addFilesFromEvent($event)"
               accept=".xml"
               [multiple]="true">
        <bc-button (buttonClick)="fileInput.click()"
                   [label]="'IMPORT.CHOOSE_FILE' | translate"
                   variant="tertiary"
                   icon="upload"></bc-button>
      </div>
    </div>
  </div>
  <bc-divider orientation="vertical" class="ml-4"></bc-divider>
  <div>
    <h2 translate>IMPORT.CHOSEN_FILES</h2>

    <bc-table class="w-full" [dataSource]="dataSource">
      <ng-container columnDef="filename">
        <bc-header-cell *headerCellDef>{{ 'IMPORT.FILENAME' | translate }}</bc-header-cell>
        <bc-data-cell *dataCellDef="let element">{{ element.fileName }}</bc-data-cell>
      </ng-container>

      <ng-container columnDef="type">
        <bc-header-cell *headerCellDef>{{ 'IMPORT.E_CH_STANDARD' | translate }}</bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <div class="truncate mr-4">
            {{ 'IMPORT.TYPES.' + element.importType | translate }}
          </div>
        </bc-data-cell>
      </ng-container>

      <ng-container columnDef="actions">
        <bc-header-cell *headerCellDef class="actions-header"></bc-header-cell>
        <bc-data-cell *dataCellDef="let element">
          <bc-icon class="clickable" (click)="removeFile(element)" icon="trash" iconColor="error"></bc-icon>
        </bc-data-cell>
      </ng-container>

      <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
      <bc-data-row *dataRowDef="let row; columns: columns; let i = index"></bc-data-row>
    </bc-table>
  </div>
</div>
