<vo-lib-page [contentLoading]="false" header="DOMAIN_OF_INFLUENCE.TITLE">
  <div class="grid">
    <div>
      <app-historization-filter-bar
        [includeDeletedLabel]="'HISTORIZATION.INCLUDE_DELETED.DOMAIN_OF_INFLUENCE'"
        (filterChange)="historizationFilterChange($event)"
      ></app-historization-filter-bar>

      @if (loading) {
        <bc-spinner class="block"></bc-spinner>
      } @else {
        @if (tree) {
          <vo-lib-searchable-tree-navigation
            class="overflow-tree"
            [nodes]="tree.nodes"
            (selectedNodeChange)="nodeSelect($event)"
            (nodeEdit)="nodeEdit($event, false)"
            (nodeInfo)="nodeEdit($event, true)"
            (nodeDelete)="nodeDelete($event)"
            [editModeEnabled]="true"
            [addLabel]="'DOMAIN_OF_INFLUENCE.NEW'"
            [showAdd]="canCreate && !historizationFilter.date"
            (addClicked)="create()"
            [rowTemplate]="doiTreeRowTemplate"
          ></vo-lib-searchable-tree-navigation>
        }
        <ng-template #doiTreeRowTemplate let-node>
          <span class="tree-row">
            <span [class.disabled]="!!node.data.deletedOn">{{ node.displayName }}</span>
            @if (node.data.deletedOn) {
              <span class="disabled pl-3"
                >({{
                'HISTORIZATION.DOMAIN_OF_INFLUENCE.SUFFIX.DELETED'
                | translate
                : {
                createdOn: node.data.createdOn | date: 'yyyy-MM-dd / HH:mm',
                deletedOn: node.data.deletedOn | date: 'yyyy-MM-dd / HH:mm',
              }
              }})</span
              >
            }
          </span>
        </ng-template>
      }
    </div>
    <bc-divider class="ml-4" orientation="vertical"></bc-divider>
    <div>
      <h2 translate>DOMAIN_OF_INFLUENCE.COUNTING_CIRCLE.ASSIGN_SELECTED_OVERVIEW</h2>

      @if (loadingDetail) {
        <bc-spinner class="block"></bc-spinner>
      } @else {
        @if (selectedDomainOfInfluence) {
          <div class="flex">
            <vo-lib-inline-spinner position="right" [loading]="loadingAssignableCountingCircles">
              @if (canAssignCountingCircles && !selectedDomainOfInfluence.deletedOn && !historizationFilter.date) {
                <bc-button
                  variant="tertiary"
                  icon="plus"
                  class="my-2"
                  [label]="'DOMAIN_OF_INFLUENCE.COUNTING_CIRCLE.ASSIGN' | translate"
                  (buttonClick)="assignCountingCircles()"
                  >
                </bc-button>
              }
            </vo-lib-inline-spinner>
          </div>
          <bc-table class="w-full" [dataSource]="dataSource" [height]="'38rem'">
            <ng-container columnDef="name">
              <th bc-header-cell *headerCellDef>
                <app-truncated-value [value]="'COUNTING_CIRCLE.NAME' | translate"></app-truncated-value>
              </th>
              <td bc-data-cell *dataCellDef="let element">
                <app-truncated-value [value]="element.name"></app-truncated-value>
              </td>
            </ng-container>

            <ng-container columnDef="bfs">
              <th bc-header-cell *headerCellDef>
                <app-truncated-value [value]="'COUNTING_CIRCLE.BFS' | translate"></app-truncated-value>
              </th>
              <td bc-data-cell *dataCellDef="let element">
                <app-truncated-value [value]="element.bfs"></app-truncated-value>
              </td>
            </ng-container>

            <ng-container columnDef="authority">
              <th bc-header-cell *headerCellDef>
                <app-truncated-value [value]="'COUNTING_CIRCLE.AUTHORITY' | translate"></app-truncated-value>
              </th>
              <td bc-data-cell *dataCellDef="let element">
                <app-truncated-value [value]="element.responsibleAuthority.name"></app-truncated-value>
              </td>
            </ng-container>

            <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
            <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>
          </bc-table>

          <bc-paginator #paginator showFirstLastButtons [pageSize]="100" [pageSizeOptions]="[5, 10, 15, 100]"></bc-paginator>
        } @else {
          <span class="no-items-message" translate>DOMAIN_OF_INFLUENCE.NO_DOMAIN_OF_INFLUENCE_SELECTED</span>
        }
      }
    </div>
  </div>
</vo-lib-page>
