@use '@abraxas/voting-lib/style/color' as *;

.tree-row {
  .disabled {
    color: $color-grey-4;
    font-style: italic;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4rem 1fr;
}

.overflow-tree {
  display: flex;
  flex-direction: column;
  height: 48rem;

  ::ng-deep vo-lib-tree-navigation {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

.overflow-table {
  display: flex;
  flex-direction: column;
  height: 48rem;
  overflow: auto;
}

bc-paginator {
  overflow: hidden;
}
