<bc-table selection filter sort [sortActive]="[{ id: 'date', direction: 'asc' }]" class="w-full" [dataSource]="dataSource">
  <ng-container columnDef="dateString">
    <bc-header-cell filter filterType="date-extended" sort *headerCellDef>
      <span truncateWithTooltip tooltip>
        {{ 'CONTEST.DATE' | translate }}
      </span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value
        [value]="
          (element.dateString | date) +
          (element.eVotingApprovalDueDateString ? ' (' + (element.eVotingApprovalDueDateString | date) + ')' : '')
        "
      ></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="type">
    <bc-header-cell filter sort *headerCellDef>
      <span truncateWithTooltip tooltip>
        {{ 'CONTEST.TYPE.TITLE' | translate }}
      </span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.type"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="description">
    <bc-header-cell filter sort *headerCellDef>
      <span truncateWithTooltip tooltip>
        {{ 'CONTEST.DESCRIPTION_HEADER' | translate }}
      </span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [class.italic]="element.isPreconfiguredDate" [value]="element.description"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="endOfTestingPhase">
    <bc-header-cell filter filterType="date-extended" sort *headerCellDef>
      <span truncateWithTooltip tooltip>
        {{ 'CONTEST.END_OF_TESTING_PHASE' | translate }}
      </span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.endOfTestingPhase | date: 'short'"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="archivePer">
    <bc-header-cell filter filterType="date-extended" sort *headerCellDef>
      <span truncateWithTooltip tooltip>
        {{ 'CONTEST.ARCHIVE.TITLE_PER' | translate }}
      </span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.archivePer | date: 'short'"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="state">
    <bc-header-cell
      filter
      filterType="list"
      [filterItems]="contestStateList"
      filterDisplayExpr="description"
      filterValueExpr="value"
      sort
      *headerCellDef
    >
      <span truncateWithTooltip tooltip>
        {{ 'CONTEST.STATE' | translate }}
      </span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="'CONTEST.STATES.' + (!!element.state ? element.state : 0) | translate"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="politicalBusinesses">
    <bc-header-cell filter sort *headerCellDef>
      <span truncateWithTooltip tooltip>
        {{ 'CONTEST.POLITICAL_BUSINESSES' | translate }}
      </span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <span class="political-businesses">{{ element.politicalBusinesses }}</span>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="owner">
    <bc-header-cell filter sort *headerCellDef>
      <span truncateWithTooltip tooltip>
        {{ 'CONTEST.OWNER' | translate }}
      </span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.owner"></app-truncated-value>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="actions">
    <bc-header-cell *headerCellDef></bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <vo-lib-action-menu *ngIf="canCreate || !element.isPreconfiguredDate">
        <vo-lib-action-menu-item
          *ngIf="!element.isPreconfiguredDate && !element.isPoliticalAssembly"
          (click)="view.emit(element)"
          icon="eye"
          text="ACTIONS.OPEN"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="element.isPreconfiguredDate"
          (click)="create.emit(element)"
          icon="plus"
          text="CONTEST.CREATE_FROM_PRECONFIGURED_DATE"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="canEdit && !element.locked && element.ownerId === tenantId"
          (click)="edit.emit(element)"
          icon="edit"
          text="ACTIONS.EDIT"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="canEdit && element.state === contestStates.CONTEST_STATE_PAST_LOCKED && element.ownerId === tenantId"
          (click)="archive.emit(element)"
          icon="archive"
          text="CONTEST.ARCHIVE.ACTION"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="
            canEdit &&
            element.state === contestStates.CONTEST_STATE_PAST_LOCKED &&
            !element.isPoliticalAssembly &&
            element.ownerId === tenantId
          "
          (click)="pastUnlock.emit(element.contest)"
          icon="unlock"
          text="CONTEST.PAST_UNLOCK.ACTION"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="canDelete && !element.testingPhaseEnded && element.ownerId === tenantId"
          (click)="delete.emit(element)"
          icon="trash"
          text="ACTIONS.DELETE"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="!element.isPreconfiguredDate && !element.isPoliticalAssembly"
          (click)="export.emit(element.contest)"
          icon="download"
          text="ACTIONS.EXPORT"
        >
        </vo-lib-action-menu-item>
      </vo-lib-action-menu>
    </bc-data-cell>
  </ng-container>

  <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
  <bc-data-row
    *dataRowDef="let row; columns: columns; let i = index"
    selectionToggle
    [selectionToggleValue]="row"
    selectionRow
    [selectionRowValue]="row"
    (click)="!row.isPreconfiguredDate && !row.isPoliticalAssembly ? view.emit(row) : undefined"
  ></bc-data-row>
</bc-table>
<bc-paginator *ngIf="showPaginator" #paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></bc-paginator>
