<bc-table selection filter sort [sortActive]="[{ id: 'date', direction: 'asc' }]" class="w-full" [dataSource]="dataSource">
  <ng-container columnDef="date">
    <bc-header-cell filter filterType="date-extended" sort *headerCellDef>{{ 'CONTEST.DATE' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.date | date }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="type">
    <bc-header-cell filter filterType="text" sort *headerCellDef>{{ 'CONTEST.TYPE.TITLE' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.type }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="description">
    <bc-header-cell filter filterType="text" sort *headerCellDef class="description-header">
      {{ 'CONTEST.DESCRIPTION_HEADER' | translate }}
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <span [class.pcd]="element.isPreconfiguredDate">
        {{ element.description }}
      </span>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="endOfTestingPhase">
    <bc-header-cell filter filterType="date-extended" sort *headerCellDef>
      <span>{{ 'CONTEST.END_OF_TESTING_PHASE' | translate }}</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.endOfTestingPhase | date: 'short' }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="archivePer">
    <bc-header-cell filter filterType="date-extended" sort *headerCellDef>{{ 'CONTEST.ARCHIVE.TITLE_PER' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.archivePer | date: 'short' }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="state">
    <bc-header-cell
      filter
      filterType="list"
      [filterItems]="contestStateList"
      filterDisplayExpr="description"
      filterValueExpr="value"
      sort
      *headerCellDef
      >{{ 'CONTEST.STATE' | translate }}</bc-header-cell
    >
    <bc-data-cell *dataCellDef="let element">{{ 'CONTEST.STATES.' + (!!element.state ? element.state : 0) | translate }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="politicalBusinesses">
    <bc-header-cell sort filter filterType="text" *headerCellDef>
      <span>{{ 'CONTEST.POLITICAL_BUSINESSES' | translate }}</span>
    </bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <span class="political-businesses">{{ element.politicalBusinesses }}</span>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="owner">
    <bc-header-cell filter filterType="text" sort *headerCellDef>
      <span>{{ 'CONTEST.OWNER' | translate }}</span></bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.owner }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="actions">
    <bc-header-cell *headerCellDef class="actions-header"></bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <vo-lib-action-menu *ngIf="canCreate || !element.isPreconfiguredDate">
        <vo-lib-action-menu-item
          *ngIf="!element.isPreconfiguredDate && !element.isPoliticalAssembly"
          (click)="view.emit(element)"
          icon="eye"
          text="ACTIONS.OPEN"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="element.isPreconfiguredDate"
          (click)="create.emit(element)"
          icon="plus"
          text="CONTEST.CREATE_FROM_PRECONFIGURED_DATE"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="canEdit && !element.locked && element.ownerId === tenantId"
          (click)="edit.emit(element)"
          icon="edit"
          text="ACTIONS.EDIT"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="canEdit && element.state === contestStates.CONTEST_STATE_PAST_LOCKED && !element.isPoliticalAssembly"
          (click)="archive.emit(element.contest)"
          icon="archive"
          text="CONTEST.ARCHIVE.ACTION"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="canEdit && element.state === contestStates.CONTEST_STATE_PAST_LOCKED && !element.isPoliticalAssembly"
          (click)="pastUnlock.emit(element.contest)"
          icon="unlock"
          text="CONTEST.PAST_UNLOCK.ACTION"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="canDelete && !element.testingPhaseEnded && element.ownerId === tenantId"
          (click)="delete.emit(element)"
          icon="trash"
          text="ACTIONS.DELETE"
        >
        </vo-lib-action-menu-item>
        <vo-lib-action-menu-item
          *ngIf="!element.isPreconfiguredDate && !element.isPoliticalAssembly"
          (click)="export.emit(element)"
          icon="download"
          text="ACTIONS.EXPORT"
        >
        </vo-lib-action-menu-item>
      </vo-lib-action-menu>
    </bc-data-cell>
  </ng-container>

  <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
  <bc-data-row
    *dataRowDef="let row; columns: columns; let i = index"
    selectionToggle
    [selectionToggleValue]="row"
    selectionRow
    [selectionRowValue]="row"
    (click)="!row.isPreconfiguredDate && !row.isPoliticalAssembly ? view.emit(row) : undefined"
  ></bc-data-row>
</bc-table>
<bc-paginator *ngIf="showPaginator" #paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></bc-paginator>
