<div class="grid">
  <div>
    <h2 translate class="mb-0">COUNTING_CIRCLE.MERGE.EDIT.SELECT</h2>

    <bc-table selection class="w-full" [dataSource]="dataSource">
      <ng-container columnDef="select">
        <th bc-header-cell *headerCellDef>
          <bc-checkbox
            class="ml-2 mb-0"
            (checkedChange)="toggleAllRows($event)"
            [checked]="selection.hasValue() && isAllSelected"
            [indeterminate]="selection.hasValue() && !isAllSelected"
          >
          </bc-checkbox>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <bc-checkbox class="ml-2" (checkedChange)="toggleRowWithValue(element, $event)" [checked]="selection.isSelected(element)">
          </bc-checkbox>
        </td>
      </ng-container>

      <ng-container columnDef="name">
        <th bc-header-cell *headerCellDef>
          <app-truncated-value [value]="'COUNTING_CIRCLE.NAME' | translate"></app-truncated-value>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="element.name"></app-truncated-value>
        </td>
      </ng-container>

      <ng-container columnDef="bfs">
        <th bc-header-cell *headerCellDef>
          <app-truncated-value [value]="'COUNTING_CIRCLE.BFS' | translate"></app-truncated-value>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="element.bfs"></app-truncated-value>
        </td>
      </ng-container>

      <ng-container columnDef="authority">
        <th bc-header-cell *headerCellDef>
          <app-truncated-value [value]="'COUNTING_CIRCLE.AUTHORITY' | translate"></app-truncated-value>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="element.responsibleAuthority.name"></app-truncated-value>
        </td>
      </ng-container>

      <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
      <tr bc-data-row
        *dataRowDef="let row; columns: columns; let i = index"
        selectionToggle
        [selectionToggleValue]="row"
        selectionRow
        [selectionRowValue]="row"
        (click)="toggleRow(row)"
      ></tr>
    </bc-table>
    <bc-paginator #paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></bc-paginator>
  </div>
  <bc-divider class="ml-4" orientation="vertical"></bc-divider>
  <div>
    <h2 translate class="mb-0">COUNTING_CIRCLE.MERGE.EDIT.SELECTED</h2>

    <bc-table class="w-full" [dataSource]="selection.selected">
      <ng-container columnDef="name">
        <th bc-header-cell *headerCellDef>
          <app-truncated-value [value]="'COUNTING_CIRCLE.NAME' | translate"></app-truncated-value>
        </th>
        <td bc-data-cell *dataCellDef="let element">
          <app-truncated-value [value]="element.name"></app-truncated-value>
        </td>
      </ng-container>

      <ng-container columnDef="actions">
        <th bc-header-cell *headerCellDef></th>
        <td bc-data-cell *dataCellDef="let element">
          <bc-icon class="clickable" (click)="toggleRow(element)" icon="remove"></bc-icon>
        </td>
      </ng-container>

      <tr bc-header-row *headerRowDef="let row; columns: columnsSelected"></tr>
      <tr bc-data-row *dataRowDef="let row; columns: columnsSelected; let i = index"></tr>
    </bc-table>
  </div>
</div>
