<div class="grid">
  <div>
    <h2 translate class="mb-0">COUNTING_CIRCLE.MERGE.EDIT.SELECT</h2>

    <bc-advanced-table class="w-full" [dataSource]="dataSource">
      <ng-container bcColumnDef="select">
        <th bc-header-cell *bcHeaderCellDef>
          <bc-checkbox
            class="ml-2 mb-0"
            (checkedChange)="toggleAllRows($event)"
            [checked]="selection.hasValue() && isAllSelected"
            [indeterminate]="selection.hasValue() && !isAllSelected"
          >
          </bc-checkbox>
        </th>
        <td bc-cell *bcCellDef="let element">
          <bc-checkbox
            class="ml-2"
            (checkedChange)="toggleRowWithValue(element, $event)"
            [checked]="selection.isSelected(element)"
          >
          </bc-checkbox>
        </td>
      </ng-container>
      <ng-container bcColumnDef="name">
        <th bc-header-cell *bcHeaderCellDef>{{ 'COUNTING_CIRCLE.NAME' | translate }}</th>
        <td bc-cell *bcCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container bcColumnDef="bfs">
        <th bc-header-cell *bcHeaderCellDef>{{ 'COUNTING_CIRCLE.BFS' | translate }}</th>
        <td bc-cell *bcCellDef="let element">{{ element.bfs }}</td>
      </ng-container>
      <ng-container bcColumnDef="authority">
        <th bc-header-cell *bcHeaderCellDef>{{ 'COUNTING_CIRCLE.AUTHORITY' | translate }}</th>
        <td bc-cell *bcCellDef="let element">{{ element.responsibleAuthority.name }}</td>
      </ng-container>

      <tr bc-header-row *bcHeaderRowDef="columns"></tr>
      <tr bc-advanced-table-row *bcRowDef="let row; columns: columns" [selectable]="true" (rowSelected)="toggleRow(row)"></tr>
    </bc-advanced-table>
    <bc-table-paginator [pageSize]="10" [showFirstLastButtons]="true" [tooltips]="false"></bc-table-paginator>
  </div>
  <bc-divider class="ml-4" orientation="vertical"></bc-divider>
  <div>
    <h2 translate class="mb-0">COUNTING_CIRCLE.MERGE.EDIT.SELECTED</h2>

    <bc-advanced-table class="w-full" [dataSource]="selection.selected">
      <ng-container bcColumnDef="name">
        <th bc-header-cell *bcHeaderCellDef>{{ 'COUNTING_CIRCLE.NAME' | translate }}</th>
        <td bc-cell *bcCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container bcColumnDef="actions">
        <th bc-header-cell class="actions-header" *bcHeaderCellDef></th>
        <td bc-cell *bcCellDef="let element">
          <bc-icon class="clickable" (click)="toggleRow(element)" icon="remove"></bc-icon>
        </td>
      </ng-container>

      <tr bc-header-row *bcHeaderRowDef="columnsSelected"></tr>
      <tr bc-advanced-table-row *bcRowDef="let row; columns: columnsSelected"></tr>
    </bc-advanced-table>
  </div>
</div>
