<bc-table class="w-full mb-3" [dataSource]="selectedCandidates">
  <ng-container columnDef="number">
    <th bc-header-cell *headerCellDef>
      <app-truncated-value [value]="'MAJORITY_ELECTION.CANDIDATE.NUMBER_SHORT' | translate"></app-truncated-value>
    </th>
    <td bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.number"></app-truncated-value>
    </td>
  </ng-container>

  <ng-container columnDef="lastName">
    <th bc-header-cell *headerCellDef>
      {{ 'MAJORITY_ELECTION.CANDIDATE.LAST_NAME' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.lastName"></app-truncated-value>
    </td>
  </ng-container>

  <ng-container columnDef="firstName">
    <th bc-header-cell *headerCellDef>
      {{ 'MAJORITY_ELECTION.CANDIDATE.FIRST_NAME' | translate }}
    </th>
    <td bc-data-cell *dataCellDef="let element">
      <app-truncated-value [value]="element.firstName"></app-truncated-value>
    </td>
  </ng-container>

  <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
  <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>
</bc-table>

@if (
  (majorityElection && !majorityElection.individualCandidatesDisabled) ||
  (secondaryMajorityElection && !secondaryMajorityElection.individualCandidatesDisabled)
  ) {
  <p>
    {{ 'MAJORITY_ELECTION.CANDIDATE.INDIVIDUAL_COUNT' | translate }}: {{ individualCandidatesVoteCount }}
  </p>
}
