<div content class="mr-3">
  <h2>{{ballotGroup.description}}</h2>

  @for (entry of ballotGroupEntries; track entry; let last = $last) {
    <div>
      <h3>{{entry.election.shortDescription | getTranslation}}</h3>
      <app-majority-election-ballot-group-assign-candidates-entry
        [entry]="entry"
        [candidates]="entry.candidates"
        (contentChanged)="contentChanged()"
        [showBlankRowCount]="ballotGroupEntries.length > 1 || entry.election.numberOfMandates > 1 || entry.isSecondaryMajorityElection"
      ></app-majority-election-ballot-group-assign-candidates-entry>
      @if (!last) {
        <hr class="my-4" />
      }
    </div>
  }
</div>
