<div class="form" *ngIf="contest && data">
  <bc-text [label]="'POLITICAL_BUSINESS.NUMBER' | translate"
           [readonly]="locked || readonly"
           [required]="true"
           [value]="data.politicalBusinessNumber"
           (valueChange)="data.politicalBusinessNumber = $event; contentChanged.emit()"
           [subscriptSizing]="'dynamic'"></bc-text>

  <app-translated-formfield [label]="'POLITICAL_BUSINESS.SHORT_DESCRIPTION' | translate"
                            [readonly]="locked || readonly"
                            [maxlength]="100"
                            [value]="data.shortDescription"
                            (valueChange)="data.shortDescription = $event; contentChanged.emit()"
                            [singleLanguageInput]="true"></app-translated-formfield>

  <div class="form-group">
    <app-translated-textarea [label]="'POLITICAL_BUSINESS.OFFICIAL_DESCRIPTION' | translate"
                             [readonly]="locked || readonly"
                             [maxlength]="500"
                             class="full-width"
                             [value]="data.officialDescription"
                             (valueChange)="data.officialDescription = $event; contentChanged.emit()"
                             [singleLanguageInput]="!contest.eVoting"></app-translated-textarea>
  </div>

  <bc-text [label]="'POLITICAL_BUSINESS.INTERNAL_DESCRIPTION' | translate"
           [readonly]="locked || readonly"
           [value]="data.internalDescription"
           (valueChange)="data.internalDescription = $event; contentChanged.emit()"
           [subscriptSizing]="'dynamic'"></bc-text>
  <bc-dropdown class="full-width"
               *ngIf="domainOfInfluenceTypeItems.length > 1"
               [label]="'DOMAIN_OF_INFLUENCE.TYPE' | translate"
               [items]="domainOfInfluenceTypeItems"
               [readonly]="contest.testingPhaseEnded || readonly || locked  || !isNew"
               [clearable]="false"
               [required]="true"
               displayExpr="description"
               valueExpr="value"
               [value]="selectedDomainOfInfluenceType"
               (valueChange)="selectedDomainOfInfluenceType = $event; contentChanged.emit()"
               [subscriptSizing]="'dynamic'"></bc-dropdown>

  <div class="container">
    <bc-dropdown class="full-width"
                 *ngIf="selectedDomainOfInfluenceType"
                 [items]="domainOfInfluencesByType[selectedDomainOfInfluenceType]"
                 [readonly]="contest.testingPhaseEnded || readonly || locked || !isNew"
                 displayExpr="name"
                 [required]="true"
                 [value]="selectedDomainOfInfluence"
                 (valueChange)="selectedDomainOfInfluence = $event; contentChanged.emit()"
                 [label]="'POLITICAL_BUSINESS.DOMAIN_OF_INFLUENCE' | translate"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>
    <bc-button *ngIf="!!selectedDomainOfInfluence"
               class="nowrap"
               variant="tertiary"
               [label]="'POLITICAL_BUSINESS.COUNTING_CIRCLES' | translate"
               (buttonClick)="openAssignedCountingCirclesDialog()"></bc-button>
  </div>


  <bc-dropdown class="full-width"
               [items]="domainOfInfluenceLevels"
               [readonly]="contest.locked || readonly || locked"
               displayExpr="desc"
               valueExpr="level"
               [required]="true"
               [value]="data.reportDomainOfInfluenceLevel"
               (valueChange)="data.reportDomainOfInfluenceLevel = $event; contentChanged.emit()"
               [label]="'POLITICAL_BUSINESS.REPORT_LEVEL' | translate"
               [subscriptSizing]="'dynamic'"></bc-dropdown>

  <app-vote-result-algorithm-selection [domainOfInfluenceType]="selectedDomainOfInfluenceType"
                                       [data]="data"
                                       (contentChanged)="contentChanged.emit()"
                                       [readonly]="contest.testingPhaseEnded || readonly || locked || !isNew"
  ></app-vote-result-algorithm-selection>
</div>
