<vo-lib-dialog>
  <h1 header translate>ELECTION_GROUP.EDIT</h1>

  <div content class="form mr-3 mb-3">
    <bc-text [label]="'ELECTION_GROUP.DESCRIPTION' | translate"
             [required]="true"
             [maxlength]="255"
             [(value)]="electionGroup.description"></bc-text>
  </div>

  <div footer class="mr-3">
    <vo-lib-button-bar footer
                       [canSave]="canSave"
                       [saving]="saving"
                       [sticky]="false"
                       (save)="save()"
                       [saveLabel]="'ACTIONS.SAVE' | translate"
                       (cancel)="cancel()"></vo-lib-button-bar>
  </div>
</vo-lib-dialog>
