<vo-lib-page
  [contentLoading]="initialLoading"
  [header]="isNew ? 'PROPORTIONAL_ELECTION.NEW' : 'PROPORTIONAL_ELECTION.EDIT'"
  [showBackButton]="true"
  [backButtonNavigateCommands]="['../../']"
>
  <bc-simple-stepper #stepper labelPosition="bottom" linear>
    <bc-simple-step [label]="'POLITICAL_BUSINESS.GENERAL_INFORMATION' | translate">
      <ng-container *ngIf="data.contestId && stepper.selectedIndex === 0">
        <app-proportional-election-general-informations
          #step1
          [data]="data"
          [proportionalElectionMandateAlgorithmsList]="contestDomainOfInfluenceDefaults.proportionalElectionMandateAlgorithmsList"
          (contentChanged)="contentChanged()"
        ></app-proportional-election-general-informations>
        <div class="stepper-footer">
          <vo-lib-inline-spinner class="align-right"
                                 position="left"
                                 [loading]="stepLoading">
            <bc-button variant="primary"
                       [disabled]="!step1.canSave || stepLoading"
                       [label]="'APP.NEXT' | translate"
                       (buttonClick)="saveProportionalElection()"></bc-button>
          </vo-lib-inline-spinner>
        </div>
      </ng-container>
    </bc-simple-step>
    <bc-simple-step [label]="'PROPORTIONAL_ELECTION.LIST_STEP' | translate" [disabled]="stepper.selectedIndex === 0 && !step1?.canSave">
      <ng-container *ngIf="data.id && stepper.selectedIndex === 1">
        <app-proportional-election-lists
          #step2
          [testingPhaseEnded]="testingPhaseEnded"
          [locked]="locked"
          [readonly]="!canEdit"
          [candidateLocalityRequired]="contestDomainOfInfluenceDefaults.candidateLocalityRequired"
          [candidateOriginRequired]="contestDomainOfInfluenceDefaults.candidateOriginRequired"
          [proportionalElection]="data"
        >
        </app-proportional-election-lists>

        <div class="stepper-footer">
          <bc-button (buttonClick)="back()" [label]="'APP.BACK' | translate"></bc-button>

          <bc-button
            variant="primary"
            [disabled]="!step2.canSave"
            [label]="'APP.NEXT' | translate"
            (buttonClick)="stepper.next()"
          ></bc-button>
        </div>
      </ng-container>
    </bc-simple-step>
    <bc-simple-step
      [label]="'POLITICAL_BUSINESS.RESULT_ENTRY_INFORMATION' | translate"
      [disabled]="stepper.selectedIndex !== 2 && !step2?.canSave"
    >
      <ng-container *ngIf="data.id && stepper.selectedIndex === 2">
        <app-proportional-election-erfassung-informations
          #step3
          [testingPhaseEnded]="testingPhaseEnded"
          [locked]="locked"
          [readonly]="!canEdit"
          [data]="data"
          [useCandidateCheckDigit]="contestDomainOfInfluenceDefaults.proportionalElectionUseCandidateCheckDigit"
          (contentChanged)="contentChanged()"
        ></app-proportional-election-erfassung-informations>

        <div class="stepper-footer">
          <bc-button (buttonClick)="back()" [label]="'APP.BACK' | translate"></bc-button>

          <vo-lib-inline-spinner position="left"
                                 [loading]="stepLoading">
            <bc-button variant="primary"
                       [disabled]="!step3.canSave || stepLoading"
                       [label]="'APP.FINISH' | translate"
                       (buttonClick)="saveProportionalElection(true)"></bc-button>
          </vo-lib-inline-spinner>
        </div>
      </ng-container>
    </bc-simple-step>
  </bc-simple-stepper>
</vo-lib-page>
