<bc-autocomplete
  class="mt-2 full-width"
  [label]="'DOMAIN_OF_INFLUENCE.SUPERIOR_AUTHORITY_DOMAIN_OF_INFLUENCE' | translate"
  [items]="filteredDomainOfInfluenceSelectionItems"
  [readonly]="readonly"
  [required]="true"
  [clearable]="false"
  displayExpr="label"
  [focusOnLoad]="false"
  [value]="this.selectedDomainOfInfluenceSelectionItem?.label"
  (valueChange)="setSelectedDomainOfInfluenceSelectionItem($event)"
  (filterValueChange)="searchDomainOfInfluences($event)"
  [subscriptSizing]="'dynamic'"
></bc-autocomplete>
