.mat-mdc-form-field-infix {
  // workaround since the bc form fields has a fix height of 44px
  // without this, some paddings would overlap
  --mat-form-field-container-height: 44px;
}

bc-checkbox ~ bc-checkbox {
  margin-left: 0 !important;
}

// workaround since the bc-number always show the clear and shifts other elements, related to ticket BC-765.
bc-number .clear {
  display: none !important;
}
