<vo-lib-dialog [contentLoading]="loading">
  <h1 header>{{!isNew ? ('CONTEST.EDIT' | translate) : ('CONTEST.NEW' | translate)}}</h1>

  <div content class="form mr-3">
    <bc-dropdown *ngIf="domainOfInfluences.length !== 1"
                 [items]="domainOfInfluences"
                 [disabled]="!isNew"
                 displayExpr="name"
                 valueExpr="id"
                 [required]="true"
                 [value]="data.domainOfInfluenceId"
                 (valueChange)="updateDomainOfInfluenceId($event); contentChanged()"
                 [label]="'CONTEST.DOMAIN_OF_INFLUENCE' | translate"
                 [subscriptSizing]="'dynamic'"></bc-dropdown>

    <ng-container *ngIf="isNew; else editDate">
      <bc-dropdown [label]="'CONTEST.PRECONFIGURED_DATE' | translate"
                   [disabled]="customDateSelected || testingPhaseEnded"
                   [items]="preconfiguredDates"
                   [value]="selectedPreconfiguredDate"
                   [required]="true"
                   (valueChange)="updateSelectedPreconfiguredDate($event); contentChanged()"
                   displayExpr="displayValue"
                   [subscriptSizing]="'dynamic'"></bc-dropdown>
      <bc-checkbox [checked]="customDateSelected"
                   (checkedChange)="customDateSelected = $event; contentChanged()"
                   [disabled]="testingPhaseEnded"
                   [label]="'CONTEST.CHOOSE_CUSTOM_DATE' | translate"></bc-checkbox>
      <bc-date [label]="'CONTEST.CUSTOM_DATE' | translate"
               [disabled]="!customDateSelected || testingPhaseEnded"
               [required]="customDateSelected"
               [value]="data.date | date"
               (valueChange)="updateDate($event); contentChanged()"
               [subscriptSizing]="'dynamic'"></bc-date>
    </ng-container>
    <ng-template #editDate>
      <bc-date [label]="'CONTEST.CONTEST_DATE' | translate"
                    [required]="true"
                    [disabled]="testingPhaseEnded"
                    [value]="data.date | date"
                    (valueChange)="updateDate($event); contentChanged()"
                    [subscriptSizing]="'dynamic'"></bc-date>
    </ng-template>

    <app-translated-formfield [label]="'CONTEST.DESCRIPTION' | translate"
                              [disabled]="testingPhaseEnded"
                              [maxlength]="100"
                              [value]="data.description"
                              (valueChange)="data.description = $event; contentChanged()"
                              [singleLanguageInput]="true"></app-translated-formfield>
    <div class="flex">
      <bc-date [label]="'CONTEST.END_OF_TESTING_PHASE' | translate"
               [disabled]="testingPhaseEnded"
               [required]="true"
               [error]="
                    data.endOfTestingPhase !== undefined &&
                    data.date !== undefined &&
                    (data.endOfTestingPhase < now || data.endOfTestingPhase > data.date)
                  "
               [value]="data.endOfTestingPhase | date"
               (valueChange)="endOfTestingPhaseString = $event;
               setTime(endOfTestingPhaseTimeValue, data.endOfTestingPhase);
               contentChanged()"
               [subscriptSizing]="'dynamic'"></bc-date>
      <bc-time class="ml-2"
               [showEmptyLabel]="true"
               [disabled]="testingPhaseEnded"
               optionalText=""
               icon="clock-o"
               [value]="endOfTestingPhaseTimeValue"
               (valueChange)="endOfTestingPhaseTimeValue = $event;
               setTime(endOfTestingPhaseTimeValue, data.endOfTestingPhase);
               contentChanged()"
               [subscriptSizing]="'dynamic'"></bc-time>
    </div>

    <bc-spinner class="block" size="1.5rem" *ngIf="pastContestsLoading; else pastContestsDropdown"></bc-spinner>
    <ng-template #pastContestsDropdown>
      <bc-dropdown *ngIf="pastContests.length > 0 && !this.cantonDefaults?.internalPlausibilisationDisabled"
                   [disabled]="testingPhaseEnded"
                   [items]="pastContests"
                   displayExpr="dateString"
                   valueExpr="id"
                   [required]="true"
                   [value]="data.previousContestId"
                   (valueChange)="data.previousContestId = $event; contentChanged()"
                   [label]="'CONTEST.PREVIOUS_CONTEST' | translate"
                   [subscriptSizing]="'dynamic'"></bc-dropdown>
    </ng-template>

    <bc-checkbox [checked]="data.eVoting"
                 [disabled]="testingPhaseEnded"
                 [label]="'CONTEST.E_VOTING' | translate"
                 (checkedChange)="data.eVoting = $event; contentChanged()"></bc-checkbox>

    <ng-container *ngIf="data.eVoting">
      <div class="flex">
        <bc-date [label]="'CONTEST.E_VOTING_FROM' | translate"
                 [disabled]="testingPhaseEnded"
                 [required]="true"
                 [value]="data.eVotingFrom | date"
                 (valueChange)="eVotingFromString = $event; setTime(eVotingFromTimeValue, data.eVotingFrom); contentChanged()"
                 [subscriptSizing]="'dynamic'"></bc-date>
        <bc-time class="ml-2"
                 [showEmptyLabel]="true"
                 optionalText=""
                 icon="clock-o"
                 [value]="eVotingFromTimeValue"
                 (valueChange)="eVotingFromTimeValue = $event; setTime(eVotingFromTimeValue, data.eVotingFrom); contentChanged()"
                 [subscriptSizing]="'dynamic'"></bc-time>
      </div>

      <div class="flex">
        <bc-date [label]="'CONTEST.E_VOTING_TO' | translate"
                 [disabled]="testingPhaseEnded"
                 [required]="true"
                 [value]="data.eVotingTo | date"
                 (valueChange)="eVotingToString = $event; setTime(eVotingToTimeValue, data.eVotingTo); contentChanged()"
                 [subscriptSizing]="'dynamic'"></bc-date>
        <bc-time class="ml-2"
                 [showEmptyLabel]="true"
                 optionalText=""
                 icon="clock-o"
                 [value]="eVotingToTimeValue"
                 (valueChange)="eVotingToTimeValue = $event; setTime(eVotingToTimeValue, data.eVotingTo); contentChanged()"
                 [subscriptSizing]="'dynamic'"></bc-time>
      </div>
    </ng-container>
  </div>

  <div footer class="mr-3">
    <vo-lib-button-bar footer
                       [canSave]="canSave"
                       [saving]="saving"
                       [sticky]="false"
                       (save)="save()"
                       (cancel)="closeWithUnsavedChangesCheck()"></vo-lib-button-bar>
  </div>
</vo-lib-dialog>
