@use '../node_modules/normalize.css/normalize.css';
@use '@abraxas/voting-lib/style' as *;
@use './sharedStyles';

body {
  margin: 0;
}

.block {
  display: block !important;
}

.full-width {
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.no-items-message {
  font-style: italic;
}

.flex-shrink-3 {
  flex-shrink: 3;
}

.flex {
  display: flex;
  justify-content: flex-end;
}

.no-data {
  font-style: italic;
}

.mat-mdc-dialog-container {
  overflow: visible !important;

  // custom dialog component needs to be flex to have a fixed child height
  > * {
    display: flex;
  }
}

.mat-mdc-step-header {
  // disable material stepping by mat-mdc-step click
  pointer-events: none !important;

  .mat-mdc-step-icon {
    color: $color-white !important;
    background-color: $color-primary;
  }

  &[aria-selected='true'] ~ .mat-mdc-step-header .mat-mdc-step-icon {
    background-color: rgba(0 0 0 / 54%) !important;
  }
}

.stepper-footer {
  @extend .mt-4;

  display: flex;
  justify-content: space-between;

  .align-right {
    margin-left: auto;
  }
}

.step-content {
  @extend .mt-4;
}

.mat-mdc-form-field-wrapper {
  padding-bottom: 0;
}

.snackbar {
  margin-top: 5rem !important;
}

vo-lib-dialog {
  margin: 1.5rem;
}

bc-radio-button-group .mat-mdc-radio-button ~ .mat-mdc-radio-button:not(.inline) {
  margin-top: 0 !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

bc-switch .error-msg {
  margin-top: 0;
}
