<bc-expansion-panel [header]="data.politicalBusinessNumber + ': ' + (data.officialDescription | getTranslation)" [expanded]="true">
  <bc-text [label]="'POLITICAL_BUSINESS.NUMBER' | translate"
           [required]="true"
           [value]="data.politicalBusinessNumber"
           (valueChange)="data.politicalBusinessNumber = $event; setIsApplied(false)"
           [subscriptSizing]="'dynamic'"></bc-text>

  <bc-dropdown class="full-width"
               *ngIf="domainOfInfluenceTypes.length > 1"
               [label]="'DOMAIN_OF_INFLUENCE.TYPE' | translate"
               [items]="domainOfInfluenceTypes"
               [clearable]="false"
               displayExpr="description"
               valueExpr="value"
               [required]="true"
               [(value)]="selectedDomainOfInfluenceType"
               [subscriptSizing]="'dynamic'"></bc-dropdown>

  <bc-dropdown class="full-width"
               *ngIf="selectedDomainOfInfluenceType"
               [items]="domainOfInfluencesByType[selectedDomainOfInfluenceType]"
               displayExpr="name"
               [required]="true"
               [(value)]="selectedDomainOfInfluence"
               [label]="'POLITICAL_BUSINESS.DOMAIN_OF_INFLUENCE' | translate"
               [subscriptSizing]="'dynamic'"></bc-dropdown>

  <bc-dropdown class="full-width"
               *ngIf="!!domainOfInfluenceDefaults"
               [label]="'MAJORITY_ELECTION.MANDATE_ALGORITHM.TITLE' | translate"
               [items]="mandateAlgorithms"
               displayExpr="description"
               valueExpr="value"
               [required]="true"
               [value]="data.mandateAlgorithm"
               (valueChange)="data.mandateAlgorithm = $event; setIsApplied(false)"
               [subscriptSizing]="'dynamic'"></bc-dropdown>

  <div>
    <bc-spinner *ngIf="loadingParties; else partyMappingContent" class="mt-3"></bc-spinner>
    <ng-template #partyMappingContent>
      <app-import-proportional-election-party-mapping
        *ngIf="partyMappings !== undefined && partyMappings.parties.length > 0"
        class="mt-3"
        [data]="partyMappings!"
        (mappingsChange)="setIsApplied(false)"
      ></app-import-proportional-election-party-mapping>
    </ng-template>
  </div>

  <div class="button-container">
    <bc-icon *ngIf="isApplied" class="mr-2" iconColor="success" icon="checkmark"></bc-icon>
    <bc-button variant="primary"
               [label]="'ACTIONS.APPLY' | translate"
               [disabled]="isApplied || !data.politicalBusinessNumber || !data.domainOfInfluenceId || loadingParties"
               (buttonClick)="apply()">
    </bc-button>
  </div>
</bc-expansion-panel>
