<vo-lib-dialog [contentLoading]="loading">
  <h1 header>{{!isNew ? ('MAJORITY_ELECTION.CANDIDATE.EDIT' | translate) : ('MAJORITY_ELECTION.CANDIDATE.NEW' | translate)}}</h1>

  <div content>
      <bc-checkbox [(checked)]="selectCandidateFromPrimaryElection"
                   (checkedChange)="updateFromPrimary($event)"
                   [disabled]="!isNew"
                   [label]="'SECONDARY_ELECTION.MAJORITY.SELECT_CANDIDATE_FROM_PRIMARY' | translate"
                   [subscriptSizing]="'dynamic'"></bc-checkbox>
      <bc-dropdown class="full-width mb-4"
                   [items]="majorityElectionCandidates"
                   [clearable]="false"
                   [required]="true"
                   [readonly]="!selectCandidateFromPrimaryElection || !isNew"
                   displayExpr="displayName"
                   [value]="selectedMajorityElectionCandidate"
                   (valueChange)="selectCandidate($event)"
                   [subscriptSizing]="'dynamic'"></bc-dropdown>

      <app-majority-election-candidate-edit [candidate]="candidate"
                                            [testingPhaseEnded]="testingPhaseEnded"
                                            (contentChanged)="contentChanged()"
                                            [isCandidateReference]="selectCandidateFromPrimaryElection"
                                            [isCandidateLocalityRequired]="isCandidateLocalityRequired"
                                            [isCandidateOriginRequired]="isCandidateOriginRequired"
                                            [partyShortDescriptions]="partyShortDescriptions">
      </app-majority-election-candidate-edit>
  </div>

  <div footer class="mr-3">
    <vo-lib-button-bar footer
                    [canSave]="canSave"
                    [saving]="saving"
                    [sticky]="false"
                    (save)="save()"
                    (cancel)="closeWithUnsavedChangesCheck()"></vo-lib-button-bar>
  </div>
</vo-lib-dialog>
