<bc-table class="w-full" [dataSource]="electionGroups">
  <ng-container columnDef="number">
    <bc-header-cell *headerCellDef>{{ 'ELECTION_GROUP.NUMBER' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.number }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="description">
    <bc-header-cell *headerCellDef>{{ 'ELECTION_GROUP.DESCRIPTION' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.description }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="primaryBusinessNumber">
    <bc-header-cell *headerCellDef>{{ 'ELECTION_GROUP.PRIMARY_ELECTION' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">{{ element.primaryMajorityElection.politicalBusinessNumber }}</bc-data-cell>
  </ng-container>

  <ng-container columnDef="secondaryElections">
    <bc-header-cell *headerCellDef>{{ 'ELECTION_GROUP.SECONDARY_ELECTIONS' | translate }}</bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <div class="cell-container">{{ getSecondaryElectionPoliticalBusinessNumbers(element) }}</div>
    </bc-data-cell>
  </ng-container>

  <ng-container columnDef="actions">
    <bc-header-cell *headerCellDef class="actions-header"></bc-header-cell>
    <bc-data-cell *dataCellDef="let element">
      <bc-icon *ngIf="!readonly && canEdit(element)" class="clickable" (click)="edit(element)" icon="edit"></bc-icon>
    </bc-data-cell>
  </ng-container>

  <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
  <bc-data-row *dataRowDef="let row; columns: columns; let i = index"></bc-data-row>
</bc-table>
