<div class="grid">
  <div left>
    <bc-spinner class="block" *ngIf="loading; else listOverview"></bc-spinner>
    <ng-template #listOverview>
      <h2 translate>PROPORTIONAL_ELECTION.LIST.TITLE</h2>

      <div class="buttons">
        <bc-button
          variant="tertiary"
          icon="plus"
          [disabled]="testingPhaseEnded || readonly"
          [label]="'PROPORTIONAL_ELECTION.LIST.NEW' | translate"
          (buttonClick)="createList()"
        ></bc-button>

        <bc-button
          [disabled]="testingPhaseEnded || readonly"
          variant="tertiary"
          icon="download"
          [label]="'IMPORT.IMPORT_PROPORTIONAL_ELECTION_LISTS_AND_CANDIDATES' | translate"
          (buttonClick)="importListsAndCandidates()"
        ></bc-button>

        <bc-button
          *ngIf="hasHagenbachBischoffDistribution"
          variant="tertiary"
          (buttonClick)="manageListUnions()"
          [label]="'PROPORTIONAL_ELECTION.LIST_UNION.MANAGE' | translate"
          [disabled]="testingPhaseEnded || readonly"
        ></bc-button>
      </div>

      <bc-table
        selection
        class="w-full"
        [dataSource]="lists"
        cdkDropList
        [cdkDropListData]="lists"
        [cdkDropListDisabled]="testingPhaseEnded || readonly"
        (cdkDropListDropped)="moveList($event.previousIndex, $event.currentIndex)"
      >
        <ng-container columnDef="orderNumber">
          <bc-header-cell *headerCellDef>
            <app-truncated-value [value]="'PROPORTIONAL_ELECTION.LIST.ORDER_NUMBER' | translate"></app-truncated-value>
          </bc-header-cell>
          <bc-data-cell *dataCellDef="let element">
            <app-truncated-value [value]="element.orderNumber"></app-truncated-value>
          </bc-data-cell>
        </ng-container>

        <ng-container columnDef="shortDescription">
          <bc-header-cell *headerCellDef [class.hagenbach-bischoff]="hasHagenbachBischoffDistribution">
            <app-truncated-value [value]="'PROPORTIONAL_ELECTION.LIST.SHORT_DESCRIPTION' | translate"></app-truncated-value>
          </bc-header-cell>
          <bc-data-cell *dataCellDef="let element">
            <app-truncated-value [value]="element.shortDescription | getTranslation"></app-truncated-value>
          </bc-data-cell>
        </ng-container>

        <ng-container columnDef="blankRowCount">
          <bc-header-cell *headerCellDef>
            <app-truncated-value [value]="'PROPORTIONAL_ELECTION.LIST.BLANK_ROW_COUNT' | translate"></app-truncated-value>
          </bc-header-cell>
          <bc-data-cell *dataCellDef="let element">
            <app-truncated-value [value]="element.blankRowCount"></app-truncated-value>
          </bc-data-cell>
        </ng-container>

        <ng-container columnDef="listUnionDescription">
          <bc-header-cell *headerCellDef>
            <app-truncated-value [value]="'PROPORTIONAL_ELECTION.LIST_UNION.TITLE' | translate"></app-truncated-value>
          </bc-header-cell>
          <bc-data-cell *dataCellDef="let element">
            <ng-container *ngTemplateOutlet="listUnionDescriptionCol; context: { $implicit: element.listUnionDescription }"></ng-container>
          </bc-data-cell>
        </ng-container>

        <ng-container columnDef="subListUnionDescription">
          <bc-header-cell *headerCellDef>
            <app-truncated-value [value]="'PROPORTIONAL_ELECTION.SUB_LIST_UNION.TITLE' | translate"></app-truncated-value>
          </bc-header-cell>
          <bc-data-cell *dataCellDef="let element">
            <ng-container
              *ngTemplateOutlet="listUnionDescriptionCol; context: { $implicit: element.subListUnionDescription }"
            ></ng-container>
          </bc-data-cell>
        </ng-container>

        <ng-container columnDef="actions">
          <bc-header-cell *headerCellDef></bc-header-cell>
          <bc-data-cell *dataCellDef="let element">
            <div *ngIf="!locked && !readonly" class="flex">
              <bc-icon (click)="editList(element); $event.stopPropagation()" icon="edit"></bc-icon>
              <bc-icon
                *ngIf="!testingPhaseEnded && !readonly"
                class="ml-2"
                (click)="deleteList(element); $event.stopPropagation()"
                icon="trash"
                iconColor="error"
              ></bc-icon>
            </div>
          </bc-data-cell>
        </ng-container>

        <bc-header-row *headerRowDef="let row; columns: columns"></bc-header-row>
        <bc-data-row
          *dataRowDef="let row; columns: columns; let i = index"
          #rowSelection="selectionToggle"
          selectionToggle
          [selectionToggleValue]="row"
          selectionRow
          [selectionRowValue]="row"
          (click)="rowSelection.toggle(); selectList(row)"
          cdkDrag
          [cdkDragDisabled]="testingPhaseEnded"
          [cdkDragData]="row"
        ></bc-data-row>
        <ng-template #listUnionDescriptionCol let-element>
          <!-- 'List union descriptions are validated on the server, they do not contain user-controlled HTML.
          It is safe to display the description directly as HTML' -->
          <div class="list-union-description" [innerHTML]="element | safeHtml"></div>
        </ng-template>
      </bc-table>
    </ng-template>
  </div>

  <bc-divider orientation="vertical" class="ml-4"></bc-divider>

  <div right>
    <ng-container *ngIf="selectedList; else noListSelected">
      <h2>{{ selectedList.shortDescription | getTranslation }}</h2>
      <app-proportional-election-candidates
        [list]="selectedList"
        [domainOfInfluenceId]="proportionalElection.domainOfInfluenceId"
        [testingPhaseEnded]="testingPhaseEnded"
        [locked]="locked"
        [readonly]="readonly"
        [candidateLocalityRequired]="candidateLocalityRequired"
        [candidateOriginRequired]="candidateOriginRequired"
        (candidateCreated)="candidateCreated(selectedList, $event)"
        (candidateDeleted)="candidateDeleted(selectedList, $event)"
        (candidateUpdated)="candidateAccumulationUpdated(selectedList, $event.candidate.accumulated, $event.wasAccumulated)"
        [maxCandidateCount]="proportionalElection.numberOfMandates - selectedList.blankRowCount"
        [parties]="parties"
      >
      </app-proportional-election-candidates>
    </ng-container>
    <ng-template #noListSelected>
      <p class="no-items-message" translate>PROPORTIONAL_ELECTION.LIST.NO_LIST_SELECTED</p>
    </ng-template>
  </div>
</div>
