@if (loading) {
  <bc-spinner class="block"></bc-spinner>
} @else {
  <bc-table class="w-full" [dataSource]="dataSource">
    <ng-container columnDef="orderNumber">
      <th bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION_UNION.UNION_LIST.ORDER_NUMBER' | translate"></app-truncated-value>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.orderNumber"></app-truncated-value>
      </td>
    </ng-container>

    <ng-container columnDef="shortDescription">
      <th bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION_UNION.UNION_LIST.SHORT_DESCRIPTION' | translate"></app-truncated-value>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.shortDescription | getTranslation"></app-truncated-value>
      </td>
    </ng-container>

    <ng-container columnDef="politicalBusinessNumbers">
      <th bc-header-cell *headerCellDef>
        <app-truncated-value
          [value]="'PROPORTIONAL_ELECTION_UNION.UNION_LIST.POLITICAL_BUSINESS_NUMBERS' | translate"
        ></app-truncated-value>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.politicalBusinessNumbers"></app-truncated-value>
      </td>
    </ng-container>

    <ng-container columnDef="listCount">
      <th bc-header-cell *headerCellDef>
        <app-truncated-value [value]="'PROPORTIONAL_ELECTION_UNION.UNION_LIST.LIST_COUNT' | translate"></app-truncated-value>
      </th>
      <td bc-data-cell *dataCellDef="let element">
        <app-truncated-value [value]="element.listCount"></app-truncated-value>
      </td>
    </ng-container>

    <tr bc-header-row *headerRowDef="let row; columns: columns"></tr>
    <tr bc-data-row *dataRowDef="let row; columns: columns; let i = index"></tr>
  </bc-table>
}
<bc-paginator #paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 20]"></bc-paginator>
