<div content class="form mr-3">
  <bc-text [label]="'MAJORITY_ELECTION.BALLOT_GROUP.SHORT_DESCRIPTION' | translate"
           [required]="true"
           [value]="ballotGroup.shortDescription"
           (valueChange)="ballotGroup.shortDescription = $event; contentChanged()"
           [subscriptSizing]="'dynamic'"></bc-text>

  <div class="form-group">
    <bc-label [label]="'MAJORITY_ELECTION.BALLOT_GROUP.DESCRIPTION' | translate"></bc-label>
    <bc-textarea [required]="true"
                 class="full-width"
                 [value]="ballotGroup.description"
                 (valueChange)="ballotGroup.description = $event; contentChanged()"
                 [subscriptSizing]="'dynamic'"></bc-textarea>
  </div>
</div>
